html {
  height: 100%;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.woff2') format('woff2'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold.woff2') format('woff2'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100%;
  width: 100%;
  background: #166db1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham';
  font-weight: 500;
  color: #fff;
  overflow: hidden;
}
header {
  width: 100%;
  background: #153f7b;
  z-index: 11;
}
header .fyc-banner a {
  position: relative;
  display: block;
}
header .fyc-banner .title {
  display: inline-block;
  color: #b4bccd;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1em;
}
header nav {
  background: #fff;
}
header nav ul {
  margin: 0 auto;
}
header nav ul li {
  color: #2498ca;
  cursor: pointer;
  font-family: 'CenturyGothic';
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
header nav ul li.selected {
  color: #e69441;
}
header nav ul li .submenu-holder {
  min-width: 270px;
}
header nav ul li .submenu {
  position: relative;
  font-weight: 500;
  transition: margin-top 0.5s;
}
header nav ul li .submenu > div {
  cursor: pointer;
  position: relative;
  transition: right 0.3s;
  right: 0;
}
header nav ul li .submenu > div:hover {
  right: 10px;
}
header nav ul li .submenu > div.selected {
  text-decoration: underline;
}
header nav ul li.open .submenu-holder {
  display: block;
}
header nav ul li.open .submenu-holder .submenu {
  margin-top: 0;
}
footer {
  font-size: 9px;
  line-height: 1.3em;
  box-sizing: border-box;
  z-index: 10;
}
footer span {
  color: #fee797;
}
footer a {
  color: inherit;
  text-decoration: none;
  border-right: 1px solid #fee797;
  padding-right: 5px;
  margin-left: 3px;
}
footer a:hover {
  color: #fee797;
}
footer a:last-of-type {
  border-right: none;
  padding-right: 0;
}
body > footer {
  bottom: 2vh;
  width: 100%;
  z-index: 1;
  padding: 0 2vh;
  box-sizing: border-box;
}
var {
  display: none;
}
.stat {
  transition: none !important;
}
.slider {
  width: 100%;
  height: 100%;
}
.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
}
.photo:first-child {
  left: 0;
}
.photo img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-58%);
  position: relative;
}
#page-holder {
  position: relative;
  display: none;
}
.arrow {
  position: absolute;
  width: 40px;
  height: 70px;
  cursor: pointer;
  top: 50%;
  background-size: 100%;
}
.left-arrow {
  left: 1%;
  transform: translateY(-50%);
  background-image: url(../img/ui/left-arrow.svg);
}
.right-arrow {
  right: 1%;
  transform: translateY(-50%);
  background-image: url(../img/ui/right-arrow.svg);
}
#batb-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  z-index: 11;
}
#batb-overlay .close-btn {
  position: absolute;
  top: 3vh;
  right: 3vh;
  background: url(../img/batb/makingof/close-btn.png) no-repeat;
  background-size: 100%;
  width: 10vh;
  padding-top: 4vh;
  z-index: 5;
}
#batb-overlay .overlay-content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
#batb-overlay .overlay-content > div {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  display: none;
  width: 100%;
}
#batb-overlay .overlay-content .batb-synopsis,
#batb-overlay .overlay-content .newman-bio {
  margin: 0 auto;
  max-width: 850px;
  width: 90%;
  font-size: 1.6vh;
  line-height: 1.3em;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
#batb-overlay .overlay-content .women-of {
  font-size: 18px;
  padding-bottom: 20px;
  box-sizing: border-box;
  width: 80%;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
}
#batb-overlay .overlay-content .women-of .scrollable {
  width: 95%;
}
#batb-overlay .overlay-content .women-of .scroller {
  left: 95%;
}
#batb-overlay .overlay-content .women-of h3 {
  font-size: 2.2em;
  margin: 4vh 0 2vh;
}
#batb-overlay .overlay-content .women-of img {
  margin: 2vh 0;
}
#batb-overlay .overlay-content .women-of p {
  font-weight: 300;
  line-height: 1.3em;
}
#batb-overlay .overlay-content .photo img {
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: auto;
}
#batb-overlay .overlay-content .dressing-the-part .video-container h3 {
  text-align: center;
}
#batb-overlay .overlay-content .video-container {
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.play-btn {
  background: url(../img/ui/play-pause-btn.png) no-repeat;
  cursor: pointer;
  background-size: 100%;
}
.play-btn.playing {
  background-position: 0 100%;
}
.dots {
  display: none;
}
#rsvp-form {
  background: #fff;
  color: #153f7b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 12;
  padding: 30px;
  display: none;
  width: 520px;
}
#rsvp-form h2 {
  font-weight: 300;
  margin: 0;
  font-size: 46px;
  float: left;
  border-right: 1px solid rgba(21, 63, 123, 0.3);
  padding-right: 20px;
}
#rsvp-form .london {
  line-height: 1.3em;
}
#rsvp-form .london a {
  text-decoration: none;
}
#rsvp-form .screening-info {
  float: left;
  margin-left: 10px;
  position: relative;
  top: 0px;
  margin-bottom: 20px;
  width: 65%;
}
#rsvp-form .screening-info .movie {
  font-weight: 700;
}
#rsvp-form .screening-info .date {
  text-transform: capitalize;
}
#rsvp-form form {
  clear: left;
  display: block;
}
#rsvp-form form .input {
  height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  width: calc(50% - 17px);
  display: inline-block;
  font: inherit;
  line-height: 50px;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
}
#rsvp-form form .input > div {
  cursor: pointer;
  position: relative;
}
#rsvp-form form .input > div span {
  margin-left: 10px;
}
#rsvp-form form .input > div.error:not(.hasDropdown) {
  font-size: 12px;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  line-height: 1.6em;
}
#rsvp-form form .input .hasDropdown.error {
  color: #ff0000;
}
#rsvp-form form .input.pushRight {
  margin-right: 24px;
}
#rsvp-form form .input.fullWidth {
  width: 100%;
}
#rsvp-form form input {
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 0 10px;
  box-sizing: border-box;
}
#rsvp-form form input.error {
  color: #ff0000;
}
#rsvp-form form input::-webkit-input-placeholder {
  color: inherit;
  font: inherit;
}
#rsvp-form form input,
#rsvp-form form .hasDropdown {
  color: #153f7b;
  border: 1px solid;
}
#rsvp-form form .hasDropdown {
  background: url(../img/dropdown-arrow.jpg) no-repeat;
  background-position: 95% center;
}
#rsvp-form form .dropdown {
  position: absolute;
  max-height: 130px;
  overflow-y: auto;
  background: #fff;
  width: 100%;
  right: -1px;
  top: 100%;
  border: 1px solid;
  display: none;
  z-index: 1;
}
#rsvp-form form .dropdown .value {
  padding: 0 20px;
  box-sizing: border-box;
  height: 30px;
  border-bottom: 1px solid;
  line-height: 30px;
  background: #EEE;
  text-align: right;
}
#rsvp-form form .dropdown .value:last-child {
  border-bottom: none;
}
#rsvp-form form .dropdown .value:hover {
  background: #153f7b;
  color: #fff;
}
#rsvp-form form .submit-btn {
  background: #e69441;
  color: #fff;
  clear: left;
  line-height: 43px;
  padding: 5px 0px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  text-align: center;
}
#rsvp-form form .submit-btn:hover {
  background: #f77c00;
}
#rsvp-form #rsvp-message {
  font-size: 14px;
  line-height: 1.2em;
  display: none;
  text-align: center;
}
#rsvp-form #rsvp-message h3 {
  font-weight: 300;
  border-bottom: 1px solid rgba(21, 63, 123, 0.3);
  padding-bottom: 12px;
  font-size: 35px;
  display: inline-block;
  margin: 0 auto;
  line-height: 1em;
}
#rsvp-form #rsvp-message h4 {
  font-weight: 300;
  font-size: 20px;
}
#rsvp-form #rsvp-message div:first-of-type {
  font-weight: bold;
  font-size: 18px;
}
#rsvp-form .rsvp-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  padding-right: 20px;
  cursor: pointer;
}
#rsvp-form .rsvp-close-btn .x {
  color: #e69441;
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}
#add-to-calendar {
  background: #e69441;
  color: #fff;
  clear: left;
  line-height: 43px;
  padding: 6px 0  4px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 29px auto 0;
  font-size: 18px;
  width: 212px;
  position: relative;
}
#add-to-calendar > a {
  display: block;
  height: 100%;
}
#add-to-calendar > a:focus {
  outline: none;
}
#add-to-calendar:hover {
  background: #f77c00;
}
#add-to-calendar:hover ul {
  display: block;
}
#add-to-calendar ul {
  position: absolute;
  top: 100%;
  padding: 0 0 0 15px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: none;
  background: #fff;
  box-shadow: inset 0px 8px 10px -5px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid #e69441;
}
#add-to-calendar ul li {
  text-align: left;
  line-height: 1.4em;
}
#add-to-calendar ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #e69441;
}
#add-to-calendar ul li a:hover {
  color: #f77c00;
}
.scrollable {
  width: 100%;
  position: relative;
  margin-top: -1px;
  padding-top: 1px;
}
.loader {
  width: 50px;
  margin: 0 auto;
}
#preload {
  display: none;
}
.clear:after {
  display: table;
  content: "";
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
.openOverlay img {
  pointer-events: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
}
video {
  width: 100%;
  height: auto;
  display: block;
  background: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
.video-play-btn {
  height: 94.7%;
  background-image: url(../img/ui/video-play-btn.svg);
  background-position: 50%;
  background-size: 90px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  cursor: pointer;
}
.rotate {
  display: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.scroll-down {
  display: none;
}
#wrapper {
  background: #0f2d61;
  /* Old browsers */
  background: -webkit-linear-gradient(45deg, #0f2d61 0%, #0f2d61 10%, #153f84 34%, #0f2d60 50%, #0f2d60 63%, #0f3b75 77%, #0f2d61 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0f2d61 0%, #0f2d61 10%, #153f84 34%, #0f2d60 50%, #0f2d60 63%, #0f3b75 77%, #0f2d61 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#boxes {
  text-align: center;
}
#boxes > footer {
  display: none;
}
#boxes .box {
  cursor: pointer;
  z-index: 1;
  position: relative;
}
#boxes .box#batb-box .logo {
  width: 34%;
  top: 8%;
  right: 6%;
}
#boxes .box#cars-box .logo {
  width: 30%;
  height: 30%;
  margin-top: 29%;
  margin-left: 3%;
}
#boxes .box#coco-box .logo {
  position: absolute;
  top: 4%;
  right: 3%;
  width: 38%;
}
#boxes .box#thor-box .logo {
  top: 1%;
  right: 1%;
  width: 43%;
}
#boxes .box#lou-box .logo {
  width: 40%;
  top: 2%;
  left: 2%;
}
#boxes .box#sw-box .logo {
  width: 60%;
  right: 0;
}
#boxes .box .logo {
  position: absolute;
  pointer-events: none;
}
#boxes .box .light {
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.7;
  left: -106%;
  transition: left 0.8s;
  position: absolute;
  pointer-events: none;
}
#boxes .box .light img {
  height: 100%;
  width: 100%;
}
.page .limiter {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.page .limiter > div {
  display: none;
  position: relative;
}
.page .limiter .consider {
  text-align: center;
}
.page .limiter .consider .content {
  font-weight: 700;
}
.page .limiter .consider .content .logo {
  width: 30%;
  margin: 40px auto 0;
  left: 0;
  top: 0;
}
.page .limiter .consider .content p {
  margin: 0;
}
.page .limiter .consider .content h3 {
  margin: 0.5vh 0 0;
  font-size: 1.5em;
  line-height: 1.2em;
}
.page .limiter .consider .content .guild {
  font-size: 0.8em;
}
.page .limiter .consider .content .subline {
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1.1em;
}
.page .limiter .consider .content .name,
.page .limiter .consider .content .song {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 500;
}
.page .limiter .consider .content .left h3:first-child {
  margin-top: 0.5vh;
}
.page .limiter .consider .content .first {
  margin-bottom: 0.8vh;
}
.page .limiter .consider .content .first .h3 {
  font-size: 1.4em;
}
.page .limiter .consider .content .first .subline {
  font-size: 1.1em;
}
.page .limiter .consider .content .first p,
.page .limiter .consider .content .first .subline {
  line-height: 1.2em;
}
.page .limiter .consider .content .and {
  font-size: 0.8em;
}
.page .limiter .songs .content {
  left: 5vw;
}
.page .limiter .songs .content h2 {
  font-size: 2.8vh;
  font-weight: 500;
  margin-top: 4.5vh;
  margin-bottom: 3vw;
}
.page .limiter .songs .content .song {
  text-align: left;
  color: #f9e491;
  position: relative;
  padding-left: 7vh;
  font-weight: bold;
  margin-bottom: 4vh;
}
.page .limiter .songs .content .song .play-btn {
  width: 5.3vh;
  height: 5.4vh;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
.page .limiter .songs .content .song .song-title {
  font-size: 3.2vh;
  margin: 19px auto 5px;
}
.page .limiter .songs .content .song .written-by {
  font-size: 1.3vh;
  padding-left: 2vh;
  line-height: 1.2em;
}
.page .limiter .songs .content .song .written-by > div {
  color: #fff;
}
.page .limiter .songs .content .song .subline {
  font-size: 0.8em;
  margin: 2px 0;
}
.page .limiter .songs .content .song .name {
  font-size: 1.1em;
}
.page .limiter .songs .content .song .artist {
  display: inline-block;
  margin-top: 2vh;
  width: 18vh;
  margin-left: 2vh;
}
.page .limiter .score h2 {
  font-weight: 500;
}
.page .limiter .score .content {
  height: 100%;
}
.page .limiter .score .score-name {
  font-weight: 500;
}
.page .limiter .score .score-bio {
  line-height: 1.4em;
  font-weight: 500;
}
.page .limiter .score .score-bio .read-more {
  position: relative;
  top: -10px;
  right: 15px;
  color: #f9e491;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}
.page .limiter .score .download-btn {
  width: 70%;
  position: relative;
  margin: 2vh 0 2vh 5%;
}
.page .limiter .score .track-list {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.page .limiter .score .track-list .track {
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  color: #f9e491;
  width: 80%;
  position: relative;
}
.page .limiter .score .track-list .track.playing {
  top: 3px;
  position: relative;
  width: 100px;
}
.page .limiter .score .track-list .track.playing .play-btn {
  background-position: 0 100%;
}
.page .limiter .score .track-list .track .play-btn {
  float: left;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background: url(../img/ui/play-pause-btn.png) no-repeat;
  cursor: pointer;
  background-size: 100%;
}
.page .limiter .score .track-list .track .track-info {
  line-height: 1.2em;
  width: 89%;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13%;
}
.page .limiter .score .track-list .track .track-info .credits {
  font-size: 10px;
}
.page .limiter .score .track-list .track.active {
  color: #fff;
}
.page .limiter .score .track-list .track:after {
  clear: both;
  display: table;
  content: "";
}
.page .limiter .synopsis .content {
  line-height: 1.6em;
}
.page .limiter .screenings {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.page .limiter .screenings .content .cities-list {
  color: #ffe59b;
  text-align: center;
  font-size: 1.7vh;
}
.page .limiter .screenings .content .cities-list .city {
  cursor: pointer;
  text-transform: uppercase;
}
.page .limiter .screenings .content .cities-list .city.selected {
  background: #ffe59b;
  color: #184e77;
  text-shadow: none;
  padding: 3px 5px;
  top: -3px;
  position: relative;
}
.page .limiter .screenings .content .city-holder {
  position: relative;
  width: 100%;
  display: none;
  text-align: center;
  margin-top: 4vh;
  font-size: 1.7vh;
  overflow-y: auto;
  overflow-x: visible;
}
.page .limiter .screenings .content .city-holder.Los_Angeles-holder {
  display: block;
}
.page .limiter .screenings .content .city-holder h3 {
  font-weight: 400;
}
.page .limiter .screenings .content .city-holder h3 span {
  text-decoration: underline;
  cursor: pointer;
}
.page .limiter .screenings .content .screening {
  margin: 0px auto 20px;
  text-align: center;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
.page .limiter .screenings .content .screening h4 {
  margin: 5px 0;
  font-weight: 400;
  font-size: 0.8em;
}
.page .limiter .screenings .content .screening:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}
.page .limiter .screenings .content .screening .date {
  font-weight: 700;
  font-size: 1.2em;
}
.page .limiter .screenings .content .screening .theater {
  font-size: 1em;
  margin-top: 8px;
  line-height: 1.3em;
}
.page .limiter .screenings .content .screening .address {
  font-size: 0.8em;
}
.page .limiter .screenings .content .screening .address a {
  display: inline-block;
  width: 41px;
  height: 15px;
  position: relative;
  background: url(../img/ui/map-icon.png) no-repeat;
  background-size: 100%;
  left: 8px;
  top: 2px;
}
.page .limiter .screenings .content .screening .btn {
  color: #ffe59b;
  font-size: 1.1em;
  margin-top: 12px;
  margin-bottom: 1em;
  cursor: pointer;
}
.page .limiter .screenings .content .disclaimer {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  margin: 1em auto 0;
  line-height: 1.3em;
  padding-bottom: 20px;
}
.page .limiter .press .content {
  text-transform: uppercase;
  -webkit-overflow-scrolling: touch;
}
.page .limiter .press .content .scroller {
  display: none;
}
.page .limiter .press .content .snippet {
  text-align: center;
  margin-bottom: 4.8vh;
}
.page .limiter .press .content .snippet:last-of-type {
  margin-bottom: 0;
}
.page .limiter .press .content .snippet .press-logo img {
  width: auto;
  margin: 1vh auto;
  max-height: 37px;
}
.page .limiter .press .content .snippet .title {
  line-height: 1.3em;
  font-size: 1.5vh;
}
.page .limiter .press .content .snippet a {
  text-decoration: none;
  color: #f9e491;
  margin-top: 10px;
  font-size: 14px;
  display: block;
}
.page .limiter .videos .content {
  height: 67vh;
  margin: auto;
  width: 119.3vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page .limiter .videos .content .video-list {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 104%;
  width: 100%;
}
.page .limiter .videos .content .video-list .video-title {
  font-size: 1.4vw;
  cursor: pointer;
}
.page .limiter .videos .content .video-list .video-title.selected {
  color: #f9e491;
}
.page .limiter .videos .content .video-container {
  height: 100%;
}
.page .limiter .videos .content .video-container video {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.page .limiter .filmmakers .content {
  right: 2vw;
  top: 6vh;
  width: 52vw;
  max-width: 625px;
}
.page .limiter .filmmakers .content .name-list {
  margin-bottom: 1.5vh;
}
.page .limiter .filmmakers .content .name-list .name {
  font-size: 1.5vh;
  color: #f9e491;
  cursor: pointer;
}
.page .limiter .filmmakers .content .name-list .name.current {
  color: #fff;
}
.page .limiter .filmmakers .content .bio {
  display: none;
  font-weight: 500;
}
.page .limiter .filmmakers .content .bio .name {
  font-weight: bold;
  font-size: 3.4vh;
}
.page .limiter .filmmakers .content .bio .name .guild {
  font-size: 0.5em;
}
.page .limiter .filmmakers .content .bio .studio {
  font-weight: bold;
  font-size: 20px;
}
.page .limiter .filmmakers .content .bio .text {
  margin-top: 1vh;
  position: relative;
  padding-right: 5vh;
  padding-bottom: 1vh;
}
.page .limiter .filmmakers .content .bio .text p {
  font-size: 1.6vh;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}
.page .limiter .filmmakers .content .bio#dave-bio {
  display: block;
}
.page .limiter .screenplay .content {
  text-align: center;
}
.page .limiter .screenplay .content .download-button {
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 310px;
  height: 290px;
}
.page .limiter .screenplay .content .text {
  font-size: 15px;
  font-weight: 700;
}
.page .limiter .screenplay .content .text h2 {
  color: #fff;
  border-bottom: 1px solid rgba(254, 231, 151, 0.3);
  padding-bottom: 5px;
  font-size: 20px;
}
.page .limiter .screenplay .content .text .written {
  color: #fee797;
  margin-top: 10px;
}
.page .limiter .screenplay .content .text .names {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page .limiter .screenplay .content .text .names > div {
  flex: 1 50%;
}
.page .limiter .accolades {
  background: #fff;
  width: 110%;
  margin-left: -5%;
}
.page .limiter .accolades .banner {
  position: relative;
}
.page .limiter .accolades .content {
  padding: 5vh 0;
  width: 72%;
  margin: 0 auto;
  text-align: center;
}
.page .limiter .accolades .content br {
  display: none;
}
.page .limiter .accolades .content .award {
  margin-bottom: 37px;
  width: 80%;
  margin: 0 auto 37px;
  position: relative;
}
.page .limiter .accolades .content .award.withNumber {
  width: 100%;
}
.page .limiter .accolades .content .award img {
  position: relative;
  z-index: 2;
}
.page .limiter .accolades .content .award .offset-left {
  position: absolute;
  width: auto;
  height: 120%;
  z-index: 1;
  right: 100%;
  top: -10%;
}
.page .limiter footer {
  display: none;
}
.page .limiter .video-container {
  position: relative;
  box-shadow: 4px 7px 15px 2px rgba(0, 0, 0, 0.4);
}
.page .limiter .video-container .poster {
  position: absolute;
  top: 0;
  background-attachment: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.page .limiter .video-container .poster.playing {
  pointer-events: none;
}
.page .limiter .quote {
  color: #fceebd;
}
.page .limiter .quote p {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 0.1em;
}
.page .limiter .quote > div:first-child {
  display: block;
}
.page .limiter .quote .author {
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7em;
}
.page .limiter .quote .author .auth-logo {
  margin: 0;
  position: relative;
  display: inline-block;
}
.page#sw-page .consider .logo {
  width: 26vh;
  margin-bottom: 20px;
}
.page#sw-page .consider .content {
  top: 5vh;
  margin: 0 auto;
  left: 0;
}
.page#sw-page .consider .content h3,
.page#sw-page .consider .content p,
.page#sw-page .consider .content .subline {
  color: #ffe14b;
}
.page#sw-page .synopsis .content {
  width: 90%;
  margin: 0 auto;
  font-size: 13px;
}
.page#sw-page .synopsis br {
  display: none;
}
.page#sw-page .score .quote {
  color: #fdeebe;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}
.page#sw-page .score .quote p br {
  display: none;
}
.page#sw-page .score .quote .auth-logo {
  width: 120px;
  display: inline;
}
.page#sw-page .score .track-list {
  padding-bottom: 20px;
}
.page#sw-page .production .content {
  text-align: center;
}
.page#sw-page .production .content h2 {
  font-weight: 500;
}
.page#sw-page .production .content h2:first-of-type {
  margin-bottom: 0.3vh;
}
.page#sw-page .production .content .download {
  text-decoration: none;
  color: #FFDB8C;
  display: block;
  font-size: 11px;
}
.page#sw-page .production .content .download img {
  display: inline;
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.page#sw-page .production .content .quote {
  margin-top: 18vh;
  font-size: 14px;
  color: #fdeebe;
}
.page#sw-page .production .content .quote p {
  font-size: 1em;
  margin: 0;
}
.page#sw-page .production .content .quote .author {
  font-size: 0.8em;
  margin: 0;
}
.page#sw-page .production .content .quote .auth-logo {
  width: 80px;
  top: 5px;
  display: inline;
  position: relative;
}
.page#sw-page .production .content .qa {
  margin-top: 12vh;
}
.page#sw-page .production .content .qa h2 {
  margin: 0;
}
.page#sw-page .production .content .qa h3 {
  margin: 0;
  font-size: 1em;
  color: #fad47d;
}
.page#sw-page .production .content .qa .video-container {
  margin-top: 2vh;
}
.page#sw-page .accolades .content {
  margin-top: 0%;
}
.page#sw-page .accolades .content .award {
  width: 90%;
}
.page#sw-page .accolades .content .award img {
  display: inline-block;
}
.page#sw-page .accolades .content .award img.small {
  width: 83.34%;
}
.page#sw-page .accolades .content .award img:nth-of-type(2) {
  margin-top: 5vh;
}
.page#sw-page .accolades .content .award.medium {
  width: 90%;
}
.page#sw-page .accolades .content .award.middle {
  margin: 5vh 4% 37px;
}
.page#thor-page .consider .content {
  margin: 0 auto;
}
.page#thor-page .consider .content h3,
.page#thor-page .consider .content p,
.page#thor-page .consider .content .subline {
  color: #ffe14b;
}
.page#thor-page .screenings .content {
  top: 41vh;
}
.page#thor-page .screenings .content .scroll-ctrl {
  background-color: #ffe14b;
}
.page#thor-page .screenings .content .cities-list {
  color: #ffe14b;
}
.page#thor-page .screenings .content .city-holder {
  max-height: 31vh;
}
.page#thor-page .screenings .content .screening .btn {
  color: #ffe14b;
}
.page#thor-page .synopsis .content {
  top: 21%;
  left: 4vmin;
  width: 45%;
  max-width: 583px;
}
.page#thor-page .score .artist-pic {
  width: 100%;
}
.page#thor-page .score h3 {
  color: #e9e460;
  margin: -20px auto 0;
  text-align: center;
  font-size: 24px;
}
.page#thor-page .score h5 {
  margin: 0;
  text-align: center;
}
.page#thor-page .score .download-btn {
  margin: 2vh auto;
}
.page#thor-page .score .content .track-list .track .credits {
  display: none;
}
.page#thor-page .score .content .featurette {
  text-align: center;
}
.page#thor-page .score .content .featurette h4 {
  margin-bottom: 5px;
}
.page#thor-page .score .content .featurette h6 {
  color: #e9e460;
  margin-top: 0;
}
.page#thor-page .score .content .featurette .video-container {
  position: relative;
}
.page#thor-page .score .content .featurette .video-container .poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/thor/thor-score-video-poster.jpg) no-repeat;
  background-size: 100%;
}
.page#thor-page .score .content .featurette .video-container .poster.playing {
  pointer-events: none;
}
.page#thor-page .score .content .featurette .quote {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
}
.page#thor-page .score .content .featurette .quote p {
  color: #e9e460;
  line-height: 1.5em;
}
.page#thor-page .score .content .featurette .quote span {
  font-size: 12px;
}
.page#gotg-page .limiter {
  max-width: 100%;
}
.page#gotg-page .consider .content {
  text-shadow: 0px 1px 1px #000000;
  margin: 0 auto;
}
.page#gotg-page .consider .content h3,
.page#gotg-page .consider .content p,
.page#gotg-page .consider .content .subline {
  color: #ffdb92;
}
.page#gotg-page .screenings .content .name {
  text-shadow: 0px 0px 1px #000000;
}
.page#gotg-page .videos .content {
  height: 100%;
  top: 0;
  width: 100%;
  transform: none;
}
.page#gotg-page .videos .content .video-list {
  top: 3vh;
  bottom: initial;
}
.page#gotg-page .videos .content .video-list .video-title {
  color: #fff;
  display: inline-block;
  transition: transform 0.3s;
  text-align: center;
  font-size: 1.5vw;
  text-shadow: 2px 2px 6px #000000;
}
.page#gotg-page .videos .content .video-list .video-title span {
  font-size: 0.6em;
  color: #ffeb9c;
}
.page#gotg-page .videos .content .video-list .video-title.selected {
  color: #fad47d;
  position: relative;
}
.page#gotg-page .videos .content .video-list .video-title:hover {
  transform: scale(1.1);
}
.page#gotg-page .videos .content .video-container {
  display: none;
  background: #000;
  position: relative;
  z-index: 3;
}
.page#gotg-page .videos .content .video-container .close-btn {
  position: absolute;
  top: 3vh;
  right: 3vh;
  text-align: center;
  cursor: pointer;
  height: 53px;
  font-size: 52px;
  font-weight: 400;
  transform: rotate(45deg);
  opacity: 0.4;
}
.page#gotg-page .videos .content .video-container .close-btn:hover {
  opacity: 1;
}
.page#coco-page .limiter {
  max-width: 90vw;
}
.page#coco-page .consider .logo {
  width: 18vh;
  margin-bottom: 2vh;
}
.page#coco-page .consider .content {
  top: 5vh;
  width: 61vh;
  right: 3vh;
}
.page#coco-page .consider .content .name {
  text-shadow: 0px 0px 1px #000000;
}
.page#coco-page .consider .content h3,
.page#coco-page .consider .content p,
.page#coco-page .consider .content .subline {
  color: #f99e1b;
}
.page#coco-page .consider .content .right h3:not(:first-child) {
  margin-top: 0.6vh;
}
.page#coco-page .screenings {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  left: 0;
  width: 99%;
}
.page#coco-page .screenings .content {
  right: 4vw;
  top: 10vh;
}
.page#coco-page .screenings .content .city-holder {
  padding: 20px 0;
}
.page#coco-page .synopsis {
  width: 100%;
  position: fixed;
  left: 0;
}
.page#coco-page .synopsis .content {
  width: 27vw;
  right: 3vw;
  top: 15vh;
  line-height: 1.5em;
  text-align: left;
}
.page#coco-page .videos .content .video-list {
  color: #6d6d70;
}
.page#coco-page .videos .content .video-list .video-title.selected {
  color: #f6841f;
}
.page#coco-page .song .content {
  top: 3vh;
  left: 0px;
  position: relative;
}
.page#coco-page .song .content .song {
  padding-bottom: 60px;
  padding-left: 0;
}
.page#coco-page .song .content .song h3 {
  color: #fff;
  font-size: 2.5vh;
  font-weight: 500;
  margin-bottom: 5vh;
}
.page#coco-page .song .content .song .quote {
  color: #fceebd;
}
.page#coco-page .song .content .song .quote p {
  font-size: 2vh;
  line-height: 1.6em;
}
.page#coco-page .song .content .song .quote .author {
  font-size: 0.9em;
}
.page#coco-page .song .content .song .artist {
  margin-left: 0;
  width: 38vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.page#coco-page .song .content .song .song-title {
  margin-bottom: 1vh;
}
.page#coco-page .song .content .song .song-title span {
  font-size: 22px;
  position: relative;
  color: #fceebd;
  left: -2vh;
}
.page#coco-page .song .content .song .credits {
  color: #fff;
  font-size: 13px;
}
.page#coco-page .song .content .song .credits > div {
  color: #fceebd;
}
.page#coco-page .song .content .song .credits .and {
  font-size: 0.8em;
}
.page#coco-page .song .content .song .play-btn {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.page#coco-page .score .content {
  left: 0;
  width: 100%;
}
.page#coco-page .score .content h2 {
  font-size: 20px;
  margin-bottom: 0;
}
.page#coco-page .score .content .score-name {
  margin-top: 0;
  font-size: 16px;
}
.page#coco-page .score .content .artist-pic {
  width: 90%;
  margin: 2vh auto;
}
.page#coco-page .score .content .track-list {
  width: 90%;
}
.page#coco-page .score .content .track-list .scroller {
  left: 80%;
}
.page#coco-page .score .content .quote {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.page#coco-page .score .content .quote p {
  text-transform: uppercase;
  font-size: 1.8vh;
}
.page#coco-page .score .content .quote .author {
  font-size: 12px;
}
.page#coco-page .score .content .quote .author img {
  display: inline;
  width: 100px;
  top: 3px;
  position: relative;
}
.page#coco-page .screenplay .quote {
  width: 58vh;
  left: 3vw;
  position: absolute;
  top: 2vh;
}
.page#coco-page .screenplay .quote p {
  white-space: initial;
  text-transform: uppercase;
}
.page#coco-page .screenplay .quote .author {
  font-size: 1.3vh;
}
.page#coco-page .screenplay .quote .author img {
  display: inline;
  width: 80px;
}
.page#coco-page .screenplay .content .download-button {
  position: relative;
}
.page#coco-page .screenplay .content .download-button a {
  display: block;
}
.page#coco-page .screenplay .content .text {
  font-size: 17px;
  line-height: 1.2em;
}
.page#coco-page .screenplay .content .text h2 {
  font-size: 1.3em;
  margin: 0;
  display: inline-block;
  border-bottom-color: #ffe894;
}
.page#coco-page .screenplay .content .text .written {
  font-size: 0.8em;
  margin-top: 1vh;
  color: #ffe894;
}
.page#coco-page .screenplay .content .text .names {
  display: block;
}
.page#coco-page .screenplay .content .text .names .and {
  font-size: 0.8em;
}
.page#coco-page .screenplay .content .text .names br {
  display: none;
}
.page#cars-page .consider {
  color: #981911;
}
.page#cars-page .consider .content .first {
  margin-top: 1vh;
}
.page#cars-page .consider .content .left h3:not(:first-child) {
  margin-top: 1.5vh;
}
.page#cars-page .consider .content .right h3:not(:first-child) {
  margin-top: 8px;
}
.page#cars-page .consider .content .name,
.page#cars-page .consider .content .song {
  color: #3e4541;
}
.page#cars-page .consider .content .down5 {
  margin-top: 5px;
}
.page#cars-page .screenings .content {
  left: 5vw;
  top: 20%;
}
.page#cars-page .synopsis .content {
  top: 3vh;
  line-height: 1.5em;
  position: relative;
  margin: 0 auto;
}
.page#cars-page .press .content .snippet {
  margin-bottom: 6.8vh;
}
.page#cars-page .press .content .title {
  font-size: 1.9vh;
}
@media screen and (orientation:portrait) {
  .page#cars-page .consider .content .first .h3 {
    font-size: 1.4em;
  }
  .page#cars-page .consider .content .first .subline {
    font-size: 1.1em;
  }
  .page#cars-page .consider .content .first p {
    font-size: 1em;
  }
  .page#cars-page .consider .content .first .name {
    font-size: 1.5em;
  }
}
.page#batb-page .limiter {
  max-width: initial;
}
.page#batb-page .quote,
.page#batb-page .bottom-quote {
  color: #fceebd;
}
.page#batb-page .quote p,
.page#batb-page .bottom-quote p {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 0.1em;
}
.page#batb-page .quote > div:first-child,
.page#batb-page .bottom-quote > div:first-child {
  display: block;
}
.page#batb-page .quote .author,
.page#batb-page .bottom-quote .author {
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7em;
}
.page#batb-page .quote .author .auth-logo,
.page#batb-page .bottom-quote .author .auth-logo {
  margin: 0;
  position: relative;
  display: inline-block;
}
.page#batb-page .consider .quote {
  position: fixed;
  left: 2vw;
  width: 21%;
  top: 4vh;
}
.page#batb-page .consider .logo {
  height: 12vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.page#batb-page .consider .logo img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.page#batb-page .consider .content {
  right: 5vw;
  width: 64vh;
  top: 1vh;
  transform: scale(0.99);
}
.page#batb-page .consider .content .left h3 {
  margin-top: 0.57vh;
}
.page#batb-page .consider .content .left h3:first-child {
  margin-top: 0.5vh;
}
.page#batb-page .consider .content .right h3 {
  margin-top: 0.85vh;
}
.page#batb-page .consider .content .right h3:first-child {
  margin-top: 0.5vh;
}
.page#batb-page .consider .content h3,
.page#batb-page .consider .content p,
.page#batb-page .consider .content .subline {
  color: #fad47d;
}
.page#batb-page .consider .content .down5 {
  margin-top: 0.56vh;
}
.page#batb-page .screenings {
  background: #1e1714;
  width: 100%;
}
.page#batb-page .screenings .special-bg {
  background-image: url(../img/batb/batb-synopsis-bg2.jpg);
  z-index: 3;
  background-position-y: top;
  background-position-x: 13%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.page#batb-page .screenings .special-bg .quote {
  display: none;
}
.page#batb-page .screenings .content {
  right: 0%;
  width: 31vw;
  top: 0;
  text-align: center;
  height: 100%;
  background: #1e1714;
  overflow-y: auto;
  position: relative;
  height: 57%;
}
.page#batb-page .screenings .content .scrollable {
  padding-bottom: 20px;
}
.page#batb-page .screenings .content img {
  max-width: 100%;
}
.page#batb-page .screenings .content .quote {
  width: 95%;
  margin: 20px auto 0px;
}
.page#batb-page .screenings .content .quote img {
  width: auto;
}
.page#batb-page .screenings .content h3 {
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 7px;
  display: inline-block;
  position: relative;
  font-size: 29px;
  left: 0;
  margin: 2vh auto;
}
.page#batb-page .screenings .content .synopsis {
  line-height: 1.4em;
  font-size: 1.8vh;
  width: 95%;
  text-align: left;
  margin: 2vh auto 0;
}
.page#batb-page .screenings .content .synopsis p {
  max-height: 170px;
  margin: 0;
  overflow: hidden;
}
.page#batb-page .screenings .content .read-more {
  color: #f9e491;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.page#batb-page .screenings .content .screenings-holder {
  position: relative;
}
.page#batb-page .screenings .content .screenings-holder .screening {
  width: 88%;
  font-size: 1.9vh;
}
.page#batb-page .screenings .content .screenings-holder .screening .date {
  text-transform: uppercase;
  font-size: 0.8em;
  font-size: 12px;
  white-space: wrap;
}
.page#batb-page .screenings .content .screenings-holder .screening .theater {
  font-size: 0.8em;
}
.page#batb-page .screenings .content .disclaimer {
  position: relative;
  top: 0;
  width: 90%;
  left: 0;
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 10px;
}
.page#batb-page .screenings .content .netflix {
  font-weight: 700;
  text-align: center;
  margin: 10px auto;
}
.page#batb-page .cast .quote {
  top: 3vh;
  left: 3vw;
}
.page#batb-page .cast .quote img {
  max-width: 100%;
}
.page#batb-page .cast .article {
  text-align: center;
}
.page#batb-page .cast .article .title {
  margin-top: 5px;
}
.page#batb-page .cast .article .title span {
  font-weight: bold;
}
.page#batb-page .cast .article .read {
  color: #fad47d;
  margin-top: 5px;
  font-size: 12px;
}
.page#batb-page .filmmakers .content {
  top: 0;
  min-width: 320px;
  max-width: 612px;
}
.page#batb-page .filmmakers .content .quote > div {
  display: none;
}
.page#batb-page .filmmakers .content .quote > div p {
  text-transform: uppercase;
}
.page#batb-page .filmmakers .content .quote > div:first-child {
  display: block;
}
.page#batb-page .filmmakers .content .quote > div:first-child p {
  font-size: 0.8em;
}
.page#batb-page .filmmakers .content .quote > div .author .auth-logo {
  width: 165px;
  top: 5px;
}
.page#batb-page .filmmakers .content .name-list .name span {
  color: #fff;
}
.page#batb-page .filmmakers .content .name-list .name.current {
  display: none;
}
.page#batb-page .filmmakers .content .bio .text p:first-child {
  margin-top: 0;
}
.page#batb-page .filmmakers .content .bio#condon-bio {
  display: block;
}
.page#batb-page .filmmakers .featurette {
  cursor: pointer;
}
.page#batb-page .music .quote .auth-logo {
  width: 89px;
  top: 1px;
}
.page#batb-page .music .content .play-btn {
  width: 5vh;
  height: 5vh;
  margin: 0 auto;
}
.page#batb-page .music .content .song {
  text-align: center;
  font-weight: 700;
  display: inline-block;
}
.page#batb-page .music .content .song .song-title {
  color: #fad47d;
  font-size: 12px;
  margin-top: 2vh;
  line-height: 1.2em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 33px;
}
.page#batb-page .music .content .song .song-title span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page#batb-page .music .content .song .credits {
  color: #fff;
  font-size: 10px;
}
.page#batb-page .music .content .song .credits > div {
  color: #fad47d;
  font-size: 0.6em;
  line-height: 1.2em;
  margin-top: 1vh;
}
.page#batb-page .music .content .song .artist {
  margin-top: 4vh;
  width: 100%;
}
.page#batb-page .press {
  overflow-x: hidden;
}
.page#batb-page .press .quote img {
  width: 150px;
  top: 6px;
}
.page#batb-page .press .content .article {
  width: 100%;
  margin-bottom: 4%;
  display: block;
}
.page#batb-page .makingof .content {
  width: 100%;
  position: relative;
  height: 100%;
}
.page#batb-page .makingof .content .quote {
  position: absolute;
  width: 60vh;
  left: 3vw;
  top: 3vh;
}
.page#batb-page .makingof .content .quote > div {
  position: absolute;
  opacity: 0;
}
.page#batb-page .makingof .content .quote > div:first-child {
  opacity: 1;
}
.page#batb-page .makingof .content .quote > div p {
  text-transform: uppercase;
}
.page#batb-page .makingof .content .articles {
  position: absolute;
  top: 30vh;
  left: 3vw;
  display: flex;
}
.page#batb-page .makingof .content .articles2 {
  bottom: 8vh;
  right: 3vw;
  position: absolute;
  display: flex;
}
.page#batb-page .makingof .content .article {
  cursor: pointer;
  width: 16vw;
  margin-right: 2vh;
}
@media screen and (orientation:portrait) {
  .page#batb-page .makingof .content .article {
    width: 29vw;
  }
}
.page#batb-page .auth-logo.forbes {
  width: 61px;
  top: 3px;
}
.page#batb-page .auth-logo.thr {
  width: 95px;
  top: 9px;
}
.page#batb-page .auth-logo.newsweek {
  width: 86px;
  top: 3px;
}
.page#batb-page .screenplay .quote {
  width: 100%;
  position: relative;
}
.page#batb-page .screenplay .quote p {
  text-transform: uppercase;
}
.page#batb-page .screenplay .content {
  bottom: 1vh;
  transform: translateX(-50%);
  left: 50%;
  width: 63vh;
  text-align: left;
  display: flex;
  align-items: center;
}
.page#batb-page .screenplay .content .download-button {
  position: relative;
  margin: 0 auto;
  left: 0;
  width: 56%;
  height: auto;
  right: 0;
  margin-right: -5vh;
  display: inline-block;
}
.page#batb-page .screenplay .content .download-button img {
  width: 33vh;
  max-width: 300px;
  min-width: 100px;
  height: auto;
  position: relative;
  top: -1.6vh;
}
.page#batb-page .screenplay .content .text {
  font-size: 1.7vh;
  line-height: 1.2em;
  display: inline-block;
  width: 51vh;
}
.page#batb-page .screenplay .content .text h2 {
  font-size: 1.3em;
  margin-bottom: 0;
  display: inline-block;
  border-bottom-color: #ffe894;
}
.page#batb-page .screenplay .content .text .written {
  font-size: 0.8em;
  margin-top: 1vh;
  color: #ffe894;
}
.page#batb-page .screenplay .content .text .names {
  display: block;
}
.page#batb-page .screenplay .content .text .names .and {
  font-size: 0.8em;
}
.page#lou-page .consider {
  left: 0;
}
.page#lou-page .consider .nom {
  width: 50%;
  margin: 20px auto;
}
.page#lou-page .consider .logo {
  margin-bottom: 1.5vh;
}
.page#lou-page .consider .content {
  font-size: 16px;
  text-shadow: 0px 1px 1px #000000;
}
.page#lou-page .consider .content .first {
  color: #ffdb92;
  margin-bottom: 1.3vh;
}
.page#lou-page .consider .content .first .single {
  font-size: 20px;
  border: 1px solid rgba(255, 219, 146, 0.5);
  border-left: 0;
  border-right: 0;
  display: inline-block;
  padding: 11px 0 9px;
}
.page#lou-page .consider .content .first .subline {
  line-height: 14px;
}
.page#lou-page .consider .content .first p {
  font-size: 1.1em;
  margin: 0 auto 10px;
  color: #fff;
  font-weight: 400;
}
.page#lou-page .consider .content > div:nth-of-type(3) h3:nth-of-type(2) {
  border-top: 1px solid rgba(255, 219, 146, 0.5);
  margin-top: 1vh;
  padding-top: 12px;
}
.page#lou-page .consider .content .name {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #fff;
}
.page#lou-page .consider .content h3 {
  font-size: 1.0em;
  line-height: 0.9em;
  display: inline-block;
}
.page#lou-page .consider .content h3,
.page#lou-page .consider .content p,
.page#lou-page .consider .content .subline {
  color: #f8d698;
}
.page#lou-page .synopsis .content {
  font-size: 15px;
  font-weight: bold;
}
.page#lou-page .press .scroll-down {
  left: 53%;
}
.page#lou-page .press .content .snippet {
  margin-bottom: 6.2vh;
}
.page#lou-page .press .content .title {
  text-shadow: 1px 1px 2px #000;
  margin-top: 8px;
  font-size: 12px;
}
@media only screen and (max-width:600px) and (orientation:portrait) {
  *::-webkit-media-controls-panel {
    opacity: 0;
  }
  *::-webkit-media-controls-play-button {
    opacity: 0;
  }
  *::-webkit-media-controls-start-playback-button {
    opacity: 0;
  }
  body {
    position: fixed;
  }
  header {
    position: fixed;
    top: 0;
  }
  header #menu-btn {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 15px;
    top: 15px;
    transition: transform 0.55s cubic-bezier(0.4, 0.8, 0.6, 1);
  }
  header #menu-btn .line {
    position: absolute;
    background: #fff;
    height: 4px;
    border-radius: 4px;
    transform-origin: 50% 50%;
    width: 100%;
  }
  header #menu-btn .line.top-line {
    top: 8px;
    transition: transform 0.45s cubic-bezier(0.4, 0.8, 0.6, 1), top 0.4s cubic-bezier(0.4, 0.8, 0.6, 1);
  }
  header #menu-btn .line.middle-line {
    top: 19px;
    transition: opacity 0.2s cubic-bezier(0.4, 0.8, 0.6, 1);
  }
  header #menu-btn .line.bottom-line {
    top: 30px;
    transition: transform 0.45s cubic-bezier(0.4, 0.8, 0.6, 1), top 0.4s cubic-bezier(0.4, 0.8, 0.6, 1);
  }
  header #menu-btn.active {
    transform: rotate(-180deg);
  }
  header #menu-btn.active .line.top-line {
    top: 19px;
    transform: rotate(-45deg);
  }
  header #menu-btn.active .line.middle-line {
    opacity: 0;
  }
  header #menu-btn.active .line.bottom-line {
    top: 19px;
    transform: rotate(45deg);
  }
  header .fyc-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91px;
    overflow: hidden;
  }
  header .fyc-banner a {
    width: 100px;
    margin: 5px auto 2px;
    float: none;
    order: 1;
  }
  header .fyc-banner .nowrap {
    font-size: 13px;
    background: #fff;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 2.7px;
    padding: 5px 0 4px;
    color: #153f7b;
    order: 3;
    margin-top: 2px;
  }
  header .fyc-banner .title {
    width: 100%;
    font-size: 20px;
    text-align: center;
    float: none;
    margin: 0;
    order: 2;
  }
  header nav {
    text-align: left;
    left: -100%;
    position: fixed;
    height: 100%;
    top: 91px;
    width: 88%;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
    transition: left 0.45s cubic-bezier(0.4, 0.8, 0.6, 1);
  }
  header nav ul {
    display: block;
    width: 100%;
    background: #fff;
    z-index: 2;
    padding-top: 6px;
  }
  header nav ul li {
    padding: 14px 0 0 14px;
    letter-spacing: 0.1em;
    font-size: 14px;
  }
  header nav ul li .submenu-holder {
    display: none;
    position: relative;
    margin-top: 9px;
  }
  header nav ul li .submenu-holder .submenu {
    font-size: 13px;
    text-align: left;
    line-height: 2.2em;
    color: #055f86;
    width: 100%;
    padding: 0 0 0 8px;
  }
  header nav ul li .submenu-holder .submenu > div.selected {
    text-decoration: none;
  }
  header nav ul li .submenu > div:hover {
    right: 0;
  }
  header nav ul li.selected .submenu-holder .submenu {
    color: #e69441;
  }
  #wrapper {
    border: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  #wrapper .fyc-banner,
  #wrapper .title {
    display: none;
  }
  #boxes {
    width: 100%;
    margin: 0;
    padding-top: 90px;
    position: relative;
    transform: none;
    left: 0;
    top: 0;
  }
  #boxes .box {
    width: 92%;
    margin: 3.5% auto;
  }
  .arrow {
    display: none;
  }
  .scroller {
    display: none;
  }
  .page {
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    transform-origin: center;
    transition: transform 0.5s;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    background-size: cover;
    background-position: left center !important;
    background-repeat: no-repeat;
  }
  .page .bg-holder {
    display: none;
  }
  .page .limiter {
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow: auto;
    padding-bottom: 118px;
  }
  .page .limiter > div {
    width: 95%;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
  }
  .page .limiter .consider {
    height: auto;
    padding: 1px 0 20px;
    margin-top: -1px;
  }
  .page .limiter .consider .content {
    margin-top: 0px;
    font-size: 10px;
    display: block;
    margin-top: -1px;
    padding-top: 1px;
  }
  .page .limiter .consider .content .first {
    font-size: 10px;
  }
  .page .limiter .consider .content .left,
  .page .limiter .consider .content .right {
    text-align: center;
    width: 100%;
    left: 0;
  }
  .page .limiter .consider .content .name {
    color: #fff;
  }
  .page .limiter .consider .logo {
    width: 100%;
    margin-top: 0;
  }
  .page .limiter .synopsis .content {
    margin: 0 auto;
    padding-top: 20px;
    left: 0;
    text-align: justify;
    font-size: 12px;
  }
  .page .limiter .screenings .guild-members-co {
    font-weight: 500;
    font-size: 1.8vh;
    color: #fff;
    text-align: center;
    display: none;
    cursor: pointer;
    position: relative;
    width: 90%;
    margin: 10px auto 0;
  }
  .page .limiter .screenings .guild-members-co div {
    outline: 1px solid #fad47d;
    margin-top: 10px;
    color: #fad47d;
    font-size: 0.8em;
    padding: 10px 0;
    line-height: 1.3em;
  }
  .page .limiter .screenings .pop-up {
    position: fixed;
    background: #112f61;
    border-radius: 3px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
    z-index: 6;
    width: 89vh;
    max-width: 90%;
    top: 0;
    left: 0;
    padding: 5%;
    min-height: 100%;
  }
  .page .limiter .screenings .pop-up .pop-up-close {
    background: url(../img/thor/close-btn.png) no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 65px;
    height: 0;
    padding-top: 6%;
    background-size: 100%;
    cursor: pointer;
  }
  .page .limiter .screenings .pop-up .inside {
    background: rgba(7, 33, 77, 0.9);
    padding: 15px 30px;
    min-height: 90%;
    border-radius: 5px;
  }
  .page .limiter .screenings .pop-up .inside h3 {
    text-align: center;
    font-size: 2.2vh;
    margin: 20px auto;
    font-weight: 500;
  }
  .page .limiter .screenings .pop-up .inside p {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    font-size: 1.9vh;
    line-height: 1.5em;
    font-weight: 400;
  }
  .page .limiter .screenings .pop-up .inside ul {
    list-style: none;
    padding: 0;
  }
  .page .limiter .screenings .pop-up .inside ul li {
    font-size: 1.8vh;
    font-weight: 300;
    margin-bottom: 17px;
    line-height: 1.3em;
    position: relative;
  }
  .page .limiter .screenings .pop-up .inside ul li span {
    position: absolute;
    right: 102%;
    width: 4px;
    top: 50%;
    height: 4px;
    display: block;
    border-radius: 10px;
    background: #ffdb92;
  }
  .page .limiter .screenings .content .cities-list {
    display: block;
    width: 95%;
    margin: 30px auto 0;
  }
  .page .limiter .screenings .content .cities-list .city {
    font-size: 1em;
    width: 50%;
    float: left;
    margin-bottom: 11px;
    padding: 3px 5px;
    box-sizing: border-box;
  }
  .page .limiter .screenings .content .cities-list .city.selected {
    font-size: 1em;
    margin-top: 0;
    top: 0;
  }
  .page .limiter .screenings .content .cities-list .city:first-of-type,
  .page .limiter .screenings .content .cities-list .city:nth-of-type(3) {
    text-align: left;
  }
  .page .limiter .screenings .content .cities-list .city:nth-of-type(2),
  .page .limiter .screenings .content .cities-list .city:nth-of-type(4) {
    text-align: right;
  }
  .page .limiter .screenings .content .cities-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .page .limiter .screenings .content .city-holder {
    height: auto;
  }
  .page .limiter .screenings .content .screening {
    width: 100%;
  }
  .page .limiter .press .content {
    width: 95%;
    margin: 20px auto;
    height: auto;
  }
  .page .limiter .score .content {
    left: 0;
    margin: 0 auto;
  }
  .page .limiter .score .content h2 {
    width: 90%;
    margin: 1em auto;
    font-size: 24px;
  }
  .page .limiter .score .content .score-name {
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
  }
  .page .limiter .score .content .score-bio {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
  }
  .page .limiter .score .content .track-list {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .page .limiter .score .content .track-list .track {
    width: 100%;
  }
  .page .limiter .score .content .track-list .track .track-info {
    font-size: 12px;
    width: 85%;
  }
  .page .limiter .songs {
    width: 90%;
    margin: 0 auto;
  }
  .page .limiter .photos {
    position: relative;
  }
  .page .limiter .photos .photo {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
  }
  .page .limiter .photos .photo img {
    width: 100%;
    transform: none;
    top: 0;
  }
  .page .limiter .videos .content {
    margin: 20px auto 0;
  }
  .page .limiter .videos .content .video-list {
    margin-bottom: 20px;
    position: relative;
  }
  .page .limiter .videos .content .video-list .video-title {
    font-size: 12px;
  }
  .page .limiter .videos .content .video-container .video-play-btn {
    height: 67.7%;
    top: 46px;
  }
  .page .limiter .filmmakers .content {
    position: relative;
  }
  .page .limiter .filmmakers .content .name-list {
    margin-top: 12px;
  }
  .page .limiter .filmmakers .content .name-list .name {
    font-size: 14px;
  }
  .page .limiter footer {
    position: absolute;
  }
  .page#sw-page {
    background-image: url(../img/sw/sw-mobile-bg.jpg);
  }
  .page#batb-page {
    background-image: url(../img/batb/batb-mobile-bg.jpg);
  }
  .page#batb-page .quote p br {
    display: none;
  }
  .page#batb-page .consider .quote {
    display: none;
  }
  .page#batb-page .consider .content {
    width: 100%;
    transform: initial;
    right: initial;
    top: 0;
  }
  .page#batb-page .consider .content .left h3:first-child {
    margin-top: 0.7em;
  }
  .page#batb-page .consider .content .left h3,
  .page#batb-page .consider .content .right h3,
  .page#batb-page .consider .content .right h3:first-child {
    margin-top: 1em;
  }
  .page#batb-page .consider .logo {
    width: 100%;
    height: 160px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .page#batb-page .consider .logo img {
    padding-right: 15px;
  }
  .page#batb-page .screenings .special-bg {
    height: 0;
    padding-top: 43%;
  }
  .page#batb-page .screenings .thumb {
    display: none;
  }
  .page#batb-page .screenings .content {
    width: 100%;
    background: transparent;
  }
  .page#batb-page .cast .quote {
    position: static;
    margin-top: 20px;
    width: 100%;
  }
  .page#batb-page .cast .article {
    width: 100%;
    position: static;
    margin-top: 60px;
  }
  .page#batb-page .cast .article .title {
    font-size: 3vw;
  }
  .page#batb-page .cast .severed-heads {
    display: none;
  }
  .page#batb-page .filmmakers .content {
    left: 0;
    width: 100%;
    position: relative;
  }
  .page#batb-page .filmmakers .content .quote {
    width: 95%;
    margin: 30px auto 0;
  }
  .page#batb-page .filmmakers .content .quote > div p span {
    display: none;
  }
  .page#batb-page .filmmakers .content .name-list {
    width: 95%;
    margin: 10px auto 20px;
  }
  .page#batb-page .filmmakers .content .bio {
    width: 95%;
    margin: 0 auto;
  }
  .page#batb-page .filmmakers .content .bio .name {
    width: 100%;
  }
  .page#batb-page .filmmakers .content .bio .text {
    padding: 0;
    height: auto;
  }
  .page#batb-page .filmmakers .content .bio .text p {
    font-size: 14px;
  }
  .page#batb-page .filmmakers .content .featurette {
    width: 95%;
    margin: 10px auto 30px;
  }
  .page#batb-page .filmmakers .bottom-quote {
    display: none;
  }
  .page#batb-page .music .quote {
    width: 90%;
    position: relative;
    left: 0;
    top: 0;
    margin: 20px auto 0;
  }
  .page#batb-page .music .content {
    top: 0;
    left: 0;
    margin: 20px auto 20px;
    width: 95%;
  }
  .page#batb-page .music .content .song {
    width: 48%;
    margin: 0;
  }
  .page#batb-page .music .content .song:first-child {
    margin-right: 2%;
  }
  .page#batb-page .press {
    width: 100%;
    overflow-x: hidden;
  }
  .page#batb-page .press .quote {
    position: relative;
    width: 90%;
    margin: 20px auto 0;
    top: 0;
    left: 0;
    height: auto;
  }
  .page#batb-page .press .content {
    position: relative;
    top: 0;
    left: 0;
  }
  .page#batb-page .press .content .article {
    width: 95%;
    max-width: initial;
  }
  .page#batb-page .making-of .content .quote {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 20px auto 0;
    height: 220px;
  }
  .page#batb-page .making-of .content .quote > div {
    position: absolute;
    opacity: 0;
  }
  .page#batb-page .making-of .content .quote > div:first-child {
    opacity: 1;
  }
  .page#batb-page .making-of .content .quote p br {
    display: none;
  }
  .page#batb-page .making-of .content .articles {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .page#batb-page .making-of .content .articles2 {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .page#batb-page .making-of .content .article {
    width: 100%;
    margin: 0 auto 20px;
  }
  .page#batb-page .screenplay .content {
    display: block;
    width: 100%;
    transform: none;
    left: 0;
  }
  .page#batb-page .screenplay .content .download-button {
    display: block;
    margin: 0 auto;
  }
  .page#batb-page .screenplay .content .download-button a {
    display: block;
  }
  .page#batb-page .screenplay .content .download-button a img {
    width: 100%;
  }
  .page#batb-page .screenplay .content .text {
    width: 100%;
    text-align: center;
  }
  .page#cars-page {
    background-image: url(../img/cars/cars-mobile-bg.jpg);
    background-size: cover;
    background-position: left center !important;
    background-repeat: no-repeat;
  }
  .page#cars-page .bg-holder {
    display: none;
  }
  .page#cars-page .consider .content {
    width: 100%;
    margin: 10px auto 0;
    font-size: 10px;
    display: block;
  }
  .page#cars-page .consider .content h3,
  .page#cars-page .consider .content .subline,
  .page#cars-page .consider .content p {
    color: #faf0af;
  }
  .page#cars-page .consider .content .left,
  .page#cars-page .consider .content .right {
    text-align: center;
    width: 100%;
    left: 0;
  }
  .page#cars-page .consider .content .name {
    color: #fff;
  }
  .page#cars-page .consider .content .left h3:first-child,
  .page#cars-page .consider .content .right h3:first-child {
    margin-top: 1em;
  }
  .page#cars-page .consider .content .left > div:first-child h3:first-child {
    margin-top: 0.7em;
  }
  .page#cars-page .consider .logo {
    width: 100%;
    margin: 25px auto;
    height: 144px;
  }
  .page#cars-page .consider .logo img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .page#cars-page .screenings .content {
    width: 100%;
    left: 0;
    top: 0px;
  }
  .page#cars-page .synopsis .content {
    width: 90%;
  }
  .page#cars-page .score .content {
    width: 100%;
  }
  .page#cars-page .songs .content {
    left: initial;
    width: 100%;
  }
  .page#cars-page .photos {
    overflow: hidden;
  }
  .page#coco-page {
    background-image: url(../img/coco/coco-mobile-bg.jpg);
  }
  .page#coco-page .consider {
    margin: 0 auto;
  }
  .page#coco-page .consider .content {
    top: initial;
    width: 100%;
    left: initial;
    right: initial;
  }
  .page#coco-page .consider .logo {
    width: 100%;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .page#coco-page .consider .logo img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .page#coco-page .consider .content .left h3:first-child {
    margin-top: 0.7em;
  }
  .page#coco-page .consider .content .left h3,
  .page#coco-page .consider .content .right h3,
  .page#coco-page .consider .content .right h3:not(:first-child) {
    margin-top: 1em;
  }
  .page#coco-page .screenings .content {
    top: initial;
    width: 100%;
    left: initial;
    right: initial;
  }
  .page#coco-page .screenings .content .disclaimer {
    width: 80%;
    left: initial;
    padding-bottom: 20px;
  }
  .page#coco-page .synopsis {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .page#coco-page .synopsis .content {
    width: 100%;
    right: initial;
    top: initial;
  }
  .page#coco-page .limiter {
    max-width: initial;
  }
  .page#coco-page .videos {
    width: 100%;
    overflow: hidden;
  }
  .page#coco-page .videos .content {
    width: 100%;
    height: initial;
    top: initial;
    transform: initial;
  }
  .page#coco-page .videos .content .video-list {
    position: relative;
    bottom: 0;
  }
  .page#coco-page .videos .content .video-container {
    height: auto;
  }
  .page#coco-page .videos .content .video-container video {
    width: 100%;
    height: auto;
  }
  .page#coco-page .screenplay .content .download-button {
    position: relative;
    margin: 0 auto;
  }
  .page#lou-page {
    background-image: url(../img/lou/lou-mobile-bg.jpg);
  }
  .page#lou-page .consider {
    width: 100%;
  }
  .page#lou-page .consider .logo {
    width: 100%;
    height: 150px;
    margin-top: 20px;
  }
  .page#lou-page .consider .logo img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .page#lou-page .consider .content .first p {
    font-size: 15px;
  }
  .page#lou-page .consider .content .first .single {
    font-size: 17px;
  }
  .page#lou-page .consider .content h3 {
    font-size: 14px;
  }
  .page#lou-page .consider .content .name {
    font-size: 13px;
  }
  .page#lou-page .synopsis .content {
    width: 100%;
  }
  .page#lou-page .filmmakers .content {
    width: 100%;
    right: initial;
    top: initial;
    left: initial;
  }
  .page#gotg-page {
    background-image: url(../img/gotg/gotg-mobile-bg.jpg);
  }
  .page#gotg-page.loaded .consider {
    width: 100%;
  }
  .page#gotg-page .consider .logo {
    width: 100%;
    height: 140px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .page#gotg-page .consider .logo img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .page#gotg-page .consider .content .left h3:first-child {
    margin-top: 0.7em;
  }
  .page#gotg-page .consider .content .left h3,
  .page#gotg-page .consider .content .right h3 {
    margin-top: 1em;
  }
  .page#gotg-page .screenings .content .disclaimer {
    width: 100%;
  }
  .page#gotg-page .videos {
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;
  }
  .page#gotg-page .videos .content {
    width: 100%;
    height: initial;
    top: initial;
    transform: initial;
  }
  .page#gotg-page .videos .content .video-list {
    flex-direction: column;
  }
  .page#gotg-page .videos .content .video-list .video-title {
    font-size: 22px;
    margin-bottom: 45px;
  }
  .page#gotg-page .videos .content .video-container video {
    width: 90%;
    height: auto;
  }
  .page#gotg-page .screenplay .quote {
    position: relative;
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
  }
  .page#gotg-page .screenplay .quote p {
    text-transform: uppercase;
    font-size: 1.7vh;
    line-height: 1.5em;
    letter-spacing: .03em;
  }
  .page#gotg-page .screenplay .quote p br {
    display: none;
  }
  .page#gotg-page .screenplay .quote .author {
    font-size: 1.9vh;
  }
  .page#gotg-page .screenplay .quote .auth-logo {
    width: 11vh;
    top: 1px;
    display: inline;
  }
  .page#gotg-page .screenplay .content {
    top: 1.5vh;
    left: 3vh;
    width: 100%;
    text-align: left;
  }
  .page#gotg-page .screenplay .content .download-button {
    left: 0;
    display: block;
    width: 28vh;
    height: 0;
    overflow: visible;
    padding-top: 28vh;
    position: relative;
    margin: -3vh auto 0;
  }
  .page#gotg-page .screenplay .content .download-button a {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .page#gotg-page .screenplay .content .text {
    font-size: 1.8vh;
    line-height: 1.2em;
    margin-top: -5vh;
    text-align: center;
  }
  .page#gotg-page .screenplay .content .text h2 {
    font-size: 1.7em;
    line-height: 1.1em;
    margin-bottom: 0;
    display: inline-block;
    border-bottom-color: #ffe894;
  }
  .page#gotg-page .screenplay .content .text h2 br {
    display: none;
  }
  .page#gotg-page .screenplay .content .text .written {
    font-size: 0.8em;
    margin-top: 1vh;
    color: #ffe894;
  }
  .page#gotg-page .screenplay .content .text .names {
    display: block;
    font-size: 1.3em;
    text-transform: uppercase;
  }
  .page#gotg-page .song {
    padding-bottom: 22px;
  }
  .page#gotg-page .song .content {
    right: 3vw;
    top: 3vh;
    left: initial;
  }
  .page#gotg-page .song .content .song {
    text-align: center;
    font-weight: 500;
  }
  .page#gotg-page .song .content .song .song-title {
    font-size: 22px;
  }
  .page#gotg-page .song .content .song .play-btn {
    position: relative;
    margin: 20px auto;
    width: 60px;
    height: 60px;
  }
  .page#gotg-page .song .content .song .play-btn > div {
    position: absolute;
    top: 112%;
    font-size: 10px;
    font-weight: 400;
    width: 62px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
  }
  .page#gotg-page .song .content .song .artist {
    width: 45%;
    display: inline-block;
  }
  .page#gotg-page .song .content h3 {
    color: #fff;
    font-size: 24px;
  }
  .page#gotg-page .song .content .credits {
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  .page#gotg-page .song .content .credits > div {
    color: #f9e491;
    font-size: 1em;
    margin-bottom: 0.3em;
  }
  .page#gotg-page .song .content .credits .and {
    font-size: 0.6em;
  }
  .page#thor-page {
    background-image: url(../img/thor/thor-mobile-bg.jpg);
  }
  .page#thor-page .consider .content {
    top: initial;
    width: 100%;
    left: initial;
  }
  .page#thor-page .consider .content .first {
    font-size: 10px;
  }
  .page#thor-page .consider .content h3,
  .page#thor-page .consider .content .subline,
  .page#thor-page .consider .content p {
    color: #faf0af;
  }
  .page#thor-page .consider .content .left,
  .page#thor-page .consider .content .right {
    text-align: center;
    width: 100%;
    left: 0;
  }
  .page#thor-page .consider .content .name {
    color: #fff;
  }
  .page#thor-page .consider .content .left h3:first-child {
    margin-top: 1em;
  }
  .page#thor-page .consider .content .left h3,
  .page#thor-page .consider .content .right h3 {
    margin-top: 0.7em;
  }
  .page#thor-page .consider .logo {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 0;
    height: 120px;
    left: 6px;
  }
  .page#thor-page .consider .logo img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .page#thor-page .screenings .content {
    top: initial;
    width: 100%;
    left: initial;
    right: initial;
    transform: none;
  }
  .page#thor-page .screenings .content .city-holder {
    max-height: initial;
  }
  .page#thor-page .screenings .content .disclaimer {
    width: 100%;
    left: initial;
  }
  .page#thor-page .synopsis .content {
    top: 0;
    left: initial;
    width: 100%;
  }
  .page#thor-page .score .content .track-list .track .track-info {
    padding-top: 2vh;
  }
  .page#thor-page .screenplay .quote {
    width: 100%;
    left: 0;
    position: relative;
    top: 2vh;
    line-height: 1.5em;
  }
  .page#thor-page .screenplay .quote p {
    white-space: initial;
    text-transform: uppercase;
    font-size: 12px;
  }
  .page#thor-page .screenplay .quote .author {
    font-size: 12px;
  }
  .page#thor-page .screenplay .quote .author img {
    display: inline;
    width: 60px;
  }
  .page#thor-page .screenplay .content {
    position: relative;
  }
  .page#thor-page .screenplay .content .download-button {
    position: relative;
    left: 0;
    display: block;
    margin: 0 auto;
  }
  .page#thor-page .screenplay .content .download-button a {
    display: block;
  }
  .page#thor-page .screenplay .content .text {
    font-size: 17px;
    line-height: 1.2em;
    display: block;
    width: 340px;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  .page#thor-page .screenplay .content .text h2 {
    font-size: 1.3em;
    margin: 0;
    display: inline-block;
    border-bottom-color: #ffe894;
  }
  .page#thor-page .screenplay .content .text .written {
    font-size: 0.8em;
    margin-top: 1vh;
    color: #ffe894;
  }
  .page#thor-page .screenplay .content .text .names {
    display: block;
  }
  .page#thor-page .screenplay .content .text .names .and {
    font-size: 0.8em;
  }
  #batb-overlay .overlay-content > div {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  #batb-overlay .overlay-content .photo {
    position: relative;
    left: 0;
    height: auto;
    width: 90%;
    margin: 10px auto;
  }
  #batb-overlay .overlay-content .photo img {
    width: 100%;
    transform: none;
    top: 0;
  }
  #batb-overlay .overlay-content .women-of {
    width: 90%;
    top: 0;
    transform: none;
    position: relative;
    left: 0;
    margin: 20px auto 0;
    overflow: auto;
  }
  #batb-overlay .overlay-content .women-of .scrollable {
    width: 100%;
  }
  #batb-overlay .overlay-content .women-of .scrollable h3 {
    font-size: 1.3em;
  }
  #batb-overlay .overlay-content .dressing-the-part h3 {
    text-align: center;
  }
  #batb-overlay .overlay-content .dressing-the-part .video-play-btn {
    height: 73.7%;
    top: 58px;
  }
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    color: #153f7b !important;
    text-align: center !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    padding: 0;
  }
  footer a {
    background: #fff;
    display: block;
    flex: 1 0 50%;
    padding: 10px 0;
    outline: 1px solid;
    margin-left: 0;
    border-right: initial;
  }
  footer a:hover {
    color: inherit;
  }
  footer div {
    background: #fff;
    flex: 1 1 100%;
    padding: 10px 0 10px;
    outline: 1px solid;
  }
  #rsvp-form {
    width: 100%;
    top: 93px;
    height: calc(100% - 93px);
    box-sizing: border-box;
    padding: 15px;
    left: 0;
    transform: none;
    position: fixed;
  }
  #rsvp-form .close-btn {
    z-index: 4;
    text-align: right;
    padding: 10px 20px;
    width: 50px;
  }
  #rsvp-form .close-btn .x {
    font-size: 37px;
    right: 4px;
    top: 3px;
  }
  #rsvp-form h2 {
    border: 0;
    text-align: center;
    float: none;
    padding: 0;
  }
  #rsvp-form .screening-info {
    float: none;
    margin-left: 0;
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
  #rsvp-form .screening-info span {
    display: block;
  }
  #rsvp-form form .input {
    font-size: 15px;
  }
  #rsvp-form form .submit-btn {
    display: block;
    text-align: center;
  }
  #rsvp-form form .dropdown .value:hover {
    background: #eee;
    color: inherit;
  }
  .scroll-down {
    display: none !important;
  }
}
@media screen and (max-device-width: 700px) and (orientation: landscape) {
  .rotate {
    background: url(../img/ui/rotate-screen.png) center center / 50% auto no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: block;
  }
}
@media screen and (max-width:667px) and (orientation:landscape) {
  #wrapper {
    display: none;
  }
}
