html {
  height: 100%;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.woff2') format('woff2'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold.woff2') format('woff2'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100%;
  width: 100%;
  background: #166db1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham';
  font-weight: 500;
  color: #fff;
  overflow: hidden;
}
header {
  width: 100%;
  background: #153f7b;
  z-index: 11;
}
header .fyc-banner a {
  width: 7vw;
  margin-left: 8.5px;
  margin-top: 8.5px;
  position: relative;
  display: block;
  float: left;
  margin-bottom: 5px;
}
header .fyc-banner .nowrap {
  margin-left: 3vw;
  width: 62vw;
  display: inline-flex;
  justify-content: space-between;
  font-family: 'Gotham';
  font-weight: 300;
  margin-right: 4vw;
  position: relative;
  margin-top: 1.3vw;
  float: left;
}
header .fyc-banner .title {
  display: inline-block;
  text-align: right;
  width: 22.6vw;
  color: #b4bccd;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.09vw;
  line-height: 1em;
  float: left;
  margin-top: 6px;
}
header nav {
  background: #fff;
  text-align: center;
}
header nav ul {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
}
header nav ul li {
  color: #2498ca;
  cursor: pointer;
  font-family: 'CenturyGothic';
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 1.4vw;
  font-size: 0.9vw;
  position: relative;
}
header nav ul li.selected {
  color: #e69441;
}
header nav ul li .submenu-holder {
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  overflow: hidden;
  min-width: 270px;
}
header nav ul li .submenu {
  background: rgba(93, 143, 206, 0.9);
  position: relative;
  color: #fff;
  text-align: right;
  line-height: 1.3vw;
  padding: 10px 2vw 10px 20px;
  font-size: 0.8vw;
  font-family: 'Gotham';
  font-weight: 500;
  margin: 0 auto;
  width: 50%;
  min-width: 200px;
  margin-top: -200%;
  transition: margin-top 0.5s;
}
header nav ul li .submenu > div {
  cursor: pointer;
  position: relative;
  transition: right 0.3s;
  right: 0;
}
header nav ul li .submenu > div:hover {
  right: 10px;
}
header nav ul li .submenu > div.selected {
  text-decoration: underline;
}
header nav ul li.open .submenu-holder {
  display: block;
}
header nav ul li.open .submenu-holder .submenu {
  margin-top: 0;
}
footer {
  font-size: 9px;
  line-height: 1.3em;
  text-align: center;
  color: #fff;
  clear: both;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 0;
  bottom: 5px;
  z-index: 10;
}
footer span {
  color: #fee797;
}
footer a {
  color: inherit;
  text-decoration: none;
  border-right: 1px solid #fee797;
  padding-right: 5px;
  margin-left: 3px;
}
footer a:hover {
  color: #fee797;
}
footer a:last-of-type {
  border-right: none;
  padding-right: 0;
}
body > footer {
  bottom: 2vh;
  width: 100%;
  z-index: 1;
  padding: 0 2vh;
  box-sizing: border-box;
}
var {
  display: none;
}
.stat {
  transition: none !important;
}
.slider {
  width: 100%;
  height: 100%;
}
#wrapper {
  position: absolute;
  border: 2vh solid #166db1;
  height: calc(100% - 4vh);
  width: calc(100% - 4vh);
  overflow: hidden;
  background: #0f2d61;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #0f2d61 0%, #0f2d61 10%, #153f84 34%, #0f2d60 50%, #0f2d60 63%, #0f3b75 77%, #0f2d61 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0f2d61 0%, #0f2d61 10%, #153f84 34%, #0f2d60 50%, #0f2d60 63%, #0f3b75 77%, #0f2d61 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0f2d61 0%, #0f2d61 10%, #153f84 34%, #0f2d60 50%, #0f2d60 63%, #0f3b75 77%, #0f2d61 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f2d61', endColorstr='#0f2d61', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
#wrapper .fyc-banner {
  display: block;
  color: #fff;
  font-weight: 300;
  width: calc(100% - 5vw);
  margin-left: 10%;
  font-size: 27.3px;
  font-size: 1.5vw;
  padding-left: 5vw;
  position: relative;
  margin: 0 auto;
}
#wrapper .fyc-banner img {
  width: 8%;
  float: left;
  top: 50%;
  transform: translateY(31%);
}
#wrapper .fyc-banner .nowrap {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 86%;
  margin-left: 2%;
  margin-right: 1%;
  line-height: 48px;
  line-height: 5vw;
}
#wrapper .title {
  position: fixed;
  font-weight: 300;
  color: #2a80c2;
  transform-origin: 0 0;
  font-size: 5vmin;
  font-size: 5vmax;
  width: 88vh;
  bottom: 0;
  transform: rotate(-90deg);
  text-align: right;
}
#boxes {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  right: 22px;
  transform: translateY(-48%) translateX(-48%);
  width: 87vw;
  max-width: 1800px;
}
#boxes .box {
  width: 32.4%;
  margin-bottom: 1.4%;
  float: left;
  cursor: pointer;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.5s, transform 0.5s, box-shadow 0.5s;
}
#boxes .box video {
  background: transparent;
}
#boxes .box#batb-box {
  margin-left: 17.8%;
}
#boxes .box#batb-box .logo {
  width: 34%;
  top: 8%;
  right: 6%;
}
#boxes .box#cars-box {
  clear: left;
}
#boxes .box#cars-box .logo {
  width: 30%;
  height: 30%;
  margin-top: 29%;
  margin-left: 3%;
}
#boxes .box#coco-box {
  margin: 0 1.4%;
}
#boxes .box#coco-box .logo {
  position: absolute;
  top: 4%;
  right: 3%;
  width: 38%;
}
#boxes .box#gotg-box {
  margin-left: 17.8%;
  clear: left;
}
#boxes .box#thor-box {
  margin-left: 1.4%;
}
#boxes .box#thor-box .logo {
  top: 1%;
  right: 1%;
  width: 43%;
}
#boxes .box#lou-box .logo {
  width: 40%;
  top: 2%;
  left: 2%;
}
#boxes .box#sw-box {
  margin-left: 1.4%;
}
#boxes .box#sw-box .logo {
  position: absolute;
  width: 58%;
  right: 0;
}
#boxes .box:hover {
  z-index: 2;
  box-shadow: 16px 20px 47px -9px rgba(0, 0, 0, 0.3);
}
#boxes .box:hover .light {
  animation: light 1s;
}
#boxes .box .logo {
  position: absolute;
  pointer-events: none;
}
#boxes .box .light {
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.7;
  left: -106%;
  transition: left 0.8s;
  position: absolute;
  pointer-events: none;
}
#boxes .box .light img {
  height: 100%;
  width: 100%;
}
.page {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  transform-origin: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s;
  height: 100%;
  background-color: #000;
}
.page .bg-holder .bg.photos {
  background: #000;
}
.page .bg-holder .bg.accolades {
  background: #fff;
}
.page .limiter {
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 2;
  max-width: 1500px;
}
.page .limiter > div {
  display: none;
  position: relative;
  height: 100%;
}
.page .limiter > div .logo {
  margin: 0 auto;
}
.page .limiter > div .content {
  position: absolute;
}
.page .limiter footer {
  position: fixed;
  padding: 0 5px;
}
.page .limiter .consider {
  text-align: center;
  display: none;
  padding-top: 1px;
  margin-top: -1px;
  height: 100%;
}
.page .limiter .consider .content {
  width: 520px;
  font-size: 1vh;
  display: flex;
  flex-wrap: wrap;
  top: 1vh;
  font-weight: 700;
}
.page .limiter .consider .content .logo {
  margin-bottom: 1vh;
}
.page .limiter .consider .content .logo .img {
  width: 50%;
  margin: 0 auto;
  flex: 1 1 100%;
}
.page .limiter .consider .content p {
  font-size: 1.2em;
  flex: 1 100%;
  margin: 0;
}
.page .limiter .consider .content h3 {
  margin: 0.5vh 0 0;
  font-size: 1.5em;
  line-height: 1.2em;
}
.page .limiter .consider .content .guild {
  font-size: 0.8em;
}
.page .limiter .consider .content .subline {
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1.1em;
}
.page .limiter .consider .content .name,
.page .limiter .consider .content .song {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 500;
}
.page .limiter .consider .content .left h3:first-child {
  margin-top: 0.5vh;
}
.page .limiter .consider .content .first {
  flex: 1 100%;
  margin-bottom: 0.8vh;
}
.page .limiter .consider .content .first h3:first-of-type {
  font-size: 1.8em;
}
.page .limiter .consider .content .first p,
.page .limiter .consider .content .first .subline {
  line-height: 1.2em;
}
.page .limiter .consider .content .and {
  font-size: 0.8em;
}
.page .limiter .consider .content .left {
  flex: 1 49%;
  left: -10px;
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .limiter .consider .content .right {
  left: 10px;
  flex: 1 49%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .limiter .songs .content,
.page .limiter .song .content {
  left: 5vw;
}
.page .limiter .songs .content h2,
.page .limiter .song .content h2 {
  font-size: 2.8vh;
  font-weight: 500;
  margin-top: 4.5vh;
  margin-bottom: 3vw;
}
.page .limiter .songs .content .song,
.page .limiter .song .content .song {
  text-align: left;
  color: #f9e491;
  position: relative;
  padding-left: 7vh;
  font-weight: bold;
  margin-bottom: 4vh;
}
.page .limiter .songs .content .song .play-btn,
.page .limiter .song .content .song .play-btn {
  width: 5.3vh;
  height: 5.4vh;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
.page .limiter .songs .content .song.playing .play-btn,
.page .limiter .song .content .song.playing .play-btn {
  background-position: 0 100%;
}
.page .limiter .songs .content .song .song-title,
.page .limiter .song .content .song .song-title {
  font-size: 3.2vh;
  margin: 19px auto 5px;
}
.page .limiter .songs .content .song .written-by,
.page .limiter .song .content .song .written-by {
  font-size: 1.3vh;
  padding-left: 2vh;
  line-height: 1.2em;
}
.page .limiter .songs .content .song .written-by > div,
.page .limiter .song .content .song .written-by > div {
  color: #fff;
}
.page .limiter .songs .content .song .subline,
.page .limiter .song .content .song .subline {
  font-size: 0.8em;
  margin: 2px 0;
}
.page .limiter .songs .content .song .name,
.page .limiter .song .content .song .name {
  font-size: 1.1em;
}
.page .limiter .songs .content .song .artist,
.page .limiter .song .content .song .artist {
  display: inline-block;
  margin-top: 2vh;
  width: 18vh;
  margin-left: 2vh;
}
.page .limiter .score h2 {
  font-size: 2.3vh;
  font-weight: 500;
  margin-top: 4.5vh;
  margin-bottom: 0;
}
.page .limiter .score .content {
  width: 530px;
  height: 100%;
  left: 5%;
}
.page .limiter .score .score-name {
  font-weight: 500;
  font-size: 1.7vh;
  margin-top: 0.1vh;
}
.page .limiter .score .score-bio {
  line-height: 1.4em;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}
.page .limiter .score .score-bio .read-more {
  position: relative;
  top: -10px;
  right: 15px;
  color: #f9e491;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}
.page .limiter .score .download-btn {
  width: 22vh;
  margin-top: 2vh;
}
.page .limiter .score .download-btn a {
  display: block;
  height: 100%;
}
.page .limiter .score .track-list {
  height: 42vh;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 4vh;
  position: relative;
  width: 380px;
}
.page .limiter .score .track-list .track {
  padding-bottom: 0.7vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1vh;
  color: #f9e491;
  width: 80%;
  position: relative;
}
.page .limiter .score .track-list .track .play-btn {
  float: left;
  margin-top: 0.3vh;
  width: 2.3vh;
  height: 2.3vh;
  background: url(../img/ui/play-pause-btn.png) no-repeat;
  cursor: pointer;
  background-size: 100%;
}
.page .limiter .score .track-list .track.playing .play-btn {
  background-position: 0 100%;
}
.page .limiter .score .track-list .track .track-info {
  line-height: 1.2em;
  width: 89%;
  font-size: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3.4vh;
}
.page .limiter .score .track-list .track.active {
  color: #fff;
}
.page .limiter .score .track-list .track:after {
  clear: both;
  display: table;
  content: "";
}
.page .limiter .score .track-list .scroller {
  left: 84%;
}
.page .limiter .synopsis .content {
  width: 550px;
  font-size: 1.7vmin;
  line-height: 1.6em;
  font-weight: 500;
}
.page .limiter .screenings {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.page .limiter .screenings .guild-members-co {
  font-weight: 500;
  font-size: 1.8vh;
  color: #fff;
  position: absolute;
  bottom: 3vh;
  text-align: center;
  width: 26vh;
  right: 3vw;
  cursor: pointer;
  display: none;
}
.page .limiter .screenings .guild-members-co div {
  outline: 1px solid #fad47d;
  margin-top: 10px;
  color: #fad47d;
  font-size: 0.8em;
  padding: 10px 0;
  line-height: 1.3em;
}
.page .limiter .screenings .pop-up {
  position: fixed;
  background: rgba(19, 20, 22, 0.9);
  border-radius: 3px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 6;
  width: 89vh;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 90%;
}
.page .limiter .screenings .pop-up .pop-up-close {
  background: url(../img/thor/close-btn.png) no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 65px;
  height: 0;
  padding-top: 5%;
  background-size: 100%;
  cursor: pointer;
}
.page .limiter .screenings .pop-up .inside {
  background: rgba(19, 20, 22, 0.4);
  padding: 15px 70px;
  border-radius: 5px;
  outline: 1px solid rgba(252, 238, 189, 0.2);
}
.page .limiter .screenings .pop-up .inside h3 {
  text-align: center;
  font-size: 2.2vh;
  margin: 20px auto;
  font-weight: 500;
}
.page .limiter .screenings .pop-up .inside p {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  font-size: 1.9vh;
  line-height: 1.5em;
  font-weight: 400;
}
.page .limiter .screenings .pop-up .inside ul {
  list-style: none;
  padding: 0;
}
.page .limiter .screenings .pop-up .inside ul li {
  font-size: 1.8vh;
  font-weight: 300;
  margin-bottom: 17px;
  line-height: 1.3em;
  position: relative;
}
.page .limiter .screenings .pop-up .inside ul li span {
  position: absolute;
  right: 102%;
  width: 4px;
  top: 50%;
  height: 4px;
  display: block;
  border-radius: 10px;
  background: #ffdb92;
}
.page .limiter .screenings .content {
  width: 69vh;
  right: 0;
  top: 10%;
}
.page .limiter .screenings .content .cities-list {
  color: #ffe59b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 1.7vh;
}
.page .limiter .screenings .content .cities-list .city {
  cursor: pointer;
  text-transform: uppercase;
}
.page .limiter .screenings .content .cities-list .city.selected {
  background: #ffe59b;
  color: #184e77;
  text-shadow: none;
  padding: 5px 5px 4px;
  top: -3px;
  position: relative;
}
.page .limiter .screenings .content .city-holder {
  position: relative;
  width: 100%;
  display: none;
  text-align: center;
  margin-top: 4vh;
  min-height: 8vh;
  max-height: 50vh;
  font-size: 1.7vh;
}
.page .limiter .screenings .content .city-holder.Los_Angeles-holder {
  display: block;
}
.page .limiter .screenings .content .city-holder h3 {
  font-weight: 400;
}
.page .limiter .screenings .content .city-holder h3 span {
  text-decoration: underline;
  cursor: pointer;
}
.page .limiter .screenings .content .screening {
  margin: 0px auto 20px;
  width: 70%;
  text-align: center;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
.page .limiter .screenings .content .screening h4 {
  margin: 5px 0;
  font-weight: 400;
  font-size: 0.8em;
}
.page .limiter .screenings .content .screening:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}
.page .limiter .screenings .content .screening .date {
  font-weight: 700;
  font-size: 1.2em;
}
.page .limiter .screenings .content .screening .theater {
  font-size: 1em;
  margin-top: 8px;
  line-height: 1.3em;
}
.page .limiter .screenings .content .screening .address {
  font-size: 0.8em;
}
.page .limiter .screenings .content .screening .address a {
  display: inline-block;
  width: 41px;
  height: 15px;
  position: relative;
  background: url(../img/ui/map-icon.png) no-repeat;
  background-size: 100%;
  left: 8px;
  top: 2px;
}
.page .limiter .screenings .content .screening .qa {
  font-size: 0.7em;
  width: 110%;
  margin-top: 8px;
  line-height: 1em;
}
.page .limiter .screenings .content .screening .btn {
  color: #ffe59b;
  font-size: 1.1em;
  margin-top: 12px;
  margin-bottom: 1em;
  cursor: pointer;
}
.page .limiter .screenings .content .disclaimer {
  position: relative;
  top: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  margin: 1em auto 0;
  line-height: 1.3em;
  width: 400px;
}
.page .limiter .press .content {
  text-transform: uppercase;
  top: 3vh;
  width: 600px;
  margin-top: 0%;
  height: 72vh;
  -webkit-overflow-scrolling: touch;
}
.page .limiter .press .content .scroller {
  display: none;
}
.page .limiter .press .content .snippet {
  text-align: center;
  margin-bottom: 4.8vh;
}
.page .limiter .press .content .snippet:last-of-type {
  margin-bottom: 0;
}
.page .limiter .press .content .snippet .press-logo img {
  width: auto;
  margin: 1vh auto;
  max-height: 37px;
}
.page .limiter .press .content .snippet .title {
  line-height: 1.3em;
  font-size: 1.5vh;
}
.page .limiter .press .content .snippet a {
  text-decoration: none;
  color: #f9e491;
  margin-top: 10px;
  font-size: 14px;
  display: block;
}
.page .limiter .photos {
  position: fixed;
  width: 100%;
  left: 0;
  overflow: hidden;
}
.page .limiter .videos .content {
  height: 67vh;
  margin: auto;
  width: 119.3vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page .limiter .videos .content .video-list {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 104%;
  width: 100%;
}
.page .limiter .videos .content .video-list .video-title {
  font-size: 1.4vw;
  cursor: pointer;
}
.page .limiter .videos .content .video-list .video-title.selected {
  color: #f9e491;
}
.page .limiter .videos .content .video-container {
  height: 100%;
}
.page .limiter .videos .content .video-container video {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.page .limiter .filmmakers .content {
  right: 2vw;
  top: 6vh;
  width: 52vw;
  max-width: 625px;
}
.page .limiter .filmmakers .content .name-list {
  margin-bottom: 1.5vh;
}
.page .limiter .filmmakers .content .name-list .name {
  font-size: 1.5vh;
  color: #f9e491;
  cursor: pointer;
}
.page .limiter .filmmakers .content .name-list .name.current {
  color: #fff;
}
.page .limiter .filmmakers .content .bio {
  display: none;
  font-weight: 500;
}
.page .limiter .filmmakers .content .bio .name {
  font-weight: bold;
  font-size: 3.4vh;
}
.page .limiter .filmmakers .content .bio .name .guild {
  font-size: 0.5em;
}
.page .limiter .filmmakers .content .bio .studio {
  font-weight: bold;
  font-size: 20px;
}
.page .limiter .filmmakers .content .bio .text {
  margin-top: 1vh;
  position: relative;
  padding-right: 5vh;
  padding-bottom: 1vh;
}
@media screen and (max-height: 911px) {
  .page .limiter .filmmakers .content .bio .text {
    max-height: 54vh;
  }
}
.page .limiter .filmmakers .content .bio .text p {
  font-size: 1.6vh;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}
.page .limiter .filmmakers .content .bio#dave-bio {
  display: block;
}
.page .limiter .screenplay .content {
  text-align: center;
}
.page .limiter .screenplay .content .download-button {
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 310px;
  height: 290px;
  right: 87%;
  top: -46%;
}
.page .limiter .screenplay .content .text {
  font-size: 1.7vh;
  line-height: 1.2em;
  font-weight: 700;
}
.page .limiter .screenplay .content .text h2 {
  color: #fff;
  border-bottom: 1px solid rgba(254, 231, 151, 0.3);
  padding-bottom: 5px;
  font-size: 1.3em;
}
.page .limiter .screenplay .content .text .written {
  color: #fee797;
  margin-top: 1vh;
  font-size: 0.8em;
}
.page .limiter .screenplay .content .text .names {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page .limiter .screenplay .content .text .names > div {
  flex: 1 50%;
}
.page .limiter .screenplay .content .text .names .and {
  font-size: .8em;
}
.page .limiter .accolades {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  background: #fff;
}
.page .limiter .accolades .banner {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.page .limiter .accolades .content {
  position: relative;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: #fff;
  width: 95%;
  padding: 0 2.5% 10vh;
  z-index: 3;
  margin-top: 35%;
}
.page .limiter .accolades .content .award {
  font-weight: bold;
  width: 29%;
  text-align: center;
  color: #153f7b;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  white-space: nowrap;
}
.page .limiter .accolades .content .award img {
  position: relative;
  z-index: 2;
}
.page .limiter .accolades .content .award .offset-left {
  position: absolute;
  width: auto;
  height: 120%;
  z-index: 1;
  right: 100%;
  top: -10%;
}
.page .limiter .accolades .content .award.middle {
  margin: 8vh 5.6% 0;
}
.page .limiter .accolades .content .award.withNumber {
  font-size: 2vh;
}
.page .limiter .accolades .content .award.withNumber .number {
  font-size: 6em;
  margin-top: -1.2vh;
  float: left;
}
.page .limiter .accolades .content .award.withNumber .award-info {
  float: left;
}
.page .limiter .accolades .content .award.withNumber:after {
  display: 'table';
  content: '';
  clear: both;
}
.page .limiter footer {
  display: none;
}
.page .quote {
  color: #fceebd;
}
.page .quote p {
  font-size: 1.5vh;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 0.1em;
}
.page .quote > div:first-child {
  display: block;
}
.page .quote .author {
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7em;
}
.page .quote .author .auth-logo {
  margin: 0;
  position: relative;
  display: inline-block;
}
.page .video-container {
  position: relative;
  box-shadow: 4px 7px 15px 2px rgba(0, 0, 0, 0.4);
}
.page .video-container .poster {
  position: absolute;
  top: 0;
  background-attachment: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.page .video-container .poster.playing {
  pointer-events: none;
}
.page#sw-page .limiter {
  max-width: 100%;
}
.page#sw-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#sw-page .bg-holder .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}
.page#sw-page .bg-holder .bg.fyc {
  background-image: url(../img/sw/sw-consider-page.jpg);
}
.page#sw-page .bg-holder .bg.screenings {
  background-image: url(../img/sw/sw-screenings-bg.jpg);
  background-position-x: center !important;
  background-position-y: 50%;
}
.page#sw-page .bg-holder .bg.synopsis {
  background-image: url(../img/sw/sw-synopsis-bg.jpg);
}
.page#sw-page .bg-holder .bg.score {
  background-image: url(../img/sw/sw-score-bg.jpg);
}
.page#sw-page .bg-holder .bg.photos {
  background-image: url(../img/sw/sw-photos-bg.jpg);
}
.page#sw-page .bg-holder .bg.production {
  background-image: url(../img/sw/sw-production-bg.jpg);
}
.page#sw-page .consider .logo {
  width: 26vh;
  margin-bottom: 1.3vh;
}
.page#sw-page .consider .content {
  left: 11vw;
  top: 6vh;
  width: 47vh;
}
.page#sw-page .consider .content h3,
.page#sw-page .consider .content p,
.page#sw-page .consider .content .subline {
  color: #fad47d;
}
.page#sw-page .screenings .content {
  left: 50%;
  transform: translateX(-50%);
  top: 45vh;
  width: 56vw;
  min-width: 96vh;
}
.page#sw-page .screenings .content .scroll-ctrl {
  background-color: #40606a;
}
.page#sw-page .screenings .content .scroll-track {
  background: #40606a;
}
.page#sw-page .screenings .content .cities-list {
  color: #40606a;
  justify-content: start;
}
.page#sw-page .screenings .content .cities-list .city {
  margin-right: 4%;
}
.page#sw-page .screenings .content .cities-list .city.selected {
  background: #40606a;
  color: #fff;
}
.page#sw-page .screenings .content .city-holder {
  max-height: 31vh;
  margin-top: 3vh;
}
.page#sw-page .screenings .content .city-holder .scrollable {
  display: flex;
  flex-wrap: wrap;
}
.page#sw-page .screenings .content .city-holder .scroller {
  left: 94%;
}
.page#sw-page .screenings .content .screening {
  width: 28vh;
  text-align: left;
  margin: 0 4vh 40px 0px;
}
.page#sw-page .screenings .content .screening .theater {
  margin-top: 2px;
}
.page#sw-page .screenings .content .screening .address a {
  background-image: url('../img/sw/map-icon-blue.png');
}
.page#sw-page .screenings .content .screening .btn {
  color: #40606a;
}
.page#sw-page .synopsis .content {
  top: 13vh;
  right: 7vw;
  width: 40vmin;
  white-space: nowrap;
}
.page#sw-page .score .content .track-list {
  width: 380px;
  height: 60vh;
}
.page#sw-page .score .quote {
  position: absolute;
  top: 5vh;
  right: 9vh;
  width: 48vh;
  display: none;
}
@media screen and (min-width: 1100px) {
  .page#sw-page .score .quote {
    display: block;
  }
}
.page#sw-page .score .quote p {
  text-align: center;
  font-size: 2vh;
  margin: 0;
}
.page#sw-page .score .quote .author {
  text-align: center;
  font-size: 0.9em;
  display: block;
}
.page#sw-page .score .quote .author .auth-logo {
  width: 13vh;
  top: 1px;
}
.page#sw-page .production .content {
  width: 50vh;
  position: absolute;
  right: 6vw;
  top: 3vh;
  text-align: center;
}
.page#sw-page .production .content h2 {
  font-weight: 500;
}
.page#sw-page .production .content h2:first-of-type {
  margin-bottom: 0.3vh;
}
.page#sw-page .production .content .download {
  text-decoration: none;
  color: #FFDB8C;
  display: block;
  font-size: 11px;
}
.page#sw-page .production .content .download img {
  display: inline;
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.page#sw-page .production .content .quote {
  margin-top: 18vh;
  font-size: 2.3vh;
}
.page#sw-page .production .content .quote p {
  font-size: 1em;
  margin: 0;
}
.page#sw-page .production .content .quote .author {
  font-size: 0.5em;
  margin: 0;
}
.page#sw-page .production .content .quote .auth-logo {
  width: 9vh;
  top: 0.5vh;
}
.page#sw-page .production .content .qa {
  margin-top: 12vh;
}
.page#sw-page .production .content .qa h2 {
  margin: 0;
}
.page#sw-page .production .content .qa h3 {
  margin: 0;
  font-size: 1em;
  color: #fad47d;
}
.page#sw-page .production .content .qa .video-container {
  margin-top: 2vh;
}
.page#sw-page .accolades .content {
  margin-top: 33%;
}
.page#sw-page .accolades .content .award {
  width: 25%;
}
.page#sw-page .accolades .content .award img {
  display: inline-block;
}
.page#sw-page .accolades .content .award img.small {
  width: 83.34%;
}
.page#sw-page .accolades .content .award img:nth-of-type(2) {
  margin-top: 5vh;
}
.page#sw-page .accolades .content .award.medium {
  width: 30%;
}
.page#sw-page .accolades .content .award.middle {
  margin: 5vh 4% 0;
}
.page#sw-page .accolades .content .award.middle2 {
  margin: 5vh 5% 0;
}
.page#sw-page .accolades .content .award.academy {
  width: 40%;
}
.page#sw-page .accolades .content .award.large {
  width: 35%;
}
.page#sw-page .accolades .content .award.offset {
  margin-right: 4%;
}
.page#thor-page .limiter {
  max-width: 1700px;
}
.page#thor-page .limiter .press {
  width: 50vw;
  max-width: 700px;
  left: 3vw;
  height: 80vh;
}
.page#thor-page .limiter .press .scroll-down {
  bottom: -3vh;
}
.page#thor-page .limiter .press .content {
  top: 6vh;
  width: 50vw;
  height: 72vh;
  width: 100%;
}
.page#thor-page .limiter .press .content .snippet {
  margin-bottom: 6.8vh;
}
.page#thor-page .limiter .press .content .snippet .title {
  font-size: 1.8vh;
}
.page#thor-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#thor-page .bg-holder .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}
.page#thor-page .bg-holder .bg.fyc {
  background-image: url(../img/thor/thor-fyc-bg.jpg);
}
.page#thor-page .bg-holder .bg.screenings {
  background-image: url(../img/thor/thor-screenings-bg.jpg);
  background-position-x: center !important;
  background-position-y: 27%;
}
.page#thor-page .bg-holder .bg.synopsis {
  background-image: url(../img/thor/thor-synopsis-bg.jpg);
}
.page#thor-page .bg-holder .bg.press {
  background-image: url(../img/thor/thor-press-bg.jpg);
  background-position-y: 39%;
}
.page#thor-page .bg-holder .bg.photos {
  background-image: url(../img/thor/thor-photo-bg.jpg);
}
.page#thor-page .bg-holder .bg.score {
  background-image: url(../img/thor/thor-score-bg.jpg);
}
.page#thor-page .bg-holder .bg.screenplay {
  background-image: url(../img/thor/thor-screenplay-bg.jpg);
}
.page#thor-page .consider .logo {
  width: 26vh;
  margin-bottom: 0px;
}
.page#thor-page .consider .content {
  left: 17vw;
  top: 6vh;
  width: 47vh;
}
.page#thor-page .consider .content h3,
.page#thor-page .consider .content p,
.page#thor-page .consider .content .subline {
  color: #ffe14b;
}
.page#thor-page .screenings .content {
  left: 50%;
  transform: translateX(-50%);
  top: 39.5vh;
}
.page#thor-page .screenings .content .scroll-ctrl {
  background-color: #ffe14b;
}
.page#thor-page .screenings .content .cities-list {
  color: #ffe14b;
}
.page#thor-page .screenings .content .city-holder {
  max-height: 31vh;
}
.page#thor-page .screenings .content .screening .btn {
  color: #ffe14b;
}
.page#thor-page .synopsis .content {
  top: 21%;
  left: 4vmin;
  width: 45%;
  max-width: 583px;
}
.page#thor-page .score .content {
  left: 0;
  width: 100%;
}
.page#thor-page .score .content .angled {
  transform: rotate(-18.5deg);
  position: fixed;
  left: -14vh;
  top: 0;
  height: 122vh;
  width: 37vw;
  min-width: 455px;
  max-width: 624px;
  background: rgba(0, 0, 0, 0.3);
  transform-origin: top left;
  z-index: 3;
}
.page#thor-page .score .content .angled .inner {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding-top: 1px;
  margin-top: -1px;
  background: rgba(0, 0, 0, 0.3);
}
.page#thor-page .score .content .angled .inner .artist-pic {
  width: 80%;
  left: -2vh;
  z-index: 4;
  transform: rotate(18.5deg);
}
.page#thor-page .score .content .angled .inner h3 {
  color: #e9e460;
  font-size: 3vh;
  z-index: 5;
  transform: rotate(18.5deg);
  margin: -1.5vh 0 0 0.7vh;
}
.page#thor-page .score .content .angled .inner h5 {
  margin: 0.7vh 0 1vh 1.1vh;
  z-index: 5;
  font-size: 1.9vh;
  transform: rotate(18.5deg);
}
.page#thor-page .score .content .angled .inner .download-btn {
  transform: rotate(18.5deg);
  margin-top: -3vh;
  margin-bottom: 4vh;
  position: relative;
  left: 3px;
}
.page#thor-page .score .content .track-list {
  left: 4vh;
  overflow: visible !important;
  height: 97vh;
  margin-top: 7vh;
  width: auto;
}
.page#thor-page .score .content .track-list .scrollable .track {
  transform: rotate(18.5deg);
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
.page#thor-page .score .content .track-list .scrollable .track .track-info {
  width: 78%;
  padding-top: 12px;
  white-space: nowrap;
  color: #21ac42;
  padding: 1vh 0;
  font-weight: 700;
}
.page#thor-page .score .content .track-list .scrollable .track .play-btn {
  background: url(../img/thor/green-play-btn.png) no-repeat;
  background-size: 100%;
}
.page#thor-page .score .content .track-list .scrollable .track .credits {
  display: none;
}
.page#thor-page .score .content .track-list .scrollable .track.playing .track-name {
  color: #fff;
}
.page#thor-page .score .content .track-list .scrollable .track.playing .play-btn {
  background-position: 0 100%;
}
.page#thor-page .score .content .track-list .scroller {
  display: none;
}
.page#thor-page .score .content .featurette {
  position: absolute;
  right: 3vw;
  top: 4vh;
  width: 45vw;
  text-align: center;
  z-index: 6;
}
.page#thor-page .score .content .featurette h4 {
  font-size: 1.6vw;
  margin: 0;
  font-weight: 500;
  line-height: 1.2em;
}
.page#thor-page .score .content .featurette h6 {
  margin: 0;
  color: #e9e460;
  font-size: 1.05vw;
  margin-bottom: 2.5vh;
}
.page#thor-page .score .content .featurette .video-container .poster {
  background-image: url(../img/thor/thor-score-video-poster.jpg);
}
.page#thor-page .score .content .featurette .quote {
  position: relative;
  text-transform: uppercase;
  margin: 12vh auto 0;
}
.page#thor-page .score .content .featurette .quote p {
  font-weight: 700;
  line-height: 1.6em;
  color: #e7f4cb;
  font-size: 1.1vw;
}
.page#thor-page .score .content .featurette .quote span {
  font-size: 1.4vh;
  color: #fff;
  font-weight: 700;
  margin-top: 0.5vh;
  display: block;
}
.page#thor-page .screenplay .quote {
  width: 71vh;
  max-width: 90%;
  left: 3vw;
  position: absolute;
  top: 2vh;
}
.page#thor-page .screenplay .quote p {
  white-space: initial;
  text-transform: uppercase;
  font-size: 1.8vh;
}
.page#thor-page .screenplay .quote .author {
  font-size: 1.3vh;
}
.page#thor-page .screenplay .quote .author img {
  display: inline;
  width: 80px;
}
.page#thor-page .screenplay .content {
  text-align: left;
  align-items: center;
  position: absolute;
  width: 703px;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}
.page#thor-page .screenplay .content .download-button {
  position: relative;
  left: 0;
  display: inline-block;
  width: 250px;
  height: 219px;
}
.page#thor-page .screenplay .content .download-button a {
  display: block;
}
.page#thor-page .screenplay .content .text {
  display: inline-block;
  width: 34.2vh;
  text-align: center;
  position: absolute;
  margin-left: -40px;
  top: 56%;
  transform: translateY(-50%);
}
.page#thor-page .screenplay .content .text h2 {
  margin: 0;
  display: inline-block;
  border-bottom-color: #ffe89447;
  padding-bottom: 10px;
}
.page#thor-page .screenplay .content .text .written {
  margin-top: 1vh;
  color: #ffe894;
}
.page#thor-page .screenplay .content .text .names {
  display: block;
}
.page#gotg-page .limiter {
  max-width: 100%;
}
.page#gotg-page .limiter .screenplay .quote {
  position: relative;
  width: 33.8vw;
  min-width: 320px;
  max-width: 500px;
}
.page#gotg-page .limiter .screenplay .quote p {
  text-transform: uppercase;
  font-size: 1.7vh;
  line-height: 1.5em;
  letter-spacing: .03em;
  white-space: nowrap;
}
.page#gotg-page .limiter .screenplay .quote .author {
  font-size: 1.9vh;
}
.page#gotg-page .limiter .screenplay .quote .auth-logo {
  width: 11vh;
  top: 1px;
}
.page#gotg-page .limiter .screenplay .content {
  top: 1.5vh;
  left: 3vh;
  width: 100%;
  text-align: left;
}
.page#gotg-page .limiter .screenplay .content .download-button {
  left: -7vh;
  display: inline-block;
  width: 28vh;
  height: 0;
  overflow: visible;
  padding-top: 28vh;
  position: relative;
  margin-top: -3vh;
}
.page#gotg-page .limiter .screenplay .content .download-button a {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.page#gotg-page .limiter .screenplay .content .text {
  font-size: 1.8vh;
  line-height: 1.2em;
  margin-top: -5vh;
}
.page#gotg-page .limiter .screenplay .content .text h2 {
  font-size: 1.7em;
  line-height: 1.1em;
  margin-bottom: 0;
  display: inline-block;
  border-bottom-color: #ffe894;
}
.page#gotg-page .limiter .screenplay .content .text .written {
  font-size: 0.8em;
  margin-top: 1vh;
  color: #ffe894;
}
.page#gotg-page .limiter .screenplay .content .text .names {
  display: block;
  font-size: 1.3em;
  text-transform: uppercase;
}
.page#gotg-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#gotg-page .bg-holder .bg {
  background-size: auto 100%;
  background-position: 50% center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.page#gotg-page .bg-holder .bg.fyc {
  background-image: url(../img/gotg/gotg-fyc-bg.jpg);
  z-index: 3;
  background-position-y: top;
}
.page#gotg-page .bg-holder .bg.screenings {
  background-image: url(../img/gotg/gotg-screenings-bg.jpg);
}
.page#gotg-page .bg-holder .bg.synopsis {
  background-image: url(../img/gotg/gotg-synopsis-bg.jpg);
}
.page#gotg-page .bg-holder .bg.press {
  background-image: url(../img/gotg/gotg-press-bg.jpg);
}
.page#gotg-page .bg-holder .bg.videos {
  background-image: url(../img/gotg/gotg-videos-bg.jpg);
  background-position-x: center !important;
  background-position-y: bottom;
}
.page#gotg-page .bg-holder .bg.screenplay {
  background-image: url(../img/gotg/gotg-screenplay-bg.jpg);
  background-position-x: left !important;
  background-position-y: 20%;
}
.page#gotg-page .bg-holder .bg.song {
  background-image: url(../img/gotg/gotg-song-bg.jpg);
  background-position-x: center !important;
  background-position-y: 85%;
}
.page#gotg-page .consider .logo {
  margin-bottom: 1vh;
  width: 23vh;
}
.page#gotg-page .consider .content {
  right: 6vw;
  top: 4vh;
  width: 54vh;
  text-shadow: 0px 1px 1px #000000;
}
.page#gotg-page .consider .content h3,
.page#gotg-page .consider .content p,
.page#gotg-page .consider .content .subline {
  color: #ffdb92;
}
.page#gotg-page .screenings .content {
  top: 20%;
  left: 10vmin;
}
.page#gotg-page .screenings .content .name {
  text-shadow: 0px 0px 1px #000000;
}
.page#gotg-page .synopsis .content {
  top: 18%;
  right: 6vmin;
}
.page#gotg-page .press .scroll-down {
  top: 88%;
}
.page#gotg-page .press .content {
  left: 50%;
  transform: translateX(-50%);
}
.page#gotg-page .videos .content {
  height: 100%;
  top: 0;
  width: 100%;
  transform: none;
}
.page#gotg-page .videos .content .video-list {
  top: 3vh;
  bottom: initial;
}
.page#gotg-page .videos .content .video-list .video-title {
  color: #fff;
  display: inline-block;
  transition: transform 0.3s;
  text-align: center;
  font-size: 1.5vw;
  text-shadow: 2px 2px 6px #000000;
}
.page#gotg-page .videos .content .video-list .video-title span {
  font-size: 0.6em;
  color: #ffeb9c;
}
.page#gotg-page .videos .content .video-list .video-title.selected {
  color: #fad47d;
  position: relative;
}
.page#gotg-page .videos .content .video-list .video-title:hover {
  transform: scale(1.1);
}
.page#gotg-page .videos .content .video-container {
  display: none;
  background: #000;
  position: relative;
  z-index: 3;
}
.page#gotg-page .videos .content .video-container .video-play-btn {
  display: none;
}
.page#gotg-page .videos .content .video-container .close-btn {
  position: absolute;
  top: 3vh;
  right: 3vh;
  text-align: center;
  cursor: pointer;
  height: 53px;
  font-size: 52px;
  font-weight: 400;
  transform: rotate(45deg);
  opacity: 0.4;
}
.page#gotg-page .videos .content .video-container .close-btn:hover {
  opacity: 1;
}
.page#gotg-page .song .content {
  right: 3vw;
  top: 3vh;
  left: initial;
}
.page#gotg-page .song .content .song {
  text-align: center;
  font-weight: 500;
  padding: 0;
}
.page#gotg-page .song .content .song .song-title {
  font-size: 2vh;
}
.page#gotg-page .song .content .song .play-btn {
  position: relative;
  margin: 20px auto;
}
.page#gotg-page .song .content .song .play-btn > div {
  position: absolute;
  top: 112%;
  font-size: 10px;
  font-weight: 400;
  width: 62px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}
.page#gotg-page .song .content h3 {
  color: #fff;
  font-size: 2.3vh;
}
.page#gotg-page .song .content .credits {
  color: #fff;
  font-size: 0.8em;
}
.page#gotg-page .song .content .credits > div {
  color: #f9e491;
  font-size: 1em;
  margin-bottom: 0.3em;
}
.page#gotg-page .song .content .credits .and {
  font-size: 0.6em;
}
.page#gotg-page .accolades .content {
  margin-top: 34%;
}
.page#gotg-page .accolades .content .award {
  width: 25%;
  vertical-align: top;
}
.page#gotg-page .accolades .content .award.medium {
  width: 30%;
  margin-top: 5vh;
}
.page#gotg-page .accolades .content .award.large {
  width: 34%;
  margin-top: 3vh;
}
.page#gotg-page .accolades .content .award.academy {
  position: relative;
  top: 14px;
}
.page#gotg-page .accolades .content .award.pushRight {
  margin-right: 5%;
}
.page#gotg-page .accolades .content .award.middle {
  margin-top: 5vh;
}
.page#coco-page .limiter {
  max-width: 90vw;
}
.page#coco-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#coco-page .bg-holder .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.page#coco-page .bg-holder .bg.fyc {
  background-image: url(../img/coco/coco-fyc-bg.jpg);
  z-index: 3;
  background-position-y: bottom;
}
@media screen and (min-aspect-ratio:160/100) and (min-device-width:1024px) {
  .page#coco-page .bg-holder .bg.fyc {
    background-position-x: 0 !important;
  }
}
.page#coco-page .bg-holder .bg.screenings {
  background-image: url(../img/coco/coco-screenings-bg.jpg);
  background-position-y: center;
  background-position-x: 0 !important;
}
.page#coco-page .bg-holder .bg.synopsis {
  background-image: url(../img/coco/coco-synopsis-bg.jpg);
  background-position-y: top;
}
.page#coco-page .bg-holder .bg.song {
  background-image: url(../img/coco/coco-song-bg.jpg);
}
.page#coco-page .bg-holder .bg.score {
  background-image: url(../img/coco/coco-score-bg.jpg);
}
.page#coco-page .bg-holder .bg.videos {
  background-image: url(../img/coco/coco-videos-bg.jpg);
  background-position-y: top;
}
.page#coco-page .bg-holder .bg.screenplay {
  background-image: url(../img/coco/coco-screenplay-bg2.jpg);
  background-position-y: center;
}
.page#coco-page .consider .logo {
  width: 18vh;
  margin-bottom: 2vh;
}
.page#coco-page .consider .award {
  position: absolute;
  top: 4vh;
  left: 0vw;
  width: 32vw;
  max-width: 600px;
}
.page#coco-page .consider .content {
  top: 5vh;
  width: 61vh;
  right: 3vh;
}
.page#coco-page .consider .content .name {
  text-shadow: 0px 0px 1px #000000;
}
.page#coco-page .consider .content h3,
.page#coco-page .consider .content p,
.page#coco-page .consider .content .subline {
  color: #f99e1b;
}
.page#coco-page .consider .content .right h3:not(:first-child) {
  margin-top: 0.6vh;
}
.page#coco-page .screenings {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  width: 99%;
}
.page#coco-page .screenings .guild-members-co {
  left: 3vw;
  bottom: 6vh;
}
.page#coco-page .screenings .content {
  right: 4vw;
  top: 10vh;
}
.page#coco-page .synopsis {
  width: 100%;
  position: fixed;
  left: 0;
}
.page#coco-page .synopsis .content {
  width: 27vw;
  right: 3vw;
  top: 15vh;
  line-height: 1.5em;
  text-align: left;
}
.page#coco-page .song .award {
  width: 32vw;
  max-width: 600px;
  margin-bottom: 5vh;
  margin-top: 7vh;
}
.page#coco-page .song .content {
  top: 3vh;
  left: 0vw;
}
.page#coco-page .song .content .song {
  padding-left: 0;
}
.page#coco-page .song .content .song h3 {
  color: #fff;
  font-size: 2.5vh;
  font-weight: 500;
  margin-bottom: 5vh;
}
.page#coco-page .song .content .song .quote p {
  font-size: 2vh;
}
.page#coco-page .song .content .song .quote .author {
  font-size: 1em;
}
.page#coco-page .song .content .song .artist {
  margin-left: 0;
  width: 38vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.page#coco-page .song .content .song .song-title span {
  left: -2vh;
  position: relative;
}
.page#coco-page .song .content .song .credits {
  color: #fff;
  line-height: 1.1em;
}
.page#coco-page .song .content .song .credits > div {
  color: #F4E48F;
  font-size: 0.9em;
}
.page#coco-page .song .content .song .credits .and {
  font-size: 0.8em;
}
.page#coco-page .song .content .song .play-btn {
  width: 4.4vh;
  height: 4.5vh;
  left: 105%;
  bottom: -0.4vh;
}
.page#coco-page .score .content {
  left: 0;
  width: 100%;
}
.page#coco-page .score .content h2 {
  margin-bottom: 0;
}
.page#coco-page .score .content .score-name {
  margin-top: 0;
}
.page#coco-page .score .content .artist-pic {
  width: 38vh;
  margin-top: 2.4vh;
}
.page#coco-page .score .content .track-list {
  width: 380px;
  font-weight: bold;
  margin-top: 2vh;
}
.page#coco-page .score .content .track-list .track {
  width: 74%;
  border-bottom: none;
}
.page#coco-page .score .content .track-list .track .play-btn {
  margin-top: 0;
}
.page#coco-page .score .content .track-list .track .track-info {
  text-transform: uppercase;
  padding-top: 0.8vh;
  padding-bottom: 1vh;
  color: #fad47d;
  border-bottom: 1px solid rgba(249, 228, 145, 0.26);
}
.page#coco-page .score .content .track-list .scroller {
  left: 80%;
}
.page#coco-page .score .content .quote {
  position: absolute;
  right: 0;
  bottom: 14vh;
  text-align: center;
  width: 51.6vh;
}
.page#coco-page .score .content .quote p {
  text-transform: uppercase;
  font-size: 2.2vh;
}
.page#coco-page .score .content .quote .author {
  margin-top: 5px;
  font-size: 0.9em;
}
.page#coco-page .score .content .quote .author img {
  width: 110px;
  top: 3px;
}
.page#coco-page .videos .content .video-list {
  color: #6d6d70;
}
.page#coco-page .videos .content .video-list .video-title.selected {
  color: #f6841f;
}
.page#coco-page .screenplay .content {
  right: 0vh;
  bottom: 5vh;
  text-align: center;
  width: 37vh;
}
.page#coco-page .screenplay .content .text h2 {
  margin-bottom: 0.6em;
}
.page#coco-page .screenplay .content .text .written {
  margin-top: 6px;
}
.page#coco-page .screenplay .content .download-button {
  background-image: url(../img/coco/coco-download-btn.png);
  width: 30vh;
  height: 30vh;
  top: -6vh;
}
.page#coco-page .accolades {
  overflow-y: auto;
  background: #fff;
}
.page#coco-page .accolades .banner {
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.page#coco-page .accolades .content {
  width: 82%;
  padding: 0 9% 10vh;
  z-index: 3;
  margin-top: 34%;
}
.page#coco-page .accolades .content .special .left {
  float: left;
  margin-left: 10%;
  clear: both;
}
.page#coco-page .accolades .content .special .right {
  float: right;
  margin-right: 10%;
}
.page#coco-page .accolades .content .press {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.page#coco-page .accolades .content .award {
  vertical-align: top;
  width: 29.1%;
  margin-top: 5vh;
  position: relative;
}
.page#coco-page .accolades .content .award.golden-globes {
  margin-top: 0vh;
  width: 30.1%;
}
.page#coco-page .accolades .content .award.critics-choice {
  margin-top: 3vh;
  top: 1vh;
  width: 30.1%;
}
.page#coco-page .accolades .content .award.ves {
  margin-top: 6vh;
  width: 39.35%;
}
.page#coco-page .accolades .content .award.annie {
  width: 33.25%;
  margin-top: 4vh;
}
.page#coco-page .accolades .content .award.bafta,
.page#coco-page .accolades .content .award.mpse {
  margin-top: 6vh;
}
.page#coco-page .accolades .content .award.bafta {
  width: 37.1%;
}
.page#coco-page .accolades .content .award.mpse {
  width: 37.3%;
}
.page#coco-page .accolades .content .award.center {
  margin: inherit auto 0;
  clear: both;
}
.page#coco-page .accolades .content .award.middle {
  margin: 5vh auto 0;
}
.page#coco-page .accolades .content .award.offset {
  margin-right: 10%;
}
.page#coco-page .accolades .content .award.academy {
  margin-top: 3vh;
  width: 40.9%;
}
.page#coco-page .accolades .content .award.pga {
  width: 30%;
}
.page#coco-page .accolades .content .award.adg,
.page#coco-page .accolades .content .award.cas,
.page#coco-page .accolades .content .award.ace {
  width: 27%;
}
.page#coco-page .accolades .content .award.adg,
.page#coco-page .accolades .content .award.ace {
  margin-top: 6.2vh;
}
.page#cars-page .limiter {
  max-width: 1600px;
}
.page#cars-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#cars-page .bg-holder .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.page#cars-page .bg-holder .bg.fyc {
  background-image: url(../img/cars/cars-fyc-bg.jpg);
  z-index: 3;
  background-size: auto 110%;
}
@media screen and (min-aspect-ratio: 26/10) {
  .page#cars-page .bg-holder .bg.fyc {
    background-size: cover;
  }
}
.page#cars-page .bg-holder .bg.screenings {
  background-image: url(../img/cars/cars-screenings-bg.jpg);
  background-position-x: 0 !important;
}
.page#cars-page .bg-holder .bg.synopsis {
  background-image: url(../img/cars/cars-synopsis-bg.jpg);
  background-position-x: center !important;
  background-position-y: center;
}
.page#cars-page .bg-holder .bg.score {
  background-image: url(../img/cars/cars-score-bg.jpg);
  background-position-y: 18%;
}
.page#cars-page .bg-holder .bg.songs {
  background-image: url(../img/cars/cars-song-bg.jpg);
  background-position-x: 0 !important;
  background-position-y: 14%;
}
.page#cars-page .bg-holder .bg.press {
  background-image: url(../img/cars/cars-press-bg.jpg);
  background-position: top;
}
.page#cars-page .bg-holder .bg.videos {
  background-image: url(../img/cars/cars-videos-bg.jpg);
  background-position: top;
}
.page#cars-page .consider {
  color: #981911;
}
.page#cars-page .consider .logo {
  width: 15vh;
  left: -5px;
}
.page#cars-page .consider .content {
  width: 59vh;
  left: 3vw;
  top: 2vh;
}
.page#cars-page .consider .content .first {
  margin-top: 1vh;
}
.page#cars-page .consider .content .left h3:not(:first-child) {
  margin-top: 1.5vh;
}
.page#cars-page .consider .content .right h3:not(:first-child) {
  margin-top: 8px;
}
.page#cars-page .consider .content .name,
.page#cars-page .consider .content .song {
  color: #3e4541;
}
.page#cars-page .consider .content .down5 {
  margin-top: 5px;
}
.page#cars-page .screenings .content {
  left: 5vw;
  top: 20%;
}
.page#cars-page .synopsis .content {
  width: 53vw;
  min-width: 590px;
  max-width: 911px;
  top: 3vh;
  line-height: 1.5em;
  position: relative;
  margin: 0 auto;
}
.page#cars-page .songs .content {
  width: 81vw;
}
.page#cars-page .songs .content .artist {
  width: 29%;
  max-width: 18vh;
  margin-right: 2%;
  margin-left: 0;
}
.page#cars-page .songs .content .artist.zz,
.page#cars-page .songs .content .artist.dan {
  margin-left: 2vh;
}
@media screen and (min-width: 1600px) {
  .page#cars-page .songs .content {
    left: 5vw;
  }
}
.page#cars-page .score .track-list {
  width: auto;
}
.page#cars-page .score .scroller {
  left: 82%;
}
.page#cars-page .press .content {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}
.page#cars-page .press .content .snippet {
  margin-bottom: 6.8vh;
}
.page#cars-page .press .content .title {
  font-size: 1.9vh;
}
.page#cars-page .photos {
  width: 100%;
  left: 0;
  position: fixed;
}
.page#cars-page .accolades .content {
  margin-top: 29%;
}
.page#cars-page .accolades .content .award {
  width: 25.1%;
  margin-top: 7vh;
  vertical-align: top;
}
.page#cars-page .accolades .content .award.large {
  width: 33%;
  margin-top: 3vh;
}
.page#cars-page .accolades .content .award.middle {
  margin-top: 7vh;
  width: 31%;
}
.page#batb-page {
  background-color: #1e1714;
}
.page#batb-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#batb-page .bg-holder .bg {
  background-size: cover;
  background-position-y: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-repeat: no-repeat;
}
.page#batb-page .bg-holder .bg.one {
  background-image: url(../img/batb/batb-fyc-bg.jpg);
  z-index: 3;
  background-position: 40% center;
}
.page#batb-page .bg-holder .bg.cast {
  background-image: url(../img/batb/cast/batb-cast-bg.jpg);
  z-index: 1;
  background-position-y: top;
}
.page#batb-page .bg-holder .bg.filmmakers {
  background-position-y: top;
}
.page#batb-page .bg-holder .bg.filmmakers .condon {
  background-image: url(../img/batb/filmmakers/condon-bg.jpg);
  background-position-x: 63% !important;
  background-position-y: top;
  opacity: 1;
}
.page#batb-page .bg-holder .bg.filmmakers .hoberman {
  background-image: url(../img/batb/filmmakers/hoberman-bg.jpg);
}
.page#batb-page .bg-holder .bg.filmmakers .lieberman {
  background-image: url(../img/batb/filmmakers/lieberman-bg.jpg);
}
.page#batb-page .bg-holder .bg.filmmakers .tobias {
  background-image: url(../img/batb/filmmakers/tobias-bg.jpg);
}
.page#batb-page .bg-holder .bg.filmmakers .katz {
  background-image: url(../img/batb/filmmakers/katz-bg.jpg);
}
.page#batb-page .bg-holder .bg.music {
  background-image: url(../img/batb/music/batb-music-bg.jpg);
}
.page#batb-page .bg-holder .bg.press {
  background-image: url(../img/batb/press/bg.jpg);
}
.page#batb-page .bg-holder .bg.makingof {
  background-image: url(../img/batb/makingof/bg.jpg);
  background-position: center bottom !important;
}
.page#batb-page .bg-holder .bg.screenplay {
  background-image: url('../img/batb/batb-screenplay-bg.jpg');
  background-position-y: bottom;
  background-position-x: 50% !important;
}
.page#batb-page .bg-holder video {
  height: 100%;
  width: auto;
}
.page#batb-page .limiter {
  max-width: initial;
}
.page#batb-page .quote,
.page#batb-page .bottom-quote {
  color: #fceebd;
}
.page#batb-page .quote p,
.page#batb-page .bottom-quote p {
  font-size: 1.5vh;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 0.1em;
  white-space: nowrap;
}
.page#batb-page .quote > div:first-child,
.page#batb-page .bottom-quote > div:first-child {
  display: block;
}
.page#batb-page .quote .author,
.page#batb-page .bottom-quote .author {
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7em;
}
.page#batb-page .quote .author .auth-logo,
.page#batb-page .bottom-quote .author .auth-logo {
  margin: 0;
  position: relative;
  display: inline-block;
}
.page#batb-page .consider .quote {
  position: fixed;
  left: 2vw;
  width: 21%;
  top: 4vh;
}
.page#batb-page .consider .logo {
  height: 12vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.page#batb-page .consider .logo img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.page#batb-page .consider .content {
  right: 5vw;
  width: 64vh;
  top: 1vh;
  transform: scale(0.99);
}
.page#batb-page .consider .content .left h3 {
  margin-top: 0.57vh;
}
.page#batb-page .consider .content .left h3:first-child {
  margin-top: 0.5vh;
}
.page#batb-page .consider .content .right h3 {
  margin-top: 0.85vh;
}
.page#batb-page .consider .content .right h3:first-child {
  margin-top: 0.5vh;
}
.page#batb-page .consider .content h3,
.page#batb-page .consider .content p,
.page#batb-page .consider .content .subline {
  color: #fad47d;
}
.page#batb-page .consider .content .down5 {
  margin-top: 0.56vh;
}
.page#batb-page .screenings {
  background: #1e1714;
}
.page#batb-page .screenings .special-bg {
  background-image: url(../img/batb/batb-synopsis-bg2.jpg);
  z-index: 3;
  background-position-y: top;
  background-position-x: 13%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 69vw;
}
.page#batb-page .screenings .special-bg .quote {
  display: none;
}
.page#batb-page .screenings .scroller {
  left: 90%;
}
.page#batb-page .screenings .thumb {
  width: 17vw;
  height: 11.4vw;
  position: absolute;
  bottom: 9vh;
  border: 1px solid #f9e491;
  overflow: hidden;
  transition: all 0.4s;
  cursor: pointer;
}
.page#batb-page .screenings .thumb .image {
  height: 100%;
}
.page#batb-page .screenings .thumb.one {
  left: 2vw;
}
.page#batb-page .screenings .thumb.one.active {
  width: 68vh;
  left: 1%;
  bottom: 33%;
  height: 45.3vh;
}
.page#batb-page .screenings .thumb.two {
  left: 20.1vw;
}
.page#batb-page .screenings .thumb.two.active {
  left: 5%;
  bottom: 33%;
  height: 45.3vh;
}
.page#batb-page .screenings .thumb.three {
  left: 38.1vw;
}
.page#batb-page .screenings .thumb.three img {
  height: 100%;
  width: auto;
}
.page#batb-page .screenings .thumb.three.active {
  left: 10%;
}
.page#batb-page .screenings .thumb.active {
  z-index: 7;
  bottom: 33%;
  height: 45.3vh;
  width: 68vh;
}
.page#batb-page .screenings .content {
  right: 0%;
  width: 31vw;
  top: 0;
  text-align: center;
  height: 100%;
  background: #1e1714;
  overflow-y: auto;
}
.page#batb-page .screenings .content.scrollerActive .scrollable {
  width: 90%;
}
.page#batb-page .screenings .content img {
  max-width: 100%;
}
.page#batb-page .screenings .content .quote {
  width: 90%;
  margin: 20px auto 0px;
}
.page#batb-page .screenings .content .quote img {
  width: auto;
}
.page#batb-page .screenings .content h3 {
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 7px;
  font-size: 2.5vh;
  display: inline-block;
  margin-top: 1.4em;
  position: relative;
}
.page#batb-page .screenings .content .synopsis {
  line-height: 1.4em;
  font-size: 16px;
  width: 90%;
  margin: 3vh auto 0;
  text-align: left;
}
.page#batb-page .screenings .content .synopsis p {
  overflow: hidden;
}
.page#batb-page .screenings .content .read-more {
  color: #f9e491;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.page#batb-page .screenings .content .screenings-holder {
  position: relative;
}
.page#batb-page .screenings .content .screenings-holder .screening {
  width: 88%;
  font-size: 1.9vh;
}
.page#batb-page .screenings .content .screenings-holder .screening .date {
  text-transform: uppercase;
  font-size: 0.8em;
}
@media screen and (min-width: 1200px) {
  .page#batb-page .screenings .content .screenings-holder .screening .date {
    font-size: 16px;
    white-space: nowrap;
  }
}
.page#batb-page .screenings .content .screenings-holder .screening .theater {
  font-size: 0.8em;
}
.page#batb-page .screenings .content .disclaimer {
  position: relative;
  top: 0;
  width: 95%;
  left: 0;
  margin: 0 auto;
}
.page#batb-page .screenings .content .netflix {
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.page#batb-page .cast .cast-bgs {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.page#batb-page .cast .cast-bgs .cast-bg {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  background-position: right center;
  position: absolute;
  top: 0;
}
.page#batb-page .cast .cast-bgs .cast-bg.active {
  z-index: 1;
}
.page#batb-page .cast a {
  color: inherit;
  text-decoration: none;
}
.page#batb-page .cast .quote {
  width: 43vh;
  position: absolute;
  top: 3vh;
  left: 3vw;
}
.page#batb-page .cast .quote img {
  max-width: 100%;
}
.page#batb-page .cast .article {
  position: absolute;
  bottom: 35vh;
  width: 40vh;
  left: 3vw;
  text-align: center;
}
.page#batb-page .cast .article .title {
  font-size: 0.76vw;
  margin-top: 5px;
}
.page#batb-page .cast .article .title span {
  font-weight: bold;
}
.page#batb-page .cast .article .read {
  color: #fad47d;
  margin-top: 5px;
  font-size: 12px;
}
.page#batb-page .cast .severed-heads {
  width: 94vw;
  left: 4.2vw;
  position: absolute;
  bottom: 10vh;
  display: flex;
}
.page#batb-page .cast .severed-heads .head {
  margin-left: -3%;
  width: 12.09%;
  position: relative;
  cursor: pointer;
}
.page#batb-page .filmmakers .bottom-quote {
  position: absolute;
  right: 3vw;
  bottom: 7vh;
  width: 47vh;
  color: #fceebd;
}
.page#batb-page .filmmakers .bottom-quote p {
  text-align: right;
}
.page#batb-page .filmmakers .bottom-quote .author {
  float: right;
}
.page#batb-page .filmmakers .bottom-quote .author .auth-logo {
  top: 7px;
}
.page#batb-page .filmmakers .content {
  left: 3vw;
  top: 0;
  width: 40vw;
  min-width: 540px;
  max-width: 612px;
}
.page#batb-page .filmmakers .content .quote {
  width: 49vw;
  margin-top: 3vh;
}
.page#batb-page .filmmakers .content .quote > div {
  display: none;
}
.page#batb-page .filmmakers .content .quote > div p {
  text-transform: uppercase;
}
.page#batb-page .filmmakers .content .quote > div:first-child {
  display: block;
}
.page#batb-page .filmmakers .content .quote > div:first-child p {
  font-size: 0.8em;
}
.page#batb-page .filmmakers .content .quote > div .author .auth-logo {
  width: 165px;
  top: 5px;
}
.page#batb-page .filmmakers .content .name-list {
  margin: 3.4vh 0 2.5vh;
  width: 82vh;
}
.page#batb-page .filmmakers .content .name-list .name span {
  color: #fff;
}
.page#batb-page .filmmakers .content .name-list .name.current {
  display: none;
}
.page#batb-page .filmmakers .content .bio .name {
  width: 85vh;
}
.page#batb-page .filmmakers .content .bio .text {
  max-height: 30vh;
  overflow: hidden;
}
.page#batb-page .filmmakers .content .bio .text p:first-child {
  margin-top: 0;
}
.page#batb-page .filmmakers .content .bio .text p {
  font-size: 1.5vh;
}
.page#batb-page .filmmakers .content .bio#condon-bio {
  display: block;
}
.page#batb-page .filmmakers .featurette {
  margin-top: 2.9vh;
  width: 24vh;
  cursor: pointer;
}
.page#batb-page .music .quote {
  position: absolute;
  top: 3vh;
  left: 3vw;
  width: 47vh;
}
.page#batb-page .music .quote .auth-logo {
  width: 89px;
  top: 1px;
}
.page#batb-page .music .content {
  top: 35vh;
  left: 3vw;
  width: 56vh;
}
.page#batb-page .music .content .play-btn {
  width: 5vh;
  height: 5vh;
  margin: 0 auto;
}
.page#batb-page .music .content .song {
  text-align: center;
  font-weight: 700;
  width: 20vh;
  margin-right: 3vw;
  display: inline-block;
}
.page#batb-page .music .content .song.playing .play-btn {
  background-position: 0% 100%;
}
.page#batb-page .music .content .song .song-title {
  color: #fad47d;
  font-size: 1.3vh;
  margin-top: 2vh;
  line-height: 1.2em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 4vh;
}
.page#batb-page .music .content .song .song-title span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page#batb-page .music .content .song .credits {
  color: #fff;
  font-size: 1.5vh;
}
.page#batb-page .music .content .song .credits > div {
  color: #fad47d;
  font-size: 0.6em;
  line-height: 1.2em;
  margin-top: 1vh;
}
.page#batb-page .music .content .song .artist {
  margin-top: 4vh;
  width: 100%;
}
.page#batb-page .press {
  overflow-x: hidden;
}
.page#batb-page .press .quote {
  position: absolute;
  top: 3vh;
  left: 3vw;
  height: 20vh;
}
.page#batb-page .press .quote img {
  width: 150px;
  top: 6px;
}
.page#batb-page .press .content {
  width: 90vw;
  top: 30vh;
  left: 3vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.page#batb-page .press .content .article {
  width: 39vh;
  max-width: 26%;
  margin-right: 7%;
  margin-bottom: 4%;
  display: inline-block;
}
.page#batb-page .press .content .article img {
  max-width: 100%;
}
.page#batb-page .making-of .content {
  width: 100%;
  position: relative;
  height: 100%;
}
.page#batb-page .making-of .content .quote {
  position: absolute;
  width: 60vh;
  left: 3vw;
  top: 3vh;
}
.page#batb-page .making-of .content .quote > div {
  position: absolute;
  opacity: 0;
}
.page#batb-page .making-of .content .quote > div:first-child {
  opacity: 1;
}
.page#batb-page .making-of .content .quote > div p {
  text-transform: uppercase;
}
.page#batb-page .making-of .content .articles {
  position: absolute;
  top: 30vh;
  left: 3vw;
  display: flex;
}
.page#batb-page .making-of .content .articles2 {
  bottom: 8vh;
  right: 3vw;
  position: absolute;
  display: flex;
}
.page#batb-page .making-of .content .article {
  cursor: pointer;
  width: 16vw;
  margin-right: 2vh;
}
@media screen and (orientation:portrait) {
  .page#batb-page .making-of .content .article {
    width: 29vw;
  }
}
.page#batb-page .auth-logo.forbes {
  width: 61px;
  top: 3px;
}
.page#batb-page .auth-logo.thr {
  width: 95px;
  top: 9px;
}
.page#batb-page .auth-logo.newsweek {
  width: 86px;
  top: 3px;
}
.page#batb-page .screenplay .quote {
  width: 41vh;
  left: 3vw;
  position: relative;
}
.page#batb-page .screenplay .quote p {
  white-space: initial;
  text-transform: uppercase;
}
.page#batb-page .screenplay .content {
  bottom: 1vh;
  transform: translateX(-50%);
  left: 50%;
  width: 63vh;
  text-align: left;
  display: flex;
  align-items: center;
}
.page#batb-page .screenplay .content .download-button {
  position: relative;
  margin: 0 auto;
  left: 0;
  width: 56%;
  height: auto;
  right: 0;
  margin-right: -5vh;
  display: inline-block;
}
.page#batb-page .screenplay .content .download-button img {
  width: 33vh;
  max-width: 300px;
  min-width: 100px;
  height: auto;
  position: relative;
  top: -1.6vh;
}
.page#batb-page .screenplay .content .text {
  display: inline-block;
  width: 51vh;
  margin-top: -5vh;
}
.page#batb-page .screenplay .content .text h2 {
  margin-bottom: 0;
  display: inline-block;
  border-bottom-color: #ffe894;
}
.page#batb-page .screenplay .content .text .written {
  margin-top: 1vh;
  color: #ffe894;
}
.page#batb-page .screenplay .content .text .names {
  display: block;
}
.page#batb-page .accolades .content .award {
  width: 25%;
  vertical-align: top;
}
.page#batb-page .accolades .content .award.large {
  width: 50%;
}
.page#batb-page .accolades .content .award.pushRight {
  margin-right: 4%;
}
.page#batb-page .accolades .content .award.middle {
  margin: 5vh 3% 0;
}
.page#batb-page .accolades .content .award.medium {
  width: 27%;
}
.page#lou-page .bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.page#lou-page .bg-holder .bg {
  background-size: auto 100%;
  background-position: 50% center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.page#lou-page .bg-holder .bg.one {
  background-image: url(../img/lou/lou-bg.jpg);
  z-index: 3;
  background-position-x: 0;
}
.page#lou-page .bg-holder .bg.synopsis {
  background-image: url(../img/lou/lou-synopsis-bg.jpg);
}
.page#lou-page .bg-holder .bg.filmmakers .dave {
  background-image: url(../img/lou/lou-bg-dave.jpg);
  opacity: 1;
  background-position-y: top;
  z-index: 3;
}
.page#lou-page .bg-holder .bg.filmmakers .dana {
  background-image: url(../img/lou/lou-bg-dana.jpg);
  z-index: 2;
}
.page#lou-page .bg-holder .bg.press {
  background-image: url('../img/lou/lou-press-bg.jpg');
  background-position-x: center !important;
}
.page#lou-page .bg-holder .bg.photos {
  background-color: #000;
}
.page#lou-page .consider {
  position: fixed;
  left: 0;
  width: 100%;
}
.page#lou-page .consider .logo {
  width: 25vh;
  margin-bottom: 1.5vh;
}
.page#lou-page .consider .nom {
  position: absolute;
  width: 27vh;
  top: 5vh;
  right: 61vh;
}
.page#lou-page .consider .content {
  transform: none;
  top: 5vh;
  right: 0%;
  width: 33vw;
  font-size: 16px;
  flex-direction: column;
  text-shadow: 0px 1px 1px #000000;
}
.page#lou-page .consider .content .first {
  color: #ffdb92;
  margin-bottom: 1.3vh;
}
.page#lou-page .consider .content .first .single {
  font-size: 20px;
  border: 1px solid rgba(255, 219, 146, 0.5);
  border-left: 0;
  border-right: 0;
  display: inline-block;
  padding: 11px 0 9px;
}
.page#lou-page .consider .content .first .subline {
  line-height: 14px;
}
.page#lou-page .consider .content .first p {
  font-size: 1.1em;
  margin: 0 auto 10px;
  color: #fff;
  font-weight: 400;
}
.page#lou-page .consider .content > div:nth-of-type(3) h3:nth-of-type(2) {
  border-top: 1px solid rgba(255, 219, 146, 0.5);
  margin-top: 1vh;
  padding-top: 12px;
}
.page#lou-page .consider .content .name {
  font-size: 1em;
  line-height: 1.5em;
  color: #fff;
}
.page#lou-page .consider .content h3 {
  font-size: 1.0em;
  line-height: 0.9em;
  display: inline-block;
}
.page#lou-page .consider .content h3,
.page#lou-page .consider .content p,
.page#lou-page .consider .content .subline {
  color: #f8d698;
}
.page#lou-page .synopsis .content {
  left: 5%;
  top: 24%;
  font-size: 22px;
  font-weight: bold;
  width: 438px;
}
.page#lou-page .filmmakers .content .bio .text {
  max-height: 66vh;
}
.page#lou-page .press .scroll-down {
  left: 3%;
  bottom: 6vh;
}
.page#lou-page .press .content {
  transform: translateX(-50%);
  left: 53%;
  width: 50vw;
  top: 7vh;
  height: 60.3vh;
}
.page#lou-page .press .content .snippet {
  margin-bottom: 6.2vh;
}
.page#lou-page .press .content .title {
  text-shadow: 1px 1px 2px #000;
  margin-top: 8px;
  font-size: 2vh;
}
.cnet {
  max-height: 57px !important;
}
.parade {
  width: 131px !important;
}
.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
}
.photo:first-child {
  left: 0;
}
.photo img {
  width: auto;
  height: auto;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-58%);
  position: relative;
  max-height: 80%;
  max-width: 90%;
}
#page-holder {
  position: relative;
  display: none;
  overflow: hidden;
}
.arrow {
  position: absolute;
  width: 3vw;
  height: 5vw;
  cursor: pointer;
  top: 50%;
  background-size: 100%;
}
.left-arrow {
  left: 1%;
  transform: translateY(-50%);
  background-image: url(../img/ui/left-arrow.svg);
}
.right-arrow {
  right: 1%;
  transform: translateY(-50%);
  background-image: url(../img/ui/right-arrow.svg);
}
#batb-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  z-index: 11;
}
#batb-overlay .close-btn {
  position: absolute;
  top: 3vh;
  right: 3vh;
  background: url(../img/batb/makingof/close-btn.png) no-repeat;
  background-size: 100%;
  width: 10vh;
  padding-top: 4vh;
  z-index: 5;
}
#batb-overlay .overlay-content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
#batb-overlay .overlay-content > div {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  display: none;
  width: 100%;
}
#batb-overlay .overlay-content .batb-synopsis,
#batb-overlay .overlay-content .newman-bio {
  margin: 0 auto;
  max-width: 850px;
  width: 90%;
  font-size: 1.6vh;
  line-height: 1.3em;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
#batb-overlay .overlay-content .women-of {
  font-size: 18px;
  padding-bottom: 20px;
  box-sizing: border-box;
  width: 80%;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
}
#batb-overlay .overlay-content .women-of .scrollable {
  width: 95%;
}
#batb-overlay .overlay-content .women-of .scroller {
  left: 95%;
}
#batb-overlay .overlay-content .women-of h3 {
  font-size: 2.2em;
  margin: 4vh 0 2vh;
}
#batb-overlay .overlay-content .women-of img {
  margin: 2vh 0;
}
#batb-overlay .overlay-content .women-of p {
  font-weight: 300;
  line-height: 1.3em;
}
#batb-overlay .overlay-content .photo img {
  width: auto;
  height: 80vh;
  top: 50%;
  transform: translateY(-50%);
}
#batb-overlay .overlay-content .dressing-the-part .video-container h3 {
  text-align: center;
}
#batb-overlay .overlay-content .video-container {
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.play-btn {
  background: url(../img/ui/play-pause-btn.png) no-repeat;
  cursor: pointer;
  background-size: 100%;
}
.play-btn.playing {
  background-position: 0 100%;
}
.dots {
  display: none;
}
#rsvp-form {
  background: #fff;
  color: #153f7b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 12;
  padding: 30px;
  display: none;
  width: 520px;
  max-height: 90%;
}
#rsvp-form h2 {
  font-weight: 300;
  margin: 0;
  font-size: 46px;
  float: left;
  border-right: 1px solid rgba(21, 63, 123, 0.3);
  padding-right: 20px;
}
#rsvp-form .london {
  line-height: 1.3em;
}
#rsvp-form .london a {
  text-decoration: none;
}
#rsvp-form .screening-info {
  float: left;
  margin-left: 10px;
  position: relative;
  top: 0px;
  margin-bottom: 20px;
  width: 65%;
}
#rsvp-form .screening-info .movie {
  font-weight: 700;
}
#rsvp-form .screening-info .date {
  text-transform: capitalize;
}
#rsvp-form form {
  clear: left;
  display: block;
}
#rsvp-form form .input {
  height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  width: calc(50% - 17px);
  display: inline-block;
  font: inherit;
  line-height: 50px;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
}
#rsvp-form form .input > div {
  cursor: pointer;
  position: relative;
}
#rsvp-form form .input > div span {
  margin-left: 10px;
}
#rsvp-form form .input > div.error:not(.hasDropdown) {
  font-size: 12px;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  line-height: 1.6em;
}
#rsvp-form form .input .hasDropdown.error {
  color: #ff0000;
}
#rsvp-form form .input.pushRight {
  margin-right: 24px;
}
#rsvp-form form .input.fullWidth {
  width: 100%;
}
#rsvp-form form input {
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 0 10px;
  box-sizing: border-box;
}
#rsvp-form form input.error {
  color: #ff0000;
}
#rsvp-form form input::-webkit-input-placeholder {
  color: inherit;
  font: inherit;
}
#rsvp-form form input,
#rsvp-form form .hasDropdown {
  color: #153f7b;
  border: 1px solid;
}
#rsvp-form form .hasDropdown {
  background: url(../img/ui/dropdown-arrow.jpg) no-repeat;
  background-position: 95% center;
}
#rsvp-form form .dropdown {
  position: absolute;
  max-height: 130px;
  overflow-y: auto;
  background: #fff;
  width: 100%;
  right: -1px;
  top: 100%;
  border: 1px solid;
  display: none;
  z-index: 1;
}
#rsvp-form form .dropdown .value {
  padding: 0 20px;
  box-sizing: border-box;
  height: 30px;
  border-bottom: 1px solid;
  line-height: 30px;
  background: #EEE;
  text-align: right;
}
#rsvp-form form .dropdown .value:last-child {
  border-bottom: none;
}
#rsvp-form form .dropdown .value:hover {
  background: #153f7b;
  color: #fff;
}
#rsvp-form form .submit-btn {
  background: #e69441;
  color: #fff;
  clear: left;
  line-height: 43px;
  padding: 5px 0px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  text-align: center;
}
#rsvp-form form .submit-btn:hover {
  background: #f77c00;
}
#rsvp-form #rsvp-message {
  font-size: 14px;
  line-height: 1.2em;
  display: none;
  text-align: center;
}
#rsvp-form #rsvp-message h3 {
  font-weight: 300;
  border-bottom: 1px solid rgba(21, 63, 123, 0.3);
  padding-bottom: 12px;
  font-size: 35px;
  display: inline-block;
  margin: 0 auto;
  line-height: 1em;
}
#rsvp-form #rsvp-message h4 {
  font-weight: 300;
  font-size: 20px;
}
#rsvp-form #rsvp-message div:first-of-type {
  font-weight: bold;
  font-size: 18px;
}
#rsvp-form .rsvp-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  padding-right: 20px;
  cursor: pointer;
}
#rsvp-form .rsvp-close-btn .x {
  color: #e69441;
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}
#add-to-calendar {
  background: #e69441;
  color: #fff;
  clear: left;
  line-height: 43px;
  padding: 6px 0  4px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 29px auto 0;
  font-size: 18px;
  width: 212px;
  position: relative;
}
#add-to-calendar > a {
  display: block;
  height: 100%;
}
#add-to-calendar > a:focus {
  outline: none;
}
#add-to-calendar:hover {
  background: #f77c00;
}
#add-to-calendar:hover ul {
  display: block;
}
#add-to-calendar ul {
  position: absolute;
  top: 100%;
  padding: 0 0 0 15px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: none;
  background: #fff;
  box-shadow: inset 0px 8px 10px -5px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid #e69441;
}
#add-to-calendar ul li {
  text-align: left;
  line-height: 1.4em;
}
#add-to-calendar ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #e69441;
}
#add-to-calendar ul li a:hover {
  color: #f77c00;
}
.scrollable {
  width: 100%;
  position: relative;
  margin-top: -1px;
  padding-top: 1px;
}
.scroller {
  position: absolute;
  left: 90%;
  height: 100%;
  top: 0%;
  width: 10%;
}
.scroller .scroll-track {
  position: absolute;
  width: 5px;
  left: calc(50% - 2.5px);
  border-radius: 4px;
  height: 100%;
  background: #f9e491;
  opacity: 0.2;
}
.scroller .scroll-ctrl {
  width: 10px;
  left: calc(50% - 5px);
  height: 40px;
  top: 0;
  position: relative;
  background: #f9e491;
  cursor: pointer;
  border-radius: 10px;
}
.scroll-down {
  display: none;
  font-size: 1.5vh;
  width: 100%;
  color: #f9e491;
  text-align: center;
  padding-bottom: 0.9vh;
  background-size: 3vh;
  height: 3vh;
  position: absolute;
  bottom: 0;
  background-image: url('../img/ui/down-arrow.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  animation: bounce 0.4s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.loader {
  width: 50px;
  margin: 0 auto;
}
#preload {
  display: none;
}
@keyframes light {
  from {
    left: -106%;
  }
  to {
    left: 110%;
  }
}
.shrink {
  transform-origin: center;
  animation: shrinky 0.5s;
  animation-fill-mode: forwards;
}
@keyframes shrinky {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes bounce {
  from {
    bottom: -3vh;
  }
  to {
    bottom: -3.4vh;
  }
}
.clear:after {
  display: table;
  content: "";
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
.openOverlay img {
  pointer-events: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
}
video {
  width: 100%;
  height: auto;
  display: block;
  background: #000;
}
.video-play-btn {
  height: 94.7%;
  background-image: url(../img/ui/video-play-btn.svg);
  background-position: 50%;
  background-size: 90px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  cursor: pointer;
}
.rotate {
  display: none;
}
header {
  position: relative;
  top: -100%;
}
@media screen and (min-aspect-ratio:160/100) and (min-device-width:1024px) {
  #wrapper .title {
    font-size: 7vmin;
  }
  #boxes {
    width: 133vh;
    transform: translateY(-45%) translateX(-47%);
  }
  .page#thor-page .limiter .press {
    max-width: 850px;
  }
}
@media screen and (min-aspect-ratio:160/100) and (min-device-width:1024px) and (min-width: 1500px) {
  .page#thor-page .limiter .press {
    left: 0;
  }
}
@media screen and (orientation:portrait) {
  header nav ul {
    width: 100%;
  }
  header nav ul li {
    font-size: 9px;
  }
  header nav ul li .submenu-holder {
    min-width: 160px;
  }
  header nav ul li .submenu {
    font-size: 9px;
    line-height: 1.5em;
    min-width: 130px;
  }
  header nav ul li.batb-btn .submenu-holder {
    left: 0;
  }
  header nav ul li.batb-btn .submenu {
    text-align: left;
  }
  #wrapper {
    overflow-y: auto;
  }
  #wrapper .fyc-banner {
    padding-left: 0;
    width: 96%;
  }
  #wrapper .fyc-banner .no-wrap {
    width: 87%;
    margin-right: 0;
    margin-left: 3%;
  }
  #wrapper .title {
    transform: none;
    left: 0;
    position: relative;
    width: 98%;
    top: 0;
  }
  #boxes {
    position: relative;
    width: 95%;
    margin: 5% auto 2%;
    transform: none;
    left: 0;
    top: 0;
  }
  #boxes .box {
    width: 49% !important;
    margin-left: 0% !important;
    clear: none !important;
    margin-bottom: 2%;
  }
  #boxes .box#cars {
    margin: 1% 2% 0;
  }
  #boxes .box#coco-box {
    margin: 0 0%;
  }
  #boxes .box:nth-of-type(odd) {
    margin-right: 2%;
  }
  .page .limiter > div {
    position: relative;
  }
  .page .limiter > div .logo,
  .page .limiter > div .content {
    position: relative;
  }
  .page .limiter .consider .logo {
    width: 30%;
    margin: 40px auto 0;
    left: 0;
    top: 0;
  }
  .page .limiter .consider .content {
    width: 90%;
    left: 0;
    top: 0;
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .page .limiter .consider .content .first .h3 {
    font-size: 1.4em;
  }
  .page .limiter .consider .content .first .subline {
    font-size: 1.1em;
  }
  .page .limiter .consider .content .first p {
    font-size: 1em;
  }
  .page .limiter .consider .content .first .name {
    font-size: 1.5em;
  }
  .page .limiter .screenings .content {
    margin: 0 auto;
  }
  .page#coco-page .limiter {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 100%;
  }
  .page#coco-page .synopsis .content {
    width: 47vw;
    top: 1vh;
    position: absolute;
  }
  .page#coco-page .screenplay .content {
    position: absolute;
    bottom: 6vh;
    left: 62%;
    transform: translateX(-50%);
    right: initial;
  }
  .page#coco-page .song {
    padding-left: 3vw;
    width: 47vw;
  }
  .page#coco-page .song .content {
    left: 0vw;
  }
  .page#coco-page .score .content {
    margin-top: -1px;
    padding: 1px 3vw 0;
    width: 94vw;
  }
  .page#coco-page .score .content .quote {
    right: 3vw;
  }
  .page#coco-page .screenplay .content {
    left: 58%;
  }
  .page#sw-page .bg-holder .bg.fyc {
    background-position-x: center !important;
  }
  .page#sw-page .consider .content {
    top: 0;
    left: 0;
    text-shadow: 1px 1px 1px #000;
  }
  .page#sw-page .screenings .content {
    min-width: initial;
    width: 90%;
    transform: none;
    left: 0%;
  }
  .page#sw-page .screenings .content .screening {
    width: 45%;
    margin-right: 2.5%;
  }
  .page#sw-page .synopsis .content {
    right: 6vw;
    position: absolute;
  }
  .page#gotg-page .consider .content {
    top: 1vh;
    margin: 0 auto;
  }
  .page#gotg-page .screenplay .content {
    position: absolute;
  }
  .page#thor-page .consider .content {
    top: 5vh;
    margin: 0 auto;
    left: 0;
  }
  .page#thor-page .screenings .guild-members-co {
    bottom: 8vh;
  }
  .page#thor-page .screenings .content {
    left: initial;
    transform: none;
    top: 5vh;
  }
  .page#thor-page .score .content .featurette .quote {
    margin-top: 4vh;
  }
  .page#thor-page .score .content .featurette .quote span {
    font-size: 12px;
  }
  .page#batb-page .bg-holder .bg.synopsis {
    width: 100%;
  }
  .page#batb-page .quote p,
  .page#batb-page .bottom-quote p {
    font-size: 13px;
  }
  .page#batb-page .consider .quote {
    display: none;
  }
  .page#batb-page .consider .content {
    top: 1vh;
    margin-top: 0;
  }
  .page#batb-page .screenings .special-bg {
    width: 100%;
    position: relative;
    height: 43%;
  }
  .page#batb-page .screenings .special-bg .quote {
    position: absolute;
    bottom: 3vh;
    width: 35%;
    left: 2vw;
    display: block;
  }
  .page#batb-page .screenings .thumb.three.active {
    left: 4%;
  }
  .page#batb-page .screenings .thumb {
    z-index: 4;
    width: 29vh;
    height: 16vh;
    left: 2vw !important;
    transform-origin: bottom left;
  }
  .page#batb-page .screenings .thumb.one {
    bottom: 36vh;
  }
  .page#batb-page .screenings .thumb.one.active {
    bottom: 36vh;
  }
  .page#batb-page .screenings .thumb.two {
    bottom: 18.6vh;
  }
  .page#batb-page .screenings .thumb.two.active {
    bottom: 18.6vh;
  }
  .page#batb-page .screenings .thumb.three {
    bottom: 1vh;
  }
  .page#batb-page .screenings .thumb.three.active {
    bottom: 1vh;
  }
  .page#batb-page .screenings .content {
    position: relative;
    width: 100%;
    height: 57%;
    margin: 0;
    right: 0;
    left: initial;
  }
  .page#batb-page .screenings .content .quote {
    display: none;
  }
  .page#batb-page .screenings .content.scrollerActive .scrollable {
    width: 60%;
    margin-left: 40%;
  }
  .page#batb-page .screenings .content .scroller {
    left: 92%;
    top: 2.2vh;
    height: 91%;
  }
  .page#batb-page .screenings .content .synopsis {
    width: 80%;
    margin: 2vh auto 0;
    font-size: 13px;
  }
  .page#batb-page .screenings .content .synopsis p {
    max-height: initial;
    margin: 0;
  }
  .page#batb-page .screenings .content h3 {
    font-size: 29px;
    left: 0;
    margin: 2vh auto;
  }
  .page#batb-page .screenings .content .disclaimer {
    font-size: 10px;
  }
  .page#batb-page .screenings .content .screenings-holder {
    width: 80%;
    margin: 0 auto;
  }
  .page#batb-page .screenings .content .screenings-holder .screening .date {
    font-size: 12px;
    white-space: wrap;
  }
  .page#batb-page .screenings .content .netflix {
    margin: 10px auto;
  }
  .page#batb-page .cast .quote {
    display: none;
  }
  .page#batb-page .cast .article {
    right: 3vw;
    left: initial;
    width: 30vh;
    bottom: 20vh;
  }
  .page#batb-page .filmmakers .content .quote > div:first-child p {
    font-size: 11px;
    line-height: 1.5em;
  }
  .page#batb-page .filmmakers .content .name-list .name {
    font-size: 13px;
  }
  .page#batb-page .filmmakers .bottom-quote {
    right: 1vw;
    width: 50%;
  }
  .page#batb-page .filmmakers .bottom-quote .author {
    margin-right: 11px;
    font-size: 12px;
  }
  .page#batb-page .press .content .article {
    min-width: 38%;
    margin-right: 12%;
  }
  .page#batb-page .screenplay .quote {
    top: 3vh;
  }
  .page#batb-page .screenplay .quote p {
    margin-top: 0;
  }
  .page#batb-page .screenplay .content {
    position: absolute;
  }
  .page#lou-page .limiter {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .page#lou-page .consider .content {
    width: 100%;
  }
  .page#lou-page .consider .content .nom {
    position: relative;
    top: initial;
    right: initial;
    margin: 0 auto;
  }
  .page#lou-page .synopsis .content {
    top: 4%;
    width: 80%;
  }
  .page#lou-page .filmmakers .content {
    position: absolute;
  }
  .page#lou-page .press .scroll-down {
    left: 0;
    bottom: 6vh;
  }
  .page#lou-page .press .content {
    left: 50%;
  }
  .page#cars-page .limiter {
    background: rgba(0, 0, 0, 0.5);
  }
  .page#cars-page .consider .content {
    left: 0;
    color: #ffda9e;
  }
  .page#cars-page .consider .content .name {
    color: #fff;
  }
  .page#cars-page .screenings .content {
    left: 0;
  }
  .page#cars-page .synopsis .content {
    padding-top: 1px;
    margin-top: -1px;
  }
  .page#cars-page .score .content {
    overflow: hidden;
  }
  .page#cars-page .songs .content {
    overflow: hidden;
  }
  #batb-overlay .overlay-content .photo img {
    width: 80%;
    height: auto;
  }
}
