@portrait: ~"screen and (orientation:portrait)";
@160asr:~"screen and (min-aspect-ratio:160/100) and (min-device-width:1024px)";
@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-device-width:1024px) and (max-device-height:1024px) and (orientation:landscape)";

@1920: ~"only screen and (max-width:1920px)";
@landscape: ~"screen and (orientation:landscape)";
@yellow:#f9e491;
@darkBlue: #153f7b;
html{
	height: 100%;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Bold.woff2') format('woff2'),
		url('../fonts/Gotham-Bold.woff') format('woff'),
		url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book.woff2') format('woff2'),
		url('../fonts/Gotham-Book.woff') format('woff'),
		url('../fonts/Gotham-Book.ttf') format('truetype'),
		url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.eot');
	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Light.woff2') format('woff2'),
		url('../fonts/Gotham-Light.woff') format('woff'),
		url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
body{
	height: 100%;
	width: 100%;
	background: #166db1;
	margin:0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Gotham';
	font-weight: 500;
	color: #fff;
	overflow: hidden;
}
header{
	width: 100%;
	background: #153f7b;
	z-index: 11;
	.fyc-banner {
		a{
		    width: 7vw;
		    margin-left: 8.5px;
		    margin-top: 8.5px;
		    position: relative;
		    display: block;
		    float: left;
		    margin-bottom: 5px;
		   
		}
		.nowrap{
			margin-left: 3vw;
		    width: 62vw;
		    display: inline-flex;
			justify-content:space-between;
			font-family: 'Gotham';
			font-weight: 300;
			margin-right: 4vw;
			position: relative;
			margin-top: 1.3vw;
			float: left;
			
		}
		.title{
		    display: inline-block;
		    text-align: right;
		    width: 22.6vw;
		    color: #b4bccd;
		    font-weight: 300;
		    text-transform: uppercase;
		    font-size: 3.09vw;
		    line-height: 1em;
		    float: left;
		    margin-top: 6px;
		    
		}
	}
	nav{
		background: #fff;
		text-align: center;
		
		ul{
		    display: flex;
		    width: 80vw;
		    margin: 0 auto;
		    justify-content: space-between;
			li{
				color: #2498ca;
				cursor: pointer;
				font-family: 'CenturyGothic';
				font-weight: 700;
				text-transform: uppercase;
			    padding: 10px 1.4vw;
			    font-size: 0.9vw;
			    position: relative;
			   
				&.selected{
					color: #e69441;
				}
				&.selected{
					.submenu-holder{
						//display: block;
					}
				}
				.submenu-holder{
					
					position: absolute;
					top: 100%;
					width: 100%;
					right: 0;
					overflow: hidden;
					min-width: 270px;
				}
				.submenu {
					background: rgba(93, 143, 206, 0.9);
				    position: relative;
				    color: #fff;
				    text-align: right;
			        line-height: 1.3vw;
				    padding: 10px 2vw 10px 20px;
				    font-size: 0.8vw;
				    font-family: 'Gotham';
				    font-weight: 500;
			        margin: 0 auto;
				    width: 50%;
				    min-width: 200px;
				    margin-top: -200%;
				    transition:margin-top 0.5s;
					> div {
						cursor: pointer;
					    position: relative;
					    transition: right 0.3s;
					    right: 0;
						&:hover{
							right: 10px;
						}
						&.selected{
							text-decoration: underline;
						}
					}
				}
			}
			li.open{
				.submenu-holder {
					display: block;
					.submenu{
						margin-top: 0;
					}
				}
			}
		}
	}
}
footer{
	font-size: 9px;
    line-height: 1.3em;
    text-align: center;
    color: #fff;
    clear: both;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding:0;
    bottom: 5px;
    z-index: 10;
    span{
    	color: #fee797;
    }
    a {
    	color: inherit;
    	text-decoration: none;
    	border-right: 1px solid #fee797;
	    padding-right: 5px;
	    margin-left: 3px;
	    &:hover{
	    	color: #fee797;
	    }
	    &:last-of-type{
	    	border-right: none;
	    	padding-right: 0;
	    }
    }
    // @media screen and (max-height:768px){
    // 	font-size: 9px;
    // }
    // @media screen and (min-height:769px){
    // 	font-size: 1.2vh;
    // }
}
body > footer {
    
    bottom: 2vh;
    width: 100%;
    z-index: 1;
    padding: 0 2vh;
    box-sizing: border-box;
}
var {
	display: none;
}
.stat{
	transition:none !important;
}
.slider{
	width: 100%;
	height: 100%;
}
#wrapper{
    position: absolute;
	border:2vh solid #166db1;
	height: calc(~'100% - 4vh');
	width: calc(~'100% - 4vh');
	overflow: hidden;
	background: rgb(15,45,97); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(15,45,97,1) 0%, rgba(15,45,97,1) 10%, rgba(21,63,132,1) 34%, rgba(15,45,96,1) 50%, rgba(15,45,96,1) 63%, rgba(15,59,117,1) 77%, rgba(15,45,97,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(15,45,97,1) 0%,rgba(15,45,97,1) 10%,rgba(21,63,132,1) 34%,rgba(15,45,96,1) 50%,rgba(15,45,96,1) 63%,rgba(15,59,117,1) 77%,rgba(15,45,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(15,45,97,1) 0%,rgba(15,45,97,1) 10%,rgba(21,63,132,1) 34%,rgba(15,45,96,1) 50%,rgba(15,45,96,1) 63%,rgba(15,59,117,1) 77%,rgba(15,45,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2d61', endColorstr='#0f2d61',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
	.fyc-banner{
		display: block;
	    color: #fff;
	    font-weight: 300;
        width: calc(~'100% - 5vw');
	    margin-left: 10%;
	    font-size: 27.3px;
	    font-size: 1.5vw;
	    padding-left: 5vw;
	    position: relative;
	    margin:0 auto;
		img{
		    width: 8%;
		   
		    float: left;
		    top: 50%;
		    transform:translateY(31%);
		}
		.nowrap{
			display: flex;
			justify-content:space-between;
			float: left;
			width: 86%;
			margin-left: 2%;
			margin-right: 1%;
			line-height: 48px;
			line-height: 5vw;
		}
		
	}
	.title{
	    position: fixed;
	    font-weight: 300;
	    color: #2a80c2;
	    transform-origin: 0 0;
	    font-size: 5vmin;
	    font-size:5vmax;
	    width: 88vh;
	    bottom: 0;
	    transform:rotate(-90deg);
	    text-align: right;
	}
	
	
}
#boxes {
	position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    right: 22px;
    transform: translateY(-48%) translateX(-48%);
    width:87vw;
    max-width: 1800px;
    .box{
    	width: 32.4%;
    	margin-bottom: 1.4%;
    	float: left;
		cursor: pointer;
		z-index: 1;
		position: relative;
	    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5);
	    overflow: hidden;
	    transition:all 0.5s, transform 0.5s, box-shadow 0.5s;
	    video{
	    	background: transparent;
	    }
    	&#batb-box{
		    margin-left:17.8%;
		    .logo{
		    	width: 34%;
			    top: 8%;
			    right: 6%;
		    }
    	}
    	&#cars-box{
			clear: left;
    		.logo{
    			width: 30%;
    			height: 30%;
    			margin-top: 29%;
    			margin-left: 3%;
    		}
    	}
    	&#coco-box{
    		margin: 0 1.4%;
    		.logo{
    			position: absolute;
			    top: 4%;
			    right: 3%;
			    width: 38%;
    		}
    	}
    	&#gotg-box{
    		clear: left;
    		margin-left: 17.8%;
    		clear: left;
    	}
    	&#thor-box{
    		margin-left: 1.4%;
    		.logo {
    			top: 1%;
				right: 1%;
				width: 43%;
    		}
    	}
    	&#lou-box {
    		.logo{
    			width: 40%;
			    top: 2%;
				left: 2%;
    		}
    	}
    	&#sw-box{
    		margin-left: 1.4%;
    		.logo{
    			position: absolute;
			    width: 58%;
    			right: 0;
    		}
    	}
		&:hover{
		//	transform:scale(1.1);
			z-index: 2;
			box-shadow: 16px 20px 47px -9px rgba(0,0,0,0.3);
			.light{
				animation: light 1s;
			}
		}
		.logo{
			position: absolute;
			pointer-events: none;
		}
		.light{
			width: 100%;
			height: 100%;
		    top: 0;
		    opacity: 0.7;
		    left: -106%;
		    transition: left 0.8s;
		    position: absolute;
		    pointer-events: none;
		    img {
		    	height: 100%;
		    	width: 100%;
		    }
		}
	}
}
.page {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	top: 0;
	transform-origin:center;
	overflow: hidden;
	transform:scale(0);
	transition: transform 0.5s;
	height: 100%;
	background-color: #000;
	.bg-holder {
		.bg.photos{
			background: #000;
		}
		.bg.accolades{
			background:#fff;
		}
	}
	.limiter{
		margin:0 auto;
		position: relative;
		height: 100%;
		z-index: 2;
		max-width: 1500px;
		> div{
			display: none;
			position: relative;
			height: 100%;
			.logo{
				margin: 0 auto;
			}
			.content{
				position: absolute;
			}
			
		}
		footer{
		    position: fixed;
    		padding: 0 5px;
		}
		.consider{
			text-align: center;
			display: none;
		    padding-top: 1px;
    		margin-top: -1px;
    		height: 100%;
			.content{
				width: 520px;
				font-size: 1vh;
				display: flex;
				flex-wrap:wrap;
				//top: 50%;
				top: 1vh;
				font-weight: 700;
			
				.logo{
			    	margin-bottom: 1vh;
					.img{
						width: 50%;
						margin: 0 auto;
						flex: 1 1 100%;
					}
				}
				p{
    				font-size: 1.2em;
					flex: 1 100%;
					margin: 0;
		    	}
		    	h3{
		    		margin:0.5vh 0 0;
		    		font-size: 1.5em;
	    		    line-height: 1.2em;
		    	}
	    		.guild{
					font-size: 0.8em;
				}
		    	.subline{
		    		font-size: 1.1em;
		    		font-weight: 700;
		    		white-space: nowrap;
	    		    line-height: 1.1em;
		    	}
		    	.name, .song{
		    		font-size:1.5em;
		    		line-height: 1.3em;
		    		font-weight: 500;
		    	}

		    	& .left {
		    		h3{
		    			&:first-child{
		    				margin-top: 0.5vh;
		    			}
		    		}
		    	}
		    	.first{
		    		
		    		flex: 1 100%;
		    		margin-bottom: 0.8vh;
		    		h3:first-of-type{
		    			font-size: 1.8em;
		    		}
		    		p,.subline {
		    			line-height: 1.2em;
		    		}
		    	}
		    	.and{
		    		font-size: 0.8em;
		    	}
    			.left{
    				flex: 1 49%;
    				left: -10px;
    				position: relative;
    				text-align: right;
				    display: flex;
				    flex-direction: column;
				    justify-content: space-between;
    			}
    			.right{
    				left: 10px;
					flex: 1 49%;
					position: relative;
					text-align: left;
				    display: flex;
				    flex-direction: column;
				    justify-content: space-between;
    			}
			}
		}
		.songs,.song{
			.content{
				left: 5vw;
				h2{
				    font-size: 2.8vh;
				    font-weight: 500;
				    margin-top: 4.5vh;
				    margin-bottom: 3vw;
				}
				.song{
					text-align: left;
					color: #f9e491;
					position: relative;
					padding-left: 7vh;
					font-weight: bold;
					margin-bottom: 4vh;

					.play-btn{
						width: 5.3vh;
						height: 5.4vh;
						margin: 0 auto;
						position: absolute;
						left: 0;
					}
					&.playing{
						.play-btn{
							background-position: 0 100%;
						}
					}
					.song-title{
						font-size: 3.2vh;
						margin:19px auto 5px;
					}
					.written-by{
						font-size: 1.3vh;
    					padding-left: 2vh;
    					line-height: 1.2em;
						> div{
							color: #fff;
						}
					}
					.subline{
			    		font-size: 0.8em;
			    		margin:2px 0;
			    	}
			    	.name{
			    		font-size:1.1em;
			    	}
			    	.artist{
			    		display: inline-block;
			    		margin-top: 2vh;
					    width: 18vh;
					    margin-left: 2vh;
			    	}
			    }
			}	
		}
		.score{
			h2{
				font-size: 2.3vh;
				font-weight: 500;
				margin-top: 4.5vh;
				margin-bottom: 0;
			}
			
			.content{
				width: 530px;
				height: 100%;
				left: 5%;
			}
			.score-name{
				font-weight: 500;
				font-size: 1.7vh;
				margin-top: 0.1vh;
			}
			.score-bio{
				line-height: 1.4em;
				font-weight: 500;
				font-size: 15px;
				position: relative;
				.read-more{
					position: relative;
					top: -10px;
					right: 15px;
					color: @yellow;
					font-weight: bold;
					cursor: pointer;
					text-align: right;
				}
			}
			.download-btn{
			    width: 22vh;
    			margin-top: 2vh;
    			a{
    				display: block;
    				height: 100%;
    			}
			}
			.track-list{
				height: 42vh;
				overflow:hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
			    margin-top: 4vh;
			    position: relative;
			    width: 380px;
				.track{
					padding-bottom: 0.7vh;
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
					margin-bottom: 1vh;
					color: @yellow;
					width: 80%;
					position: relative;
					.play-btn{
						float: left;
						margin-top: 0.3vh;
						width: 2.3vh;
						height: 2.3vh;
						background: url(../img/ui/play-pause-btn.png) no-repeat;
						cursor: pointer;
						background-size: 100%;
						
					}
					&.playing{
						.play-btn{
							background-position: 0 100%;
						}
					}
					.track-info{
						
					    line-height: 1.2em;
					   	width: 89%;
					    font-size:13px;
				        position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    left: 3.4vh;
					}
					&.active{
						color: #fff;
					}
					&:after{
						clear:both;
						display: table;
						content:"";
					}
				}
				.scroller{
					left: 84%;
				}
			}
		}
		.synopsis{
			.content{
				width: 550px;
		    	font-size: 1.7vmin;
		    	line-height: 1.6em;
		    	font-weight: 500;
		    }
		}
		.screenings{
			text-shadow:1px 1px rgba(0, 0, 0, 0.5);
			.guild-members-co{
	            font-weight: 500;
			    font-size: 1.8vh;
			    color: #fff;
			    position: absolute;
			    bottom: 3vh;
			    text-align: center;
			    width: 26vh;
			    right: 3vw;
			    cursor: pointer;
			    display: none;
				div{
					outline:1px solid #fad47d;
					margin-top: 10px;
					color:#fad47d;
					font-size: 0.8em;
					padding:10px 0;
					line-height: 1.3em;
				}
				
			}
			.pop-up{
		        position: fixed;
			    background: rgba(19, 20, 22, 0.9);
			    border-radius: 3px;
			    box-shadow: 0 0 5px 4px rgba(0,0,0,.2);
			    padding: 10px;
			    z-index: 6;
			    width: 89vh;
			    top: 50%;
			    left: 50%;
			    transform: translateX(-50%) translateY(-50%);
			    max-width: 90%;
			    .pop-up-close {
			    	background:url(../img/thor/close-btn.png) no-repeat;
			    	position: absolute;
			    	top:20px;
			    	right:20px;
		    	    width: 65px;
				    height: 0;
				    padding-top: 5%;
				    background-size: 100%;
				    cursor: pointer;
			    }
    			.inside{
    				background:rgba(19, 20, 22, 0.4);
    				padding:15px 70px;
    				border-radius: 5px;
    				outline:1px solid rgba(252, 238, 189, 0.2);
	    			h3{
	    				text-align: center;
	    				font-size: 2.2vh;
	    				margin:20px auto;
	    				font-weight: 500;

	    			}
	    			p{
	    				text-align: left;
	    				padding-bottom: 20px;
	    				border-bottom: 1px solid rgba(255,255,255,0.9);
    				    font-size: 1.9vh;
					    line-height: 1.5em;
					    font-weight: 400;
	    			}
	    			ul{
	    				list-style: none;
	    				padding:0;
	    				
	    				li{
    					    font-size: 1.8vh;
						    font-weight: 300;
						    margin-bottom: 17px;
						    line-height: 1.3em;
						    position: relative;
						    span{
						    	position: absolute;
							    right: 102%;
							    width: 4px;
							    top: 50%;
							    height: 4px;
							    display: block;
							    border-radius: 10px;
							    background: #ffdb92;
						    }
	    				}
	    			}
	    		}
    		}
			.content{
				width:69vh;
			    right: 0;
			    top: 10%;
			    .cities-list{
			    	color: #ffe59b;
			    	display: flex;
			    	flex-wrap:wrap;
			    	justify-content:space-around;
			    	text-align: center;
			    	font-size: 1.7vh;
		
			    	.city{
			    		cursor: pointer;
			    		text-transform: uppercase;
			    		&.selected{
		    			    background: #ffe59b;
						    color: #184e77;
						    text-shadow: none;
						    padding: 5px 5px 4px;
						    top: -3px;
						    position: relative;
			    		}
			    	}
			    }
			    .city-holder{
			    	position: relative;
			    	width: 100%;
			    	display: none;
		    	    text-align: center;
					margin-top: 4vh;
					min-height: 8vh;
				    max-height: 50vh;
				    font-size: 1.7vh;
			    	&.Los_Angeles-holder{
			    		display: block;
			    	}
			    	h3{
			    		font-weight: 400;
			    		span{
			    			text-decoration: underline;
			    			cursor: pointer;
			    		}
			    	}
			    }
			    .screening{
		    		margin: 0px auto 20px;
		    		width: 70%;
		    		text-align: center;
		    		border-bottom: 1px solid rgba(250,250,250,0.3);
		    		h4{
		    			margin:5px 0;
		    			font-weight: 400;
    					font-size: 0.8em;
		    		}
		    		&:last-of-type{
		    			margin-bottom: 0;
		    			border-bottom: 0;
		    		}
		    		.date{
		    			font-weight: 700;
		    			font-size: 1.2em;
		    		}
		    		.theater{
		    			font-size: 1em;
		    			margin-top: 8px;
		    			line-height: 1.3em;
		    		}
		    		.address{
		    			font-size: 0.8em;
		    			a{
		    				display: inline-block;
	    				    width: 41px;
						    height: 15px;
						    position: relative;
						    background: url(../img/ui/map-icon.png) no-repeat;
						    background-size: 100%;
						    left: 8px;
						    top: 2px;
		    			}
		    		}
		    		.qa{
		    			font-size: 0.7em;
		    			width: 110%;
		    			margin-top: 8px;
		    			line-height: 1em;

		    		}
		    		.btn{
		    			color: #ffe59b;
		    			font-size: 1.1em;
		    			margin-top: 12px;
		    			margin-bottom: 1em;
		    			cursor: pointer;
		    		}
		    	}
		    	.disclaimer{
	    		    position: relative;
				    top: 100%;
				    text-align: center;
				    font-size: 10px;
				    font-weight: 400;
				    margin: 1em auto 0;
				    line-height: 1.3em;
				    
	    			width: 400px;
	    		}
	    		
			}
		}
		.press{
			.scroll-down{
		
			}
			.content{
				text-transform: uppercase;
				top: 3vh;
				width: 600px;
				margin-top: 0%;
				height: 72vh;
				-webkit-overflow-scrolling:touch;
				.scroller{
					display: none;
				}
				.snippet{
					text-align: center;
					margin-bottom: 4.8vh;
					&:last-of-type{
						margin-bottom: 0;
					}
					.press-logo{
						img{
							width: auto;
							margin: 1vh auto;
							//height:7vh;
							max-height: 37px;
						}
					}
					.title{
						line-height: 1.3em;
						font-size: 1.5vh;
					}
					a{
						text-decoration: none;
						color: @yellow;
						margin-top: 10px;
						font-size: 14px;
						display: block;
					}
				}
			}
		}
		.photos{
			position: fixed;
			width: 100%;
			left: 0;
			overflow: hidden;
			
		}
		.videos{
			.content{
			    height: 67vh;
			    margin: auto;
			    width: 119.3vh;
				position: relative;
			    top: 50%;
    			transform: translateY(-50%);
				.video-list{
					display: flex;
				    justify-content: space-around;
			        position: absolute;
				    bottom: 104%;
				    width: 100%;
					.video-title{
						font-size:1.4vw;
						cursor: pointer;
						&.selected{
							color: @yellow;
						}
					}
				}
				.video-container{
					height: 100%;
					.video-play-btn{
					 
					}
					video{
					    height: 100%;
					    width: auto;
					    margin: 0 auto;
					}
				}
			}
		}
		.filmmakers{
			.content{
			    right: 2vw;
			    top:6vh;
			    width: 52vw;
			    max-width: 625px;
				.name-list{
					margin-bottom: 1.5vh;
					.name{
						font-size: 1.5vh;
						color: @yellow;
						cursor: pointer;

						&.current{
							color: #fff;
						}
					}
				}
				.bio{
					display: none;
					font-weight: 500;
					.name{
						font-weight: bold;
						font-size: 3.4vh;
						.guild{
							font-size: 0.5em;
						}
					}
					.studio{
						font-weight: bold;
						font-size: 20px;
					}
					.text{
						margin-top: 1vh;
						
						position: relative;
						padding-right: 5vh;
						padding-bottom: 1vh;
						@media screen and (max-height:911px){
							max-height: 54vh;
						}
						p{
							font-size: 1.6vh;
							line-height: 1.4em;
							margin-bottom: 1.5em;
						}
						.scroller{
							
						}
					}
					&#dave-bio{
						display: block;
					}
				}
			}
		}
		.screenplay{
			.content{
				text-align: center;
				.download-button{
					cursor: pointer;
					background-size: 100%;
					background-repeat: no-repeat;
					position: absolute;
				    width: 310px;
				    height: 290px;
				    right: 87%;
				    top: -46%;
				}
				.text{
					font-size: 1.7vh;
					line-height: 1.2em;
					font-weight: 700;
					h2{
						color: #fff;
						border-bottom: 1px solid rgba(254, 231, 151, 0.3);
						padding-bottom:5px;
						font-size: 1.3em;
					}
					.written{
						color: rgba(254, 231, 151, 1);
						margin-top: 1vh;
						font-size: 0.8em;
					}
					.names{
						color: #fff;
						display: flex;
						justify-content:space-between;
						flex-wrap:wrap;
						>div{
							flex:1 50%;
						}
						.and{
							font-size: .8em;
						}
					}
				}
			}
		}
		.accolades{
			position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			overflow-y:auto;
			background:#fff;
			.banner{
				width: 100%;
				position: fixed;
				top: 0;
				z-index: 1;
				pointer-events: none;
			}
			.content{
				position: relative;
				display: block;
				flex-wrap:wrap;
			    justify-content: center;
			    text-align: center;
			    background:#fff;
			    width: 95%;
			    padding: 0 2.5% 10vh;
			    z-index: 3;
			    margin-top: 35%;
				.award{
					font-weight: bold;
					width: 29%;
					text-align: center;
					color: #153f7b;
				    display: inline-block;
				    justify-content: center;
				    flex-wrap: wrap;
				    margin-top: 5vh;
				    white-space: nowrap;
				    img{
					  	position: relative;
					  	z-index: 2;
				    }
				    .offset-left{
				   	    position: absolute;
					    width: auto;
					    height: 120%;
					    z-index: 1;
					    right: 100%;
					    top: -10%;
				    }
				    
				    &.middle{
						margin:8vh 5.6% 0;
					}

				}
				.award.withNumber{
					
					font-size: 2vh;
					.number{
					    font-size: 6em;
    					margin-top: -1.2vh;
						float: left;
					}
					.award-info{
						float: left;
						.subline{

						}
						.org{

						}
					}
					&:after{
						display: 'table';
						content:'';
						clear: both;
					}
				}
			}
		}
		footer{
			display: none;
			//display: block !important;
		}
	}
	
	.quote{
		color: #fceebd;
		p{
			font-size: 1.5vh;
		    line-height: 1.3em;
			font-weight: 400;
			margin-bottom: 0.1em;
	
		}
		> div:first-child{
			display: block;
		}
		.author{
			font-weight: bold;
			position: relative;
			display: inline-block;	
			margin-top: 10px;
			font-size: 0.7em;
			.auth-logo{
		        margin: 0;
			    position: relative;
			    display: inline-block;
			}
		}
	}
	.video-container{
		position: relative;
	    box-shadow: 4px 7px 15px 2px rgba(0,0,0,0.4);
		.poster{
			position: absolute;
			top: 0;
			background-attachment: no-repeat;
			background-size: 100%;
			height: 100%;
			width: 100%;
			cursor: pointer;
			&.playing{
				pointer-events: none;
			}
		}
	}
	&#sw-page{
		.limiter{
			max-width: 100%;

		}
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-size: cover;
				background-position-y:center;
				background-repeat: no-repeat;
				&.fyc{
					background-image:url(../img/sw/sw-consider-page.jpg);

				}
				&.screenings{
					background-image:url(../img/sw/sw-screenings-bg.jpg);
					background-position-x:center !important;
					background-position-y:50%;
				}
				&.synopsis{
					background-image:url(../img/sw/sw-synopsis-bg.jpg);
				}
				&.score{
					background-image:url(../img/sw/sw-score-bg.jpg);
				}
				&.photos{
					background-image:url(../img/sw/sw-photos-bg.jpg);
				}
				&.production{
					background-image:url(../img/sw/sw-production-bg.jpg);
				}
			}
		}
		.consider {
		    .logo{
		   		width:26vh;
		   		margin-bottom: 1.3vh;
		    }
		    .content{
		    	left: 11vw;
		    	top: 6vh;
		    	width: 47vh;
		    	h3,p, .subline{
		 			color: #fad47d;
		    	}
		    }
		}
		.screenings{
		    .content{
			    left: 50%;
			    transform:translateX(-50%);
			    top: 45vh;
			    width: 56vw;
			    min-width: 96vh;
			    .scroll-ctrl{
			    	background-color:#40606a;
			    }
			    .scroll-track{
			    	background:#40606a;
			    }
			    .cities-list{
			    	color: #40606a;
			    	justify-content:start;
			    	.city{
			    		margin-right: 4%;
			    	}
			    	.city.selected{
			    		background: #40606a;
			    		color: #fff;
			    	}
			    }
			    .city-holder{
			    	max-height: 31vh;
			    	margin-top: 3vh;
			    	.scrollable{
			    		display: flex;
			    		flex-wrap:wrap;
			    	}
			    	.scroller{
			    		left: 94%;
			    	}
			    }
			    .screening{
			    	width: 28vh;
				    text-align: left;
				    
				    margin: 0 4vh 40px 0px;
			    	.date{
			    		
			    	}
			    	.theater{
			    		margin-top: 2px;
			    		
			    	}
			    	.address{
			    		
			    		a {
			    			background-image: url('../img/sw/map-icon-blue.png');
			    		}
			    	}
			    	.btn{
			    		color: #40606a;
			    	}
			    }
		    }
		}
		.synopsis{
		    .content{
	    	    top: 13vh;
			    right: 7vw;
			    width: 40vmin;
			    white-space: nowrap;
		    }
		}
		.score{
			.content{
				.track-list{
					width: 380px;
					height: 60vh;
				}
				
			}
			.quote{
				position: absolute;
			    top: 5vh;
			   	right: 9vh;
			    width: 48vh;
			    display: none;
			    @media screen and (min-width:1100px){
			    	display: block;
			    }
			    p{
			    	text-align: center;
			    	font-size: 2vh;
			    	margin:0;
			    }
			    .author{
			    	text-align: center;
			    	font-size: 0.9em;
			    	display: block;
			    	.auth-logo{
			    		width: 13vh;
			    		top: 1px;
			    	}
			    }
			}
		}
		.production{
			.content{
				width: 50vh;
				position: absolute;
				right: 6vw;
				top:3vh;
				text-align: center;
				h2{
					font-weight: 500;
					&:first-of-type{
						margin-bottom: 0.3vh;
					}
				}
				.download{
					text-decoration: none;
					color: #FFDB8C;
					display: block;
					font-size: 11px;
					img{
						display: inline;
						width: 18px;
					    position: relative;
					    top: 3px;
					    margin-right: 3px;
					}
				}
				.quote{
					margin-top: 18vh;
					font-size: 2.3vh;
					p{
						font-size: 1em;
						margin: 0;
					}
					.author{
						font-size: 0.5em;
						margin: 0;
					}
					.auth-logo{
					    width: 9vh;
    					top: 0.5vh;
					}
				}
				.qa{
					margin-top: 12vh;
					h2{
						margin: 0;
					}
					h3{
						margin: 0;
						font-size: 1em;
						color: #fad47d;
					}
					.video-container{
						margin-top: 2vh;
					}
				}
			}
		}
		.accolades{
			.content{
				margin-top: 33%;
				.award{
					width: 25%;
					
					img{
						display: inline-block;
						&.small{
							width: 83.34%;
						}
					}
					img:nth-of-type(2){
						margin-top: 5vh;
					}
					&.medium{
						width: 30%;
					}
					&.middle{
						margin:5vh 4% 0;
					}
					&.middle2{
						margin: 5vh 5% 0;
					}
					&.academy{
						width:40%;
					}
					&.large{
						width: 35%;
					}
					&.offset{
						margin-right: 4%;
					}
				}
			}
		}
	}
	&#thor-page{
		.limiter{
			max-width: 1700px;
			.press{
				width: 50vw;
				max-width: 700px;
				left: 3vw;
				height: 80vh;
				.scroll-down{
					bottom:-3vh;
				}
				.content{
					
					top: 6vh;
					width: 50vw;
					height: 72vh;
					width: 100%;
					.snippet{
						margin-bottom: 6.8vh;
						.title{
							font-size: 1.8vh;
						}
					}
				}
			}
		}
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-size: cover;
				background-position-y:center;
				background-repeat: no-repeat;
				&.fyc{
					background-image:url(../img/thor/thor-fyc-bg.jpg);
				}
				&.screenings{
					background-image:url(../img/thor/thor-screenings-bg.jpg);
					background-position-x:center !important;
					background-position-y:27%;
				}
				&.synopsis{
					background-image:url(../img/thor/thor-synopsis-bg.jpg);
				}
				&.press{
					background-image:url(../img/thor/thor-press-bg.jpg);
					background-position-y:39%;
				}
				&.photos{
					background-image:url(../img/thor/thor-photo-bg.jpg);

				}
				&.score{
					background-image:url(../img/thor/thor-score-bg.jpg);
				}
				&.screenplay{
					background-image:url(../img/thor/thor-screenplay-bg.jpg);
				}
			}
		}
		.consider {
		    .logo{
		   		width:26vh;
		   		margin-bottom: 0px;
		    }
		    .content{
		    	left: 17vw;
		    	top: 6vh;
		    	width: 47vh;
		    	h3,p, .subline{
		    		color: #ffe14b;
		    	}
		    }
		}
		.screenings{
		    .content{
			    left: 50%;
			    transform:translateX(-50%);
			    top: 39.5vh;
			    .scroll-ctrl{
			    	background-color:#ffe14b;
			    }
			    .cities-list{
			    	color: #ffe14b;
			    }
			    .city-holder{
			    	max-height: 31vh;
			    }
			    .screening{
			    	.btn{
			    		color: #ffe14b;
			    	}
			    }
		    }
		}
		.synopsis{
		    .content{
	    	    top: 21%;
			    left: 4vmin;
			    width: 45%;
			    max-width: 583px;
		    }
		}
		.score{
			.content{
				left: 0;
				width: 100%;
				.angled{
					transform: rotate(-18.5deg);
    				position: fixed;
    				left:-14vh;
    				top: 0;
    				height: 122vh;
				    width: 37vw;
				    min-width: 455px;
				    max-width: 624px;
				    background: rgba(0, 0, 0, 0.3);
    				transform-origin: top left;
    				z-index: 3;
    				.inner{
    					width: 90%;
    					margin: 0 auto;
    					height: 100%;
    					padding-top: 1px;
    					margin-top: -1px;
    					background: rgba(0, 0, 0, 0.3);
    					.artist-pic{
							width: 80%;
						    //top: -34vh;
						    //position: absolute;
						    left: -2vh;
						    z-index: 4;
						    transform: rotate(18.5deg);
						}
						h3{
						    color: #e9e460;
						    font-size: 3vh;
						    z-index: 5;
						    transform: rotate(18.5deg);
						    margin: -1.5vh 0 0 0.7vh;
						}
						h5{
							margin: 0.7vh 0 1vh 1.1vh;
						    
						    z-index: 5;
						    font-size: 1.9vh;
						    transform: rotate(18.5deg);
						    
						}
						.download-btn{
							transform: rotate(18.5deg);
						    margin-top: -3vh;
    						margin-bottom: 4vh;
    						position: relative;
    						left: 3px;
						}
    				}
				}
				.track-list{
				    left: 4vh;
				    overflow: visible !important;
				    height: 97vh;
				    margin-top: 7vh;
				    width: auto;
					.scrollable{
						.track{
					    	transform: rotate(18.5deg);
					    	border-bottom-color: rgba(255, 255, 255, 0.1);
							.track-info{
								width: 78%;
								padding-top: 12px;
							    white-space: nowrap;
							    color: #21ac42;
							   
							    padding:1vh 0;
							    font-weight: 700;
							}
							.play-btn{
								background: url(../img/thor/green-play-btn.png) no-repeat;
								background-size: 100%;
								
							}
							.credits{
								display: none;
							}
							&.playing{
								.track-name{
									color: #fff;
								}
								.play-btn{
									 background-position: 0 100%;
								}
							}
						}
					}
					.scroller{
						display: none;
					}
				}
				
				.featurette{
					position: absolute;
					right: 3vw;
					top: 4vh;
					width: 45vw;
					text-align: center;
					z-index: 6;
					h4{
						font-size: 1.6vw;
						margin: 0;
						font-weight: 500;
						line-height: 1.2em;
					}
					h6{
						margin:0;
						color: #e9e460;
						font-size: 1.05vw;
						margin-bottom: 2.5vh;
					}
					.video-container{
						.poster{
							background-image: url(../img/thor/thor-score-video-poster.jpg);
						}
					}
					.quote{
					    position: relative;
					   
					    text-transform: uppercase;
						margin: 12vh auto 0;
						p{
							font-weight: 700;
						    line-height: 1.6em;
						    color: #e7f4cb;
						    font-size: 1.1vw;
						}
						span{
							font-size: 1.4vh;
							color: #fff;
							font-weight: 700;
							margin-top: 0.5vh;
							display: block;
						}
					}
				}
			}
		}
		.screenplay{
			.quote{
			    width: 71vh;
			    max-width: 90%;
			    left: 3vw;
			    position: absolute;
			    top: 2vh;
				p{
					white-space: initial;
					text-transform: uppercase;
					font-size: 1.8vh;
				}
				.author{
					font-size: 1.3vh;
					img{
						display: inline;
						width: 80px;
					}
				}
			}
			.content{
			    text-align: left;
			    align-items: center;
		        position: absolute;
			    width: 703px;
			    bottom: 2vh;
			    left: 50%;
			    transform: translateX(-50%);
				.download-button{
				    position: relative;
				    left: 0;
				    display: inline-block;
				    width: 250px;
				    height: 219px;

				    a{
				    	display: block;
				    }
				    img{
				    	
				    }
				}
				.text{
				    
				    display: inline-block;
				    width: 34.2vh;
				    text-align: center;
				    position: absolute;
				    margin-left: -40px;
				    top: 56%;
				    transform: translateY(-50%);
					h2{
						//font-size: 1.5em;
						margin: 0;
						display: inline-block;
						border-bottom-color: #ffe89447;
    					padding-bottom: 10px;

					}
					.written{
						//font-size: 13px;
						margin-top: 1vh;
						color: #ffe894;
					}
					.names{
						display: block;
						//font-size: 20px;
						//line-height: 1.2em;
					}
				}
			}
		}
	}
	&#gotg-page{
		.limiter{
			max-width: 100%;
			.screenplay{
				.quote{
					position: relative;
					
					width: 33.8vw;
					min-width: 320px;
					max-width: 500px;
					p{
						text-transform: uppercase;
						font-size: 1.7vh;
						line-height: 1.5em;
						letter-spacing: .03em;
						white-space: nowrap;
					}
					.author{
						font-size: 1.9vh;
					}
					.auth-logo{
					    width:11vh;
						top: 1px;
					}
				}
				.content{
					top: 1.5vh;
					left: 3vh;
					width: 100%;
					text-align: left;
					.download-button{
						left: -7vh;
					    display: inline-block;
					    width: 28vh;
					    height: 0;
					    overflow: visible;
					    padding-top: 28vh;
					    position: relative;
					    margin-top: -3vh;
						a{
							display: block;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
						}
					}
					.text{
						font-size: 1.8vh;
						line-height: 1.2em;
						margin-top: -5vh;
						h2{
							font-size: 1.7em;
							line-height: 1.1em;
							margin-bottom: 0;
							display: inline-block;
							border-bottom-color: #ffe894;
						}
						.written{
							font-size: 0.8em;
							margin-top: 1vh;
							color: #ffe894;
						}
						.names{
							display: block;
							font-size: 1.3em;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				background-size: auto 100%;
				background-position: 50% center;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-repeat: no-repeat;
				background-size: cover;
				background-position-y: center;
				&.fyc{
					background-image:url(../img/gotg/gotg-fyc-bg.jpg);
					z-index: 3;
					background-position-y:top;
				}
				&.screenings{
					background-image:url(../img/gotg/gotg-screenings-bg.jpg);
				}
				&.synopsis{
					background-image:url(../img/gotg/gotg-synopsis-bg.jpg);
				}
				&.press{
					background-image:url(../img/gotg/gotg-press-bg.jpg);
				}
				&.photos{
					
				}
				&.videos{
					background-image:url(../img/gotg/gotg-videos-bg.jpg);
					background-position-x: center !important;
					background-position-y:bottom;
				}
				&.screenplay{
					background-image:url(../img/gotg/gotg-screenplay-bg.jpg);
					background-position-x: left !important;
					background-position-y:20%;
				}
				&.song{
					background-image:url(../img/gotg/gotg-song-bg.jpg);
					background-position-x: center !important;
					background-position-y:85%;
				}
			}
		}
		.consider {
		    .logo{
		    	margin-bottom: 1vh;
		    	width: 23vh;
		    }
		    .content{
		    	right:6vw;
		    	top:4vh;
		    	width:54vh;
		    	text-shadow: 0px 1px 1px rgba(0,0,0,1);
				.name{
				    
				}
		    	h3,p, .subline{
		    		color: #ffdb92;
		    	}
		    }
		}
		.screenings{
			
		    .content{
		    	top: 20%;
		    	left:10vmin;
				.name{
				    text-shadow: 0px 0px 1px rgba(0,0,0,1);
				}
		    }
		}
		.synopsis{
		    .content{
		    	top: 18%;
		    	right: 6vmin;
		    }
		}
		.press{
			.scroll-down{
				top: 88%;
			}
			.content{
				left: 50%;
				transform:translateX(-50%);
			}
		}
		.videos{
			.content{
				height: 100%;
				top:0;
				width: 100%;
				transform:none;
				.video-list{
					top:3vh;
					
					
					bottom: initial;
					.video-title{
						color:#fff;
						display: inline-block;
						
						transition:transform 0.3s;
						text-align: center;
						font-size: 1.5vw;
					    text-shadow: 2px 2px 6px rgba(0,0,0,1);
						span{
							font-size: 0.6em;
						    color: #ffeb9c;
						}
						&.selected{
							color:#fad47d;
							position: relative;
						}
						&:hover{
							transform:scale(1.1);
						}
					}
				}
				.video-container{
					display: none;
					background: #000;
					position: relative;
					z-index: 3;
					.video-play-btn{
						display: none;
					}
					.close-btn{
						position: absolute;
						top: 3vh;
						right: 3vh;
					    text-align: center;
					    cursor: pointer;
					    height: 53px;
					    font-size: 52px;
					    font-weight: 400;
					    transform: rotate(45deg);
					    opacity: 0.4;
					    &:hover{
					    	opacity: 1;
					    }
					}
				}
			}
			
		}
		.song{
			.content{
				right: 3vw;
				top: 3vh;
				left:initial;
				
				.song{
					text-align: center;
					font-weight: 500;
					padding:0;
					.song-title{
						font-size: 2vh;
					}
					.play-btn{
						position: relative;
						margin:20px auto;
						>div{
						    position: absolute;
						    top: 112%;
						    font-size: 10px;
						    font-weight: 400;
						    width: 62px;
						    left: 50%;
						    white-space: nowrap;
						    transform: translateX(-50%);
						}
					}
				}
				h3{
					color: #fff;
					
					font-size: 2.3vh;
				}

				.credits{
					color: #fff;
					font-size: 0.8em;
					> div{
						color: #f9e491;
					    font-size: 1em;
					    margin-bottom: 0.3em;
					}
					.and{
						font-size: 0.6em;
					}
				}
			}
		}
		.accolades{
			.content{
				margin-top: 34%;
				.award{
					width: 25%;
					vertical-align: top;
					&.medium{
						width: 30%;
						margin-top: 5vh;
					}
					&.large{
					    width: 34%;
    					margin-top: 3vh;
    					
					}
					&.academy{
						position: relative;
						top: 14px;
					}
					&.pushRight{
						margin-right: 5%;
					}
					&.middle{
						margin-top: 5vh;
					}
				}
			}
		}
	}
	&#coco-page{
		.limiter{
			max-width: 90vw;
		}
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-repeat: no-repeat;
				background-size: cover;
				&.fyc{
					background-image:url(../img/coco/coco-fyc-bg.jpg);
					z-index: 3;
					background-position-y:bottom;
					@media @160asr {
						background-position-x:0 !important;
					}
				}
				&.screenings{
					background-image:url(../img/coco/coco-screenings-bg.jpg);
					background-position-y:center;
					background-position-x:0 !important;
					
				}
				&.synopsis{
					background-image:url(../img/coco/coco-synopsis-bg.jpg);
					background-position-y:top;
				}
				&.song{
					background-image:url(../img/coco/coco-song-bg.jpg);
				}
				&.score{
					background-image:url(../img/coco/coco-score-bg.jpg);
				}
				&.videos{
					background-image:url(../img/coco/coco-videos-bg.jpg);
					background-position-y:top;
				}
				&.screenplay{
					background-image:url(../img/coco/coco-screenplay-bg2.jpg);
					background-position-y:center;
				}
			}
		}

		.consider {
			
			.logo{
				width:18vh;
				margin-bottom: 2vh;
				
			}
			.award{
				position: absolute;
			    top: 4vh;
			    left: 0vw;
			    width: 32vw;
			    max-width: 600px;
			}
			.content{
			    
			    top: 5vh;
			    width: 61vh;
			    right: 3vh;
				
			    .name{
				    text-shadow: 0px 0px 1px rgba(0,0,0,1);
				}
		    	h3,p, .subline{
		    		color: #f99e1b;
		    	}
		    	.right{
		    		h3:not(:first-child){
		    			margin-top: 0.6vh;
		    		}
		    	}
			}
		}
		.screenings{
			text-shadow:1px 1px rgba(0, 0, 0, 0.5);
			position: fixed;
			left: 0;
			width: 99%;
			.guild-members-co{
				left: 3vw;
			    bottom: 6vh;
			}
			.content{
				
			    right: 4vw;
			    top: 10vh;
			   
			}
		}
		.synopsis{
			width: 100%;
			position: fixed;
			left: 0;
			.content{
				width: 27vw;
			    right: 3vw;
			   	top: 15vh;
		        line-height: 1.5em;
    			text-align: left;
			}
		}
		.song{
			.award{
				
			    
			    width: 32vw;
			    max-width: 600px;
		        margin-bottom: 5vh;
    			margin-top: 7vh;
			}
			.content{
				top: 3vh;
				left: 0vw;
				.song{
					
					padding-left: 0;
					h3{
						color: #fff;
					    font-size: 2.5vh;
    					font-weight: 500;
    					margin-bottom: 5vh;
					}
					.quote{
						p{
							font-size: 2vh;
						}
						.author{
							font-size: 1em;
						}
					}
					.artist{
						margin-left: 0;
					    width: 38vh;
    					margin-top: 5vh;
    					margin-bottom: 3vh;
    				}
    				.song-title{
    					span{
    						left: -2vh;
    						position: relative;
    					}
    				}
    				.credits{
    					color: #fff;
    					line-height: 1.1em;
    					> div {
    						color: #F4E48F;
    						font-size: 0.9em;
    					}
    					.and{
    						font-size: 0.8em;
    					}
    				}
    				.play-btn{
				        width: 4.4vh;
					    height: 4.5vh;
					    left: 105%;
    					bottom: -0.4vh;
    				}
				}
			}
		}
		.score{
			.content{
				left: 0;
				width: 100%;
				h2{
					
					margin-bottom: 0;
				}
				.score-name{
					margin-top: 0;
					
				}
				.artist-pic{
					width: 38vh;
					margin-top: 2.4vh;
				}
				.track-list{
					width: 380px;
					font-weight: bold;
					margin-top: 2vh;
					.track{
						width: 74%;
						border-bottom: none;
						.play-btn{
							margin-top: 0;
						}
					}
					.track .track-info{
						text-transform: uppercase;
						padding-top: 0.8vh;
						padding-bottom: 1vh;
						color: #fad47d;
						border-bottom: 1px solid rgba(249, 228, 145, 0.26);
					}
					.scroller{
						left: 80%;
					}
				}
				.quote{
					position: absolute;
					right: 0;
					bottom: 14vh;
					text-align: center;
					width: 51.6vh;
					p{
						text-transform: uppercase;
						font-size: 2.2vh;
					}
					.author{
						margin-top: 5px;
						font-size: 0.9em;
						img{
							width: 110px;
							top: 3px;
						}
					}
				}
			}
		}
		.videos{
			.content{
				.video-list{
					color: #6d6d70;
					.video-title{
						&.selected{
							color:#f6841f;
						}	
					}
				}
			}
		}
		.screenplay{
			.content{
			    right: 0vh;
			    bottom: 5vh;
			    text-align: center;
			    width: 37vh;
				.text{
					h2{
					    margin-bottom: 0.6em;
					   
					}
					.written{
						margin-top: 6px;
					    
					}
					.names{
						
					   
					}
				}
				.download-button{
					background-image: url(../img/coco/coco-download-btn.png);
			        width: 30vh;
				    height: 30vh;
				    top: -6vh;
				}
			}
		}
		.accolades{
			overflow-y: auto;
			background:#fff;
			.banner{
				position: fixed;
				top: 0;
			    z-index: 1;
    			pointer-events: none;
			}
			.content{
				width: 82%;
				padding: 0 9% 10vh;
				z-index: 3;
				margin-top: 34%;
				.special{
					.left{
						float: left;
						margin-left: 10%;
						clear: both;
					}
					.right{
						float: right;
						margin-right:10%;
					}
				}
				.press{
					justify-content: space-between;
					display: flex;
					flex-wrap: wrap;
				}
				.award{
					vertical-align: top;
					width: 29.1%;
					margin-top: 5vh;
					position: relative;
					&.golden-globes{
						margin-top: 0vh;
   	 					width: 30.1%;
					}

					&.critics-choice{
					    margin-top: 3vh;
    					top:1vh;
    					width: 30.1%;
					}
					
				    &.ves{
						margin-top: 6vh;
						width: 39.35%;
					}
				    &.annie{
    					width: 33.25%;
    					margin-top: 4vh;
				    }
				    &.bafta, &.mpse{
				    	margin-top: 6vh;
				    }
				    &.bafta{
				    	
				    	width: 37.1%;
				    }
				    &.mpse{
				    	width: 37.3%;
				    }
				    &.center{
				    	margin: inherit auto 0;
				    	clear: both;
				    }
					&.middle{
						margin: 5vh auto 0;
					}

					&.offset{
						margin-right: 10%;
					}
					&.academy{
						margin-top: 3vh;
						width: 40.9%;
					}
					&.pga{
						width: 30%;
					}
					&.adg,&.cas,&.ace{
						width: 27%;
					}
					&.adg, &.ace{
						margin-top: 6.2vh;
					}
				}
			}
		}
	}
	&#cars-page{
		.limiter{
			max-width: 1600px;
		}
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: bottom;
				&.fyc{
					background-image:url(../img/cars/cars-fyc-bg.jpg);
					
					z-index: 3;
					background-size: auto 110%;
					@media screen and (min-aspect-ratio:26/10){
						background-size: cover;
					}
				}
				&.screenings{
					background-image:url(../img/cars/cars-screenings-bg.jpg);
					background-position-x:0 !important;
				}
				&.synopsis{
					background-image:url(../img/cars/cars-synopsis-bg.jpg);
					background-position-x:center !important;	
					background-position-y:center;
				}
				&.score{
					background-image:url(../img/cars/cars-score-bg.jpg);
					background-position-y: 18%;
				}
				&.songs{
					background-image:url(../img/cars/cars-song-bg.jpg);
					background-position-x:0 !important;
					background-position-y: 14%;
				}

				&.press{
					background-image:url(../img/cars/cars-press-bg.jpg);
					background-position: top;
				}
				&.videos{
					background-image:url(../img/cars/cars-videos-bg.jpg);
					background-position: top;
				}
			}
		}
		.consider {
			color: #981911;

			.logo{
		     	width: 15vh;
		     	left: -5px;
	    	}
		    .content{
		    	width: 59vh;
		   		left: 3vw;
		   		top: 2vh;
		   		.first{
		   			margin-top: 1vh;
		   		}
			   .left{
			   
			   		h3:not(:first-child){
			   			margin-top: 1.5vh;
			   		}
			   		
			   }
			   .right{
			   	
			   		h3:not(:first-child){
			   			margin-top: 8px;
			   		}
			   }
			   .name,.song{
			   		color: #3e4541;
			   }
			   .down5{
					margin-top:5px;
				}
			}
		}
		.screenings{
		
	    	.content{
	    		left: 5vw;
	    		top:20%;
	    	}
		}
		.synopsis{
	    	.content{
    		    width: 53vw;
    		    min-width: 590px;
    		    max-width: 911px;
			    top: 3vh;
			    line-height: 1.5em;
			    
			    position: relative;
			    margin: 0 auto;
	    	}
		}
		.songs{
			.content{
				
				width: 81vw;
				.artist{
					width: 29%;
					max-width: 18vh;
					margin-right: 2%;
					margin-left: 0;
					&.zz,&.dan{
						margin-left: 2vh;
					}
				}
				@media screen and (min-width:1600px){
					left: 5vw;
				}
			}
		}
		.score{
			.track-list{
				width: auto;
			}
			.scroller{
				left: 82%;
			}
		}
		.press{
			.content{
				left: 5%;
				top:50%;
				transform:translateY(-50%);
				height: auto;
				.snippet{
					margin-bottom:6.8vh;
				}
				.title{
					font-size:1.9vh;
					
				}
			}
		}
		.photos{
			width: 100%;
			left: 0;
			position: fixed;
			.photo{
				img{
					
				}
			}
		}
		.accolades{
			.content{
				margin-top: 29%;
				.award{
					width: 25.1%;
					vertical-align: top;
					margin-top: 7vh;
					vertical-align: top;
					&.large{
						width: 33%;
						margin-top: 3vh;
					}
					&.middle{
						margin-top: 7vh;
						width: 31%;
					}

				}
			}
		}
	}
	&#batb-page{
		background-color: #1e1714;
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				background-size: cover;
				background-position-y:center;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-repeat: no-repeat;
				&.one{
					background-image:url(../img/batb/batb-fyc-bg.jpg);
					
					z-index: 3;
					background-position: 40% center;
				}
				
				&.cast{
					background-image:url(../img/batb/cast/batb-cast-bg.jpg);
					z-index: 1;
				   	background-position-y:top;
				}
				&.filmmakers{
					background-position-y:top;
					.condon{
						background-image: url(../img/batb/filmmakers/condon-bg.jpg);
					    background-position-x: 63% !important;
    					background-position-y: top;
						opacity: 1;
					}
					.hoberman{
						background-image: url(../img/batb/filmmakers/hoberman-bg.jpg);
						
					}
					.lieberman{
						background-image: url(../img/batb/filmmakers/lieberman-bg.jpg);
						
					}
					.tobias{
						background-image: url(../img/batb/filmmakers/tobias-bg.jpg);
						
					}
					.katz{
						background-image: url(../img/batb/filmmakers/katz-bg.jpg);
						
					}
				}
				&.music{
					background-image: url(../img/batb/music/batb-music-bg.jpg);
				}
				&.press{
					background-image: url(../img/batb/press/bg.jpg);
				}
				&.makingof{
					background-image: url(../img/batb/makingof/bg.jpg);
					background-position:center bottom !important;
				}
				&.screenplay{
					background-image: url('../img/batb/batb-screenplay-bg.jpg');
					background-position-y:bottom;
					background-position-x:50% !important;
				}
			}
			video{
				height: 100%;
				width: auto;
			}
		}
		.limiter{
			max-width: initial;
		}
		.quote,.bottom-quote{
			color: #fceebd;
			p{
				font-size: 1.5vh;
			    line-height: 1.3em;
				font-weight: 400;
				margin-bottom: 0.1em;
				white-space: nowrap;
			}
			> div:first-child{
				display: block;
			}
			.author{
				font-weight: bold;
				position: relative;
				display: inline-block;	
				margin-top: 10px;
				font-size: 0.7em;
				.auth-logo{
			        margin: 0;
				    position: relative;
				    display: inline-block;
				}
			}
		}
		.consider {
			.quote{
				position: fixed;
			    left: 2vw;
			    width: 21%;
			    top: 4vh;
			}
			.logo{
		       	height: 12vh;
    			margin-top: 1vh;
    			margin-bottom: 2vh;

    			img{
    				height: 100%;
    				width: auto;
    				margin: 0 auto;
    			}
			}
			.content{
			    right: 5vw;
			    width: 64vh;
			    top: 1vh;
			    transform:scale(0.99);
			    .left{			   		
			   		h3{
			   			margin-top:0.57vh;
			   			&:first-child{
			   				margin-top: 0.5vh;
			   			}
			   		}
			    }
			    .right {
			   		h3{
			   			margin-top: 0.85vh;
			   			&:first-child{
			   				margin-top: 0.5vh;
			   			}
			   		}
			    }
				h3,p,.subline{
			   		color: #fad47d;
				}
				.down5{
					margin-top: 0.56vh;
				}
			}
		}
		.screenings{
		    background: #1e1714;
			.special-bg{
				background-image:url(../img/batb/batb-synopsis-bg2.jpg);
				z-index: 3;
				background-position-y: top;
				background-position-x:13%;
				position: absolute;
				height: 100%;
				top: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;
				width: 69vw;
				.quote {
					display: none;
				}
			}
			.scroller{
	    		left: 90%;
	    	}
		    .thumb{
		    	width: 17vw;
		    	height: 11.4vw;
		    	position: absolute;
		    	bottom: 9vh;
		    	border: 1px solid @yellow;
		    	overflow: hidden;
		    	transition:all 0.4s;
		    	cursor: pointer;
		    	.image{
		    		height: 100%;
		    	}
		    	&.one{
		    		left: 2vw;
		    		&.active{
		    			width: 68vh;
					    left: 1%;
					    bottom: 33%;
					    height: 45.3vh;
		    		}
		    	}
		    	&.two{
		    		left: 20.1vw;
		    		&.active{	
					    left: 5%;
					    bottom: 33%;
					    height: 45.3vh;
		    		}
		    	}
		    	&.three{
		    		left: 38.1vw;
		    		img{
		    			height: 100%;
		    			width: auto;
		    		}
		    		&.active{	
					    left: 10%;					   
		    		}
		    	}
		    	&.active{
		    		z-index: 7;
	    		    bottom: 33%;
				    height: 45.3vh;
				    width: 68vh;
		    	}
		    }
			.content{
			    right: 0%;
			    width: 31vw;
			   // min-width: 450px;
			    top: 0;
			    text-align: center;
			    height: 100%;
			    background: #1e1714;
			    overflow-y: auto;
			    &.scrollerActive {
			    	.scrollable{
			    		width: 90%;
			   		}
			    }
			    img{
			    	max-width: 100%;
			    }

			    .quote{
			    	width: 90%;
			    	margin: 20px auto 0px;
			    	img{
			    		width: auto;
			    	}
			    }
			    h3{
			    	font-weight: 300;
			    	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			    	padding-bottom: 7px;
			    	font-size: 2.5vh;
			    	display: inline-block;
		    	    margin-top: 1.4em;
		    	    position: relative;
		    	    
			    }
			    .synopsis{
			    	line-height: 1.4em;
    				font-size: 16px;
    				width: 90%;
    				margin: 3vh auto 0;
    				text-align: left;
    				p{
    					overflow: hidden;
    				}
    				
			    }
			    .read-more{
					color: @yellow;
					font-weight:bold;
					text-align: center;
					cursor: pointer;
				}
			    .screenings-holder{
			    	position: relative;
			    	
			    	.screening{
			    		width: 88%;
			    		font-size: 1.9vh;
			    		.date{
			    			text-transform: uppercase;
			    			font-size: 0.8em;
			    			@media screen and (min-width:1200px){
			    				font-size: 16px;
			    				white-space: nowrap;
			    			}
			    		}
			    		.theater{
			    			font-size: 0.8em;
			    		}
			    	}
			    }
			    .disclaimer{
			    	position: relative;
			    	top: 0;
				    width: 95%;
				    left: 0;
				    margin: 0 auto;
				    
			    }
			    .netflix{
			    	font-weight: 700;
			    	margin-top: 20px;
			    	text-align: center;
			    	padding-bottom: 10px;
			    }
			}
		}
		.cast{
			.cast-bgs{
				position: fixed;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				.cast-bg{
					background-size: cover;
					width: 100%;
					height: 100%;
					display: none;
					z-index: 2;
					background-position: right center;
					position: absolute;
					top: 0;
					&.active{
						z-index: 1;
					}
				}
			}
			a{
				color: inherit;
				text-decoration: none;
			}
			.quote{
				width: 43vh;
				position: absolute;
				top: 3vh;
				left: 3vw;
				img{
					max-width: 100%;
				}
			}
			.article{
				position: absolute;
				bottom: 35vh;
				width: 40vh;
				left: 3vw;
				text-align: center;
				.title{
					font-size: 0.76vw;
					margin-top: 5px;
					span{
						font-weight: bold;
					}
				}
				.read{
					color: #fad47d;
					margin-top: 5px;
					font-size: 12px;
				}
			}
			.severed-heads{
			    width: 94vw;
			    left: 4.2vw;
			    position: absolute;
			    bottom: 10vh;
			    display: flex;
				.head{
				    margin-left: -3%;
				    width: 12.09%;
				    position: relative;
				    cursor: pointer;
				}
			}
		}
		.filmmakers{
			.bottom-quote{
				position: absolute;
				right: 3vw;
			    bottom: 7vh;
    			width: 47vh;
    			color: #fceebd;
				p{
					text-align: right;
				}
				.author{
					float: right;
					.auth-logo{
						top: 7px;
					}
				}
			}
			.content{
				left: 3vw;
				top:0;
			    width: 40vw;
			    min-width: 540px;
			    max-width: 612px;
				.quote{
					width: 49vw;
					margin-top: 3vh;
					> div {
						display: none;
						
						p{
							text-transform: uppercase;
						   
						}
						&:first-child{
							display: block;
							p{
								font-size: 0.8em;
							}
						}
						.author{
						
							.auth-logo{
							    width: 165px;
							    top: 5px;
							}
						}
					}
				}
				.name-list{
					margin:3.4vh 0 2.5vh;
					width: 82vh;
					.name{
						span{
							color: #fff;
						}
					}
					.name.current{
						display: none;
					}
				}
				.bio{
					.name{
						width: 85vh;
					}
					.text{
						max-height: 30vh;
						overflow: hidden;
						p:first-child{
							margin-top: 0;
						}
						p{
							font-size: 1.5vh;
						}
					}

					&#condon-bio{
						display: block;
					}
				}
			}
			.featurette{
				margin-top: 2.9vh;
			    width: 24vh;
			    cursor: pointer;
			}
		}
		.music{
			.quote{
				position: absolute;
				top: 3vh;
				left: 3vw;
				width: 47vh;
				p{

				}
				.auth-logo{
					width: 89px;
					top: 1px;
				}
			}
			.content{
				top: 35vh;
				left: 3vw;
				width: 56vh;
				.play-btn{
					width: 5vh;
					height: 5vh;
					margin: 0 auto;
				}
				.song{
					text-align: center;
					font-weight: 700;
					width: 20vh;
					margin-right: 3vw;
					display: inline-block;
					&.playing{
						.play-btn{
							background-position: 0% 100%;
						}
					}
					.song-title{
						color: #fad47d;
						font-size: 1.3vh;
						margin-top: 2vh;
						line-height: 1.2em;
						border-top: 1px solid rgba(255, 255, 255, 0.3);
						border-bottom: 1px solid rgba(255, 255, 255, 0.3);
						height: 4vh;
						span{
							display: block;
							position: relative;
							top: 50%;
							transform:translateY(-50%);
						}
					}
					.credits{
						color: #fff;
						font-size: 1.5vh;
						
						> div{
							color: #fad47d;
							font-size: 0.6em;
							line-height: 1.2em;
							margin-top:1vh;
						}
					}
					.artist{
						margin-top: 4vh;
						width: 100%;
					}
				}
			}
		}
		.press{
			overflow-x: hidden;
			.quote{
				position: absolute;
				top: 3vh;
				left: 3vw;
				height: 20vh;
				img{
					width: 150px;
					top:6px;
				}
			}
			.content{
				
				width:90vw;
				top: 30vh;
				left: 3vw;
				height: auto;
				display: flex;
				flex-wrap:wrap;
				.article{
					width: 39vh;
					max-width: 26%;
					margin-right: 7%;
					margin-bottom: 4%;
					display: inline-block;
					img{
						max-width: 100%;
					}
				}
			}
		}
		.making-of{
			.content{
				width: 100%;
				position: relative;
				height: 100%;
				.quote{
					position: absolute;
					width: 60vh;
					left: 3vw;
					top: 3vh;
					> div{
						position: absolute;
						opacity: 0;
						&:first-child{
							opacity: 1;
						}
						p{
							text-transform: uppercase;
						}
						
					}
					
				}
				.articles{
					position: absolute;
					top: 30vh;
					left: 3vw;
					display: flex;
				}
				.articles2{
					bottom: 8vh;
					right: 3vw;
					position: absolute;
					display: flex;
				}
				.article{
					cursor: pointer;
					width:16vw;
					margin-right: 2vh;
					@media @portrait{
						width: 29vw;
					}
				}
			}	
		}
		.auth-logo{
			&.forbes{
			    width: 61px;
				top: 3px;
			}
			&.thr{
			    width: 95px;
				top: 9px;
			}
			&.newsweek{
				width: 86px;
				top: 3px;
			}
		}
		.screenplay{
			.quote{
				width: 41vh;
				left: 3vw;
				position: relative;
				p{
					white-space: initial;
					text-transform: uppercase;
				}
			}
			.content{
				bottom: 1vh;
				transform:translateX(-50%);
				left: 50%;
				width: 63vh;
				text-align: left;
			    display: flex;
    			align-items: center;
				.download-button{
					
					position: relative;
					margin: 0 auto;
					left: 0;
					width:56%;
					height: auto;
					right: 0;
				    margin-right: -5vh;
				    display: inline-block;
				    img{
				    	width: 33vh;
					    max-width: 300px;
					    min-width: 100px;
					    height: auto;
					    position: relative;
					    top: -1.6vh;
				    }
				}
				.text{
					
					display: inline-block;
					width: 51vh;
					margin-top: -5vh;
					h2{
						
						margin-bottom: 0;
						display: inline-block;
						border-bottom-color: #ffe894;
					}
					.written{
						
						margin-top: 1vh;
						color: #ffe894;
					}
					.names{
						display: block;
						
					}
				}
			}
		}
		.accolades{
			.content{
				.award{
					width: 25%;
					vertical-align: top;
					&.large{
						width: 50%;
					}
					&.pushRight{
						margin-right: 4%;
					}
					&.middle{
						margin:5vh 3% 0;
					}
					&.medium{
						width: 27%;
					}
				}
			}
		}
	}
	&#lou-page{
		.bg-holder{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			.bg{
				background-size: auto 100%;
				background-position: 50% center;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0;
				background-size: cover;
				background-repeat: no-repeat;
				
				&.one{
					background-image:url(../img/lou/lou-bg.jpg);
					
					z-index: 3;
					background-position-x:0;
				}
				&.synopsis{
					background-image:url(../img/lou/lou-synopsis-bg.jpg);
				}
				&.filmmakers {
					.dave{
						background-image:url(../img/lou/lou-bg-dave.jpg);
						opacity: 1;
						background-position-y:top;
						z-index: 3;
					}
					.dana{
						background-image:url(../img/lou/lou-bg-dana.jpg);
						z-index: 2;
					}
				}
				&.press{
					background-image: url('../img/lou/lou-press-bg.jpg');
					background-position-x:center !important;
				}
				&.photos{
					background-color: #000;
				}
			}
		}
		
		.consider {
			position: fixed;
			left: 0;
			width: 100%;
		    .logo{
		    	width:25vh;
		    	margin-bottom: 1.5vh;
		    }
		    .nom{
		    	position: absolute;
		    	width:27vh;
		    	top: 5vh;
    			right: 61vh;
		    }
		    .content{
	    	    transform: none;
				top:5vh;
				right: 0%;
				width: 33vw;
				font-size: 16px;
				flex-direction:column;
				text-shadow: 0px 1px 1px rgba(0,0,0,1);
				.first{
					color: #ffdb92;
					margin-bottom: 1.3vh;
					.single{
					    font-size: 20px;
					    border: 1px solid rgba(255, 219, 146, 0.5);
					    border-left: 0;
					    border-right: 0;
					    display: inline-block;
					    padding: 11px 0 9px;
					}
					.subline{
						line-height: 14px;
					}
					p{
						font-size: 1.1em;
					    margin: 0 auto 10px;
					    color: #fff;
					    font-weight: 400;
					}
				}
				> div:nth-of-type(3){
					
					h3:nth-of-type(2){
						border-top:1px solid rgba(255, 219, 146, 0.5);;
						margin-top: 1vh;
						padding-top: 12px;

					}
				}
				.name{
				    font-size: 1em;
    				line-height: 1.5em;
    				color: #fff;

				}
				h3{
				    font-size: 1.0em;
    				line-height: 0.9em;
    				
    				display: inline-block;
				}
		    	h3,p, .subline{
		    		color: #f8d698;
		    	}
		    }
		}
		.synopsis{
			.content{
				left: 5%;
				top: 24%;
			    font-size: 22px;
			    font-weight: bold;
			    width: 438px;
			}
		}
		.filmmakers{
			.content{
				.bio{
					.text{
						max-height: 66vh;
					}
				}
			}
		}
		.press{
			.scroll-down{
				left: 3%;
				bottom: 6vh;
			}
			.content{
				transform:translateX(-50%);
				left: 53%;
				width: 50vw;
			    top: 7vh;
    			height: 60.3vh;
				.snippet{
					margin-bottom: 6.2vh;
				}
				.title{
					text-shadow:1px 1px 2px #000;
					margin-top: 8px;
					font-size: 2vh;
				}
			}
		}
	}
}

.cnet{
	max-height: 57px !important;
}

.parade{
	width: 131px !important;
}
.photo{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	&:first-child{
		left: 0;
	}
	img{
		width: auto;
		height: auto;
	    margin: 0 auto;
	    top: 50%;
	    transform: translateY(-58%);
	    position: relative;
	    max-height: 80%;
	    max-width: 90%;
	}
}
#page-holder{
	position: relative;
	display: none;
	overflow: hidden;
}
.arrow{
	position: absolute;
	width: 3vw;
	height: 5vw;
	cursor: pointer;
	top: 50%;
	
	background-size: 100%;
}
.left-arrow{
	left: 1%;
	transform: translateY(-50%);
	background-image: url(../img/ui/left-arrow.svg);
}
.right-arrow{
	right: 1%;
	transform: translateY(-50%);
	background-image: url(../img/ui/right-arrow.svg);
}
#batb-overlay{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	z-index: 11;
	.close-btn{
		position: absolute;
		top: 3vh;
		right: 3vh;
		background:url(../img/batb/makingof/close-btn.png) no-repeat;
		background-size: 100%;
		width: 10vh;
		padding-top: 4vh;
		z-index: 5;
	}
	.overlay-content{
		width: 100%;
		
		margin: 0 auto;
		position: relative;
		height: 100%;
		>div{
			position: absolute;
			top: 0;
			height: 100%;
			overflow: hidden;
			display: none;
			width: 100%;
		}
		.batb-synopsis,.newman-bio{
			margin:0 auto;
			max-width: 850px;
			width: 90%;
			font-size: 1.6vh;
			line-height: 1.3em;
			left: 50%;
			top: 10%;
			transform:translateX(-50%);
		}
		.women-of{
			font-size: 18px;
		    padding-bottom: 20px;
    		box-sizing: border-box;
    		width: 80%;
    		max-width: 1000px;
    		left: 50%;
    		transform:translateX(-50%);
    		.scrollable{
    			width: 95%;
    		}
    		.scroller{
    			left: 95%;
    		}
			h3{
			    font-size: 2.2em;
				margin: 4vh 0 2vh;
			}
			img{
				margin: 2vh 0;
			}
			p{
				font-weight: 300;
				line-height:1.3em;
			}
		}
		.photo{
			img{
				width: auto;
				height: 80vh;
				top: 50%;
				transform:translateY(-50%);
			}
		}
		.dressing-the-part{
			.video-container{
				h3{
					text-align: center;
				}
			}
		}
		.video-container{
		    top: 50%;
		    transform: translateY(-50%);
		    width: 80%;
		    position: relative;
		    margin: 0 auto;
		}
	}
}
.play-btn{
	background: url(../img/ui/play-pause-btn.png) no-repeat;
	cursor: pointer;
	background-size: 100%;
	&.playing{
		background-position: 0 100%;
	}
}
.dots{
	display: none;
}
#rsvp-form{
	background: #fff;
	color: #153f7b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 12;
    padding:30px;
    display: none;
    width: 520px;
    max-height:90%;

    h2{
    	font-weight: 300;
    	margin: 0;
    	font-size: 46px;
    	float: left;
    	border-right: 1px solid rgba(21, 63, 123, 0.3);
    	padding-right: 20px;
    }
    .london{
    	line-height: 1.3em;
    	a{
    		text-decoration: none;
    	}
    }
    .screening-info{
    	float: left;
    	margin-left: 10px;
    	position: relative;
    	top: 0px;
    	margin-bottom: 20px;
    	width: 65%;
    	.movie{
    		font-weight: 700;
    	}
    	.date{
    		text-transform: capitalize;
    	}
    }
    form{
    	clear: left;
    	
    	display: block;
    	.input{
    		height: 30px;
    		font-weight: 500;
    		text-transform: uppercase;
    		font-size: 18px;
    		width: calc(~'50% - 17px');
    		display: inline-block;
    		font:inherit;
		    line-height: 50px;
    		height: 50px;
    		margin-bottom: 30px;
    		position: relative;
    		> div {
	    		
	    		cursor: pointer;
	    		span{
	    			margin-left: 10px;
	    		}
	    		position: relative;
	    	}
    		> div.error:not(.hasDropdown){
    			font-size: 12px;
    			color: #ff0000;
    			position: absolute;
    			left: 0;
    			top: 100%;
    			white-space: nowrap;
    			line-height: 1.6em;
    		}
    		.hasDropdown.error{
    			color: #ff0000;
    		}
    		&.pushRight{
    			margin-right: 24px;
    		}
    		&.fullWidth{
    			width: 100%;
    		}
    		
    	}
    	
    	input{
    		width: 100%;
    		height: 100%;
    		border: 0;
    		background: none;
    		font:inherit;
    		color:inherit;
    		text-transform: uppercase;
    		padding:0 10px;
    		box-sizing: border-box;

    		&.error{
    			color: #ff0000;
    		}
    		&::-webkit-input-placeholder{
    			color: inherit;
    			font: inherit;
    		}
    	}
    	input,.hasDropdown{
    		color: #153f7b;
    		border: 1px solid;
    	}
    	
    	.hasDropdown{
			background:url(../img/ui/dropdown-arrow.jpg) no-repeat;
			background-position: 95% center;
    	}
    	.dropdown{
    		position: absolute;
    		max-height: 130px;
    		overflow-y: auto;
    		background: #fff;
		    width:100%;
    		right: -1px;
    		top: 100%;
    		border: 1px solid;
    		display: none;
    		z-index: 1;

    		.value{
    			padding:0 20px;
    			box-sizing: border-box;
    			height: 30px;
    			border-bottom: 1px solid;
    			line-height: 30px;
    			background: #EEE;
    			text-align: right;
    			&:last-child{
    				border-bottom:none;
    			}
    			&:hover{
    				background: #153f7b;
    				color: #fff;
    			}
    		}
    	}
    	.submit-btn{
	    	background: #e69441;
	    	color: #fff;
	    	clear: left;
    	    line-height: 43px;
		    padding: 5px 0px;
		    font-weight: 700;
		    cursor: pointer;
		    display: block;
		    text-align: center;
		    &:hover{
		    	background: #f77c00;
		    }
	    }
    }
     #rsvp-message{
	 
	    font-size: 14px;
	    line-height: 1.2em;
	    display: none;
	    text-align: center;
	    h3{
	    	font-weight: 300;
	    	border-bottom: 1px solid rgba(21, 63, 123, 0.3);
	    	padding-bottom: 12px;
	    	font-size: 35px;
	    	display: inline-block;
	    	margin: 0 auto;
	    	line-height: 1em;
	    }
	    h4{
	    	font-weight: 300;
	    	font-size: 20px;
	    }
	    div:first-of-type{
	    	font-weight: bold;
	    	font-size: 18px;
	    }
	    
    }
    .rsvp-close-btn{
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	font-size: 10px;
    	padding-right: 20px;
    	cursor: pointer;
    	.x{
    		color: #e69441;
		    position: absolute;
		    right: 0;
		    top: -7px;
		    font-size: 30px;
		    width: 20px;
		    height: 20px;
		    transform: rotate(-45deg);
    	}
    }
}
#add-to-calendar{
	background: #e69441;
	color: #fff;
	clear: left;
    line-height: 43px;
    padding: 6px 0  4px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    text-align: center;
    margin:29px auto 0;
    font-size: 18px;
    width: 212px;
    position: relative;
    
   > a{
    	display: block;
    	height: 100%;
    	&:focus{
    		outline: none;
    	}
    }
    &:hover{
    	background: #f77c00;
    	ul{
    		display: block;
    	}
    }
    ul{
    	position: absolute;
    	top: 100%;
    	padding:0 0 0 15px;
    	width: 100%;
    	box-sizing: border-box;
    	margin: 0;
    	display: none;
    	background: #fff;
	    box-shadow: inset 0px 8px 10px -5px #ccc;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    outline: 1px solid #e69441;
    	li{
    		text-align: left;
    		line-height: 1.4em;
    		a{
    			text-decoration: none;
    			font-weight: 500;
    			color: #e69441;
    			&:hover{
    				color:#f77c00;
    			}
    		}
    	}
    }
}

.scrollable{
	width: 100%;
	position: relative;
	margin-top: -1px;
	padding-top: 1px;
}
.scroller{
	position: absolute;
	left: 90%;
	height: 100%;
	top: 0%;
	width: 10%;
	.scroll-track{
		position: absolute;
		width: 5px;
		left: calc(~'50% - 2.5px');
		border-radius: 4px;
		height: 100%;
		background: @yellow;
		opacity: 0.2;
	}
	.scroll-ctrl{
		width: 10px;
		left: calc(~'50% - 5px');
		height: 40px;
		top: 0;
		position: relative;
		background: @yellow;
		cursor: pointer;
		border-radius: 10px;
	}
}
.scroll-down{
	display: none;
    font-size: 1.5vh;
    color: #f9e491;
    width: 100%;
    color: @yellow;
    text-align: center;
    padding-bottom: 0.9vh;
    background-size: 3vh;
    height: 3vh;
	position: absolute;
	bottom:0;
	background-image: url('../img/ui/down-arrow.png');
	background-repeat:no-repeat;
	background-position: bottom center;
	animation:bounce 0.4s;
	animation-iteration-count:5;
	animation-direction:alternate;
	animation-timing-function:linear;
}
.loader{
    width: 50px;
    margin: 0 auto;
}
#preload {display: none;}
@keyframes light{
	from {left:-106%}
	to {left:110%}
}
.shrink{
	transform-origin:center;
	animation:shrinky 0.5s;
	animation-fill-mode:forwards;
}
@keyframes shrinky {
	from{transform:scale(1)}
	to{transform:scale(0)}
}
@keyframes bounce {
	from{bottom:-3vh}
	to{bottom:-3.4vh};
}

.clear:after{
	display:table;
	content:"";
	clear: both;
}
.nowrap {
	white-space: nowrap;
}
.openOverlay img {
	pointer-events: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
ul{
	list-style: none;
	padding: 0;
}
video{
    width: 100%;
    height: auto;
    display: block;
    background: #000;
}
.video-play-btn{
    height: 94.7%;
	background-image:url(../img/ui/video-play-btn.svg);
	background-position: 50%;
    background-size: 90px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    cursor: pointer;
}
.rotate{
	display: none;
}