@mobile-portrait: ~"only screen and (max-width:600px) and (orientation:portrait)";
@mobile-landscape:~"screen and (max-width:667px) and (orientation:landscape)";
@yellow:#f9e491;
@darkBlue: #153f7b;
@portrait: ~"screen and (orientation:portrait)";

html{
	height: 100%;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Bold.woff2') format('woff2'),
		url('../fonts/Gotham-Bold.woff') format('woff'),
		url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book.woff2') format('woff2'),
		url('../fonts/Gotham-Book.woff') format('woff'),
		url('../fonts/Gotham-Book.ttf') format('truetype'),
		url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.eot');
	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Light.woff2') format('woff2'),
		url('../fonts/Gotham-Light.woff') format('woff'),
		url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
body{
	height: 100%;
	width: 100%;
	background: #166db1;
	margin:0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Gotham';
	font-weight: 500;
	color: #fff;
	overflow: hidden;
}
header{
	width: 100%;
	background: #153f7b;
	z-index: 11;
	.fyc-banner {
		a{ 
		    position: relative;
		    display: block;
		}
		
		.title{
		    display: inline-block;  
		    color: #b4bccd;
		    font-weight: 300;
		    text-transform: uppercase;
		    line-height: 1em;
		}
	}
	nav{
		background: #fff;
		ul{
		    margin: 0 auto;
			li{
				color: #2498ca;
				cursor: pointer;
				font-family: 'CenturyGothic';
				font-weight: 700;
				text-transform: uppercase;
			    position: relative;
			   
				&.selected{
					color: #e69441;
				}
				&.selected{
					.submenu-holder{
						
					}
				}
				.submenu-holder{
					min-width: 270px;
				}
				.submenu {		
				    position: relative;
				    font-weight: 500;
				    transition:margin-top 0.5s;
					> div {
						cursor: pointer;
					    position: relative;
					    transition: right 0.3s;
					    right: 0;
						&:hover{
							right: 10px;
						}
						&.selected{
							text-decoration: underline;
						}
					}
				}
			}
			li.open{
				.submenu-holder {
					display: block;
					.submenu{
						margin-top: 0;
					}
				}
			}
		}
	}
}
footer{
	font-size: 9px;
    line-height: 1.3em;
    box-sizing: border-box;
    z-index: 10;
    span{
    	color: #fee797;
    }
    a {
    	color: inherit;
    	text-decoration: none;
    	border-right: 1px solid #fee797;
	    padding-right: 5px;
	    margin-left: 3px;
	    &:hover{
	    	color: #fee797;
	    }
	    &:last-of-type{
	    	border-right: none;
	    	padding-right: 0;
	    }
    }
    // @media screen and (max-height:768px){
    // 	font-size: 9px;
    // }
    // @media screen and (min-height:769px){
    // 	font-size: 1.2vh;
    // }
}
body > footer {
    
    bottom: 2vh;
    width: 100%;
    z-index: 1;
    padding: 0 2vh;
    box-sizing: border-box;
}
var {
	display: none;
}
.stat{
	transition:none !important;
}
.slider{
	width: 100%;
	height: 100%;
}
.photo{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	&:first-child{
		left: 0;
	}
	img{
		width: 80%;
		height: auto;
	    margin: 0 auto;
	    top: 50%;
	    transform: translateY(-58%);
	    position: relative;
	}
}
#page-holder{
	position: relative;
	display: none;
}
.arrow{
	position: absolute;
	width: 40px;
	height: 70px;
	cursor: pointer;
	top: 50%;
	
	background-size: 100%;
}
.left-arrow{
	left: 1%;
	transform: translateY(-50%);
	background-image: url(../img/ui/left-arrow.svg);
}
.right-arrow{
	right: 1%;
	transform: translateY(-50%);
	background-image: url(../img/ui/right-arrow.svg);
}
#batb-overlay{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	z-index: 11;
	.close-btn{
		position: absolute;
		top: 3vh;
		right: 3vh;
		background:url(../img/batb/makingof/close-btn.png) no-repeat;
		background-size: 100%;
		width: 10vh;
		padding-top: 4vh;
		z-index: 5;
	}
	.overlay-content{
		width: 100%;
		
		margin: 0 auto;
		position: relative;
		height: 100%;
		>div{
			position: absolute;
			top: 0;
			height: 100%;
			overflow: hidden;
			display: none;
			width: 100%;
		}
		.batb-synopsis,.newman-bio{
			margin:0 auto;
			max-width: 850px;
			width: 90%;
			font-size: 1.6vh;
			line-height: 1.3em;
			left: 50%;
			top: 10%;
			transform:translateX(-50%);
		}
		.women-of{
			font-size: 18px;
		    padding-bottom: 20px;
    		box-sizing: border-box;
    		width: 80%;
    		max-width: 1000px;
    		left: 50%;
    		transform:translateX(-50%);
    		.scrollable{
    			width: 95%;
    		}
    		.scroller{
    			left: 95%;
    		}
			h3{
			    font-size: 2.2em;
				margin: 4vh 0 2vh;
			}
			img{
				margin: 2vh 0;
			}
			p{
				font-weight: 300;
				line-height:1.3em;
			}
		}
		.photo{
			img{
				top: 50%;
				transform:translateY(-50%);
				width: 80%;
				height: auto;
			}
		}
		.dressing-the-part{
			.video-container{
				h3{
					text-align: center;
				}
			}
		}
		.video-container{
		    top: 50%;
		    transform: translateY(-50%);
		    width: 80%;
		    position: relative;
		    margin: 0 auto;
		}
	}
}
.play-btn{
	background: url(../img/ui/play-pause-btn.png) no-repeat;
	cursor: pointer;
	background-size: 100%;
	&.playing{
		background-position: 0 100%;
	}
}
.dots{
	display: none;
}
#rsvp-form{
	background: #fff;
	color: #153f7b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 12;
    padding:30px;
    display: none;
    width: 520px;
    h2{
    	font-weight: 300;
    	margin: 0;
    	font-size: 46px;
    	float: left;
    	border-right: 1px solid rgba(21, 63, 123, 0.3);
    	padding-right: 20px;
    }
    .london{
    	line-height: 1.3em;
    	a{
    		text-decoration: none;
    	}
    }
    .screening-info{
    	float: left;
    	margin-left: 10px;
    	position: relative;
    	top: 0px;
    	margin-bottom: 20px;
    	width: 65%;
    	.movie{
    		font-weight: 700;
    	}
    	.date{
    		text-transform: capitalize;
    	}
    }
    form{
    	clear: left;
    	
    	display: block;
    	.input{
    		height: 30px;
    		font-weight: 500;
    		text-transform: uppercase;
    		font-size: 18px;
    		width: calc(~'50% - 17px');
    		display: inline-block;
    		font:inherit;
		    line-height: 50px;
    		height: 50px;
    		margin-bottom: 30px;
    		position: relative;
    		> div {
	    		
	    		cursor: pointer;
	    		span{
	    			margin-left: 10px;
	    		}
	    		position: relative;
	    	}
    		> div.error:not(.hasDropdown){
    			font-size: 12px;
    			color: #ff0000;
    			position: absolute;
    			left: 0;
    			top: 100%;
    			white-space: nowrap;
    			line-height: 1.6em;
    		}
    		.hasDropdown.error{
    			color: #ff0000;
    		}
    		&.pushRight{
    			margin-right: 24px;
    		}
    		&.fullWidth{
    			width: 100%;
    		}
    		
    	}
    	
    	input{
    		width: 100%;
    		height: 100%;
    		border: 0;
    		background: none;
    		font:inherit;
    		color:inherit;
    		text-transform: uppercase;
    		padding:0 10px;
    		box-sizing: border-box;

    		&.error{
    			color: #ff0000;
    		}
    		&::-webkit-input-placeholder{
    			color: inherit;
    			font: inherit;
    		}
    	}
    	input,.hasDropdown{
    		color: #153f7b;
    		border: 1px solid;
    	}
    	
    	.hasDropdown{
			background:url(../img/dropdown-arrow.jpg) no-repeat;
			background-position: 95% center;
    	}
    	.dropdown{
    		position: absolute;
    		max-height: 130px;
    		overflow-y: auto;
    		background: #fff;
		    width:100%;
    		right: -1px;
    		top: 100%;
    		border: 1px solid;
    		display: none;
    		z-index: 1;

    		.value{
    			padding:0 20px;
    			box-sizing: border-box;
    			height: 30px;
    			border-bottom: 1px solid;
    			line-height: 30px;
    			background: #EEE;
    			text-align: right;
    			&:last-child{
    				border-bottom:none;
    			}
    			&:hover{
    				background: #153f7b;
    				color: #fff;
    			}
    		}
    	}
    	.submit-btn{
	    	background: #e69441;
	    	color: #fff;
	    	clear: left;
    	    line-height: 43px;
		    padding: 5px 0px;
		    font-weight: 700;
		    cursor: pointer;
		    display: block;
		    text-align: center;
		    &:hover{
		    	background: #f77c00;
		    }
	    }
    }
     #rsvp-message{
	 
	    font-size: 14px;
	    line-height: 1.2em;
	    display: none;
	    text-align: center;
	    h3{
	    	font-weight: 300;
	    	border-bottom: 1px solid rgba(21, 63, 123, 0.3);
	    	padding-bottom: 12px;
	    	font-size: 35px;
	    	display: inline-block;
	    	margin: 0 auto;
	    	line-height: 1em;
	    }
	    h4{
	    	font-weight: 300;
	    	font-size: 20px;
	    }
	    div:first-of-type{
	    	font-weight: bold;
	    	font-size: 18px;
	    }
	    
    }
    .rsvp-close-btn{
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	font-size: 10px;
    	padding-right: 20px;
    	cursor: pointer;
    	.x{
    		color: #e69441;
		    position: absolute;
		    right: 0;
		    top: -7px;
		    font-size: 30px;
		    width: 20px;
		    height: 20px;
		    transform: rotate(-45deg);
    	}
    }
}
#add-to-calendar{
	background: #e69441;
	color: #fff;
	clear: left;
    line-height: 43px;
    padding: 6px 0  4px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    text-align: center;
    margin:29px auto 0;
    font-size: 18px;
    width: 212px;
    position: relative;
    
   > a{
    	display: block;
    	height: 100%;
    	&:focus{
    		outline: none;
    	}
    }
    &:hover{
    	background: #f77c00;
    	ul{
    		display: block;
    	}
    }
    ul{
    	position: absolute;
    	top: 100%;
    	padding:0 0 0 15px;
    	width: 100%;
    	box-sizing: border-box;
    	margin: 0;
    	display: none;
    	background: #fff;
	    box-shadow: inset 0px 8px 10px -5px #ccc;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    outline: 1px solid #e69441;
    	li{
    		text-align: left;
    		line-height: 1.4em;
    		a{
    			text-decoration: none;
    			font-weight: 500;
    			color: #e69441;
    			&:hover{
    				color:#f77c00;
    			}
    		}
    	}
    }
}

.scrollable{
	width: 100%;
	position: relative;
	margin-top: -1px;
	padding-top: 1px;
}


.loader{
    width: 50px;
    margin: 0 auto;
}
#preload {display: none;}

.clear:after{
	display:table;
	content:"";
	clear: both;
}
.nowrap {
	white-space: nowrap;
}
.openOverlay img {
	pointer-events: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
ul{
	list-style: none;
	padding: 0;
}
video{
    width: 100%;
    height: auto;
    display: block;
    background: #000;
}
a{
	color: inherit;
	text-decoration: none;
}
.video-play-btn{
    height: 94.7%;
	background-image:url(../img/ui/video-play-btn.svg);
	background-position: 50%;
    background-size: 90px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    cursor: pointer;
}
.rotate{
	display: none;
}
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.scroll-down{
	display: none;
}
#wrapper{
	background: rgb(15,45,97); /* Old browsers */
	background: -webkit-linear-gradient(45deg, rgba(15,45,97,1) 0%,rgba(15,45,97,1) 10%,rgba(21,63,132,1) 34%,rgba(15,45,96,1) 50%,rgba(15,45,96,1) 63%,rgba(15,59,117,1) 77%,rgba(15,45,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(15,45,97,1) 0%,rgba(15,45,97,1) 10%,rgba(21,63,132,1) 34%,rgba(15,45,96,1) 50%,rgba(15,45,96,1) 63%,rgba(15,59,117,1) 77%,rgba(15,45,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#boxes {
    text-align: center;
    > footer{
    	display: none;
    }
    .box{
		cursor: pointer;
		z-index: 1;
		position: relative;
    	&#batb-box{
		    
		    .logo{
		    	width: 34%;
			    top: 8%;
			    right: 6%;
		    }
    	}
    	&#cars-box{
			
    		.logo{
    			width: 30%;
    			height: 30%;
    			margin-top: 29%;
    			margin-left: 3%;
    		}
    	}
    	&#coco-box{
    		
    		.logo{
    			position: absolute;
			    top: 4%;
			    right: 3%;
			    width: 38%;
    		}
    	}
    	&#gotg-box{
    		
    	}
    	&#thor-box{
    		
    		.logo {
    			top: 1%;
				right: 1%;
				width: 43%;
    		}
    	}
    	&#lou-box {
    		.logo{
    			width: 40%;
			    top: 2%;
				left: 2%;
    		}
    	}
    	&#sw-box{
    		.logo{
			    width: 60%;
    			right: 0;
    		}
    	}
		.logo{
			position: absolute;
			pointer-events: none;
		}
		.light{
			width: 100%;
			height: 100%;
		    top: 0;
		    opacity: 0.7;
		    left: -106%;
		    transition: left 0.8s;
		    position: absolute;
		    pointer-events: none;
		    img {
		    	height: 100%;
		    	width: 100%;
		    }
		}
	}
}
.page {
	
	.limiter{
		margin:0 auto;
		position: relative;
		z-index: 2;
		> div{
			display: none;
			position: relative;
		}
		.consider{
			text-align: center;
			.content{
				font-weight: 700;
				
				.logo{
			    	width: 30%;
					margin: 40px auto 0;
					left: 0;
					top: 0;
				}
				p{
					
					margin: 0;
		    	}
		    	h3{
		    		margin:0.5vh 0 0;
		    		font-size: 1.5em;
	    		    line-height: 1.2em;
		    	}
	    		.guild{
					font-size: 0.8em;
				}
		    	.subline{
		    		font-size: 1.1em;
		    		font-weight: 700;
		    		white-space: nowrap;
	    		    line-height: 1.1em;
		    	}
		    	.name, .song{
		    		font-size:1.5em;
		    		line-height: 1.3em;
		    		font-weight: 500;
		    	}

		    	& .left {
		    		h3{
		    			&:first-child{
		    				margin-top: 0.5vh;
		    			}
		    		}
		    	}
		    	.first{
		    		margin-bottom: 0.8vh;
		    		.h3{
			    		font-size: 1.4em;
			    	}
			    	.subline{
			    		font-size: 1.1em;
			    	}
			    	
			    	
				    
		    		p,.subline {
		    			line-height: 1.2em;
		    		}
		    	}
		    	.and{
		    		font-size: 0.8em;
		    	}
			}
		}
		.songs{
			.content{
				left: 5vw;
				h2{
				    font-size: 2.8vh;
				    font-weight: 500;
				    margin-top: 4.5vh;
				    margin-bottom: 3vw;
				}
				.song{
					text-align: left;
					color: #f9e491;
					position: relative;
					padding-left: 7vh;
					font-weight: bold;
					margin-bottom: 4vh;

					.play-btn{
						width: 5.3vh;
						height: 5.4vh;
						margin: 0 auto;
						position: absolute;
						left: 0;
					}
					.song-title{
						font-size: 3.2vh;
						margin:19px auto 5px;
					}
					.written-by{
						font-size: 1.3vh;
    					padding-left: 2vh;
    					line-height: 1.2em;
						> div{
							color: #fff;
						}
					}
					.subline{
			    		font-size: 0.8em;
			    		margin:2px 0;
			    	}
			    	.name{
			    		font-size:1.1em;
			    	}
			    	.artist{
			    		display: inline-block;
			    		margin-top: 2vh;
					    width: 18vh;
					    margin-left: 2vh;
			    	}
			    }
			}	
		}
		.score{
			h2{
				
				font-weight: 500;
				
			}
			
			.content{
				
				height: 100%;
				
			}
			.score-name{
				font-weight: 500;
				
			}
			.score-bio{
				line-height: 1.4em;
				font-weight: 500;
				
			
				.read-more{
					position: relative;
					top: -10px;
					right: 15px;
					color: @yellow;
					font-weight: bold;
					cursor: pointer;
					text-align: right;
				}
			}
			.download-btn{
				width: 70%;
			    position: relative;
			    margin: 2vh 0 2vh 5%;
			}
			.track-list{
				
				overflow:hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;

				.track{
					padding-bottom: 6px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
					margin-bottom: 10px;
					color: @yellow;
					width: 80%;
					position: relative;
					&.playing{
						top: 3px;
				    	position: relative;
						.play-btn{
							background-position: 0 100%;
						}    width: 100px;
				    
					}
					.play-btn{
						float: left;
						
						margin-top: 5px;
						width: 30px;
						height: 30px;
						background: url(../img/ui/play-pause-btn.png) no-repeat;
						cursor: pointer;
						background-size: 100%;
						
					}
					.track-info{
						
					    
					    line-height: 1.2em;
					   	width: 89%;
					    font-size:14px;
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    left: 13%;
						.credits{
							font-size: 10px;
						}
					}
					&.active{
						color: #fff;
					}
					&:after{
						clear:both;
						display: table;
						content:"";
					}
				}
			}
		}
		.synopsis{
			.content{
		    	line-height: 1.6em;
		    }
		}
		.screenings{
			text-shadow:1px 1px rgba(0, 0, 0, 0.5);
			.content{
			    .cities-list{
			    	color: #ffe59b;
			    	text-align: center;
			    	font-size: 1.7vh;
			    	.city{
			    		cursor: pointer;
			    		text-transform: uppercase;
			    		&.selected{
		    			    background: #ffe59b;
						    color: #184e77;
						    text-shadow: none;
						    padding: 3px 5px;
						    top: -3px;
						    position: relative;
			    		}
			    	}
			    }
			    .city-holder{
			    	position: relative;
			    	width: 100%;
			    	display: none;
		    	    text-align: center;
					margin-top: 4vh;
				    font-size: 1.7vh;
    				overflow-y: auto;
    				overflow-x: visible;
			    	&.Los_Angeles-holder{
			    		display: block;
			    	}
			    	h3{
			    		font-weight: 400;
			    		span{
			    			text-decoration: underline;
			    			cursor: pointer;
			    		}
			    	}
			    }
			    .screening{
		    		margin: 0px auto 20px;
		    		text-align: center;
		    		border-bottom: 1px solid rgba(250,250,250,0.3);
		    		h4{
		    			margin:5px 0;
		    			font-weight: 400;
    					font-size: 0.8em;
		    		}
		    		&:last-of-type{
		    			margin-bottom: 0;
		    			border-bottom: 0;
		    		}
		    		.date{
		    			font-weight: 700;
		    			font-size: 1.2em;
		    		}
		    		.theater{
		    			font-size: 1em;
		    			margin-top: 8px;
		    			line-height: 1.3em;
		    		}
		    		.address{
		    			font-size: 0.8em;
		    			a{
		    				display: inline-block;
	    				    width: 41px;
						    height: 15px;
						    position: relative;
						    background: url(../img/ui/map-icon.png) no-repeat;
						    background-size: 100%;
						    left: 8px;
						    top: 2px;
		    			}
		    		}
		    		.btn{
		    			color: #ffe59b;
		    			font-size: 1.1em;
		    			margin-top: 12px;
		    			margin-bottom: 1em;
		    			cursor: pointer;
		    		}
		    	}
		    	.disclaimer{
				    text-align: center;
				    font-size: 10px;
				    font-weight: 400;
				    margin: 1em auto 0;
				    line-height: 1.3em;
				    padding-bottom: 20px;
	    		}
			}
		}
		.press{
			
			.content{
				text-transform: uppercase;
				
				-webkit-overflow-scrolling:touch;
				.scroller{
					display: none;
				}
				.snippet{
					text-align: center;
					margin-bottom: 4.8vh;
					&:last-of-type{
						margin-bottom: 0;
					}
					.press-logo{
						img{
							width: auto;
							margin: 1vh auto;
							//height:7vh;
							max-height: 37px;
						}
					}
					.title{
						line-height: 1.3em;
						font-size: 1.5vh;
					}
					a{
						text-decoration: none;
						color: @yellow;
						margin-top: 10px;
						font-size: 14px;
						display: block;
					}
				}
			}
		}
		.photos{			
		}
		.videos{
			.content{
			    height: 67vh;
			    margin: auto;
			    width: 119.3vh;
				position: relative;
			    top: 50%;
    			transform: translateY(-50%);
				.video-list{
					display: flex;
				    justify-content: space-around;
			        position: absolute;
				    bottom: 104%;
				    width: 100%;
					.video-title{
						font-size:1.4vw;
						cursor: pointer;
						&.selected{
							color: @yellow;
						}
					}
				}
				.video-container{
					height: 100%;
					.video-play-btn{
					 
					}
					video{
					    height: 100%;
					    width: auto;
					    margin: 0 auto;
					}
				}
			}
		}
		.filmmakers{
			.content{
			    right: 2vw;
			    top:6vh;
			    width: 52vw;
			    max-width: 625px;
				.name-list{
					margin-bottom: 1.5vh;
					.name{
						font-size: 1.5vh;
						color: @yellow;
						cursor: pointer;

						&.current{
							color: #fff;
						}
					}
				}
				.bio{
					display: none;
					font-weight: 500;
					.name{
						font-weight: bold;
						font-size: 3.4vh;
						.guild{
							font-size: 0.5em;
						}
					}
					.studio{
						font-weight: bold;
						font-size: 20px;
					}
					.text{
						margin-top: 1vh;
						
						position: relative;
						padding-right: 5vh;
						padding-bottom: 1vh;
						p{
							font-size: 1.6vh;
							line-height: 1.4em;
							margin-bottom: 1.5em;
						}
						.scroller{
							
						}
					}
					&#dave-bio{
						display: block;
					}
				}
			}
		}
		.screenplay{
			.content{
				text-align: center;
				.download-button{
					cursor: pointer;
					background-size: 100%;
					background-repeat: no-repeat;
					position: absolute;
				    width: 310px;
				    height: 290px;
				}
				.text{
					font-size: 15px;
					font-weight: 700;
					h2{
						color: #fff;
						border-bottom: 1px solid rgba(254, 231, 151, 0.3);
						padding-bottom:5px;
						font-size: 20px;
					}
					.written{
						color: rgba(254, 231, 151, 1);
						margin-top: 10px;
					}
					.names{
						color: #fff;
						display: flex;
						justify-content:space-between;
						flex-wrap:wrap;
						>div{
							flex:1 50%;
						}
					}
				}
			}
		}
		.accolades{
		    background: #fff;
		    width: 110%;
		    margin-left: -5%;
			.banner{
				position: relative;
			}
			.content{
				padding:5vh 0;
				width: 72%;
				margin:0 auto;
				text-align: center;
				br{
					display: none;
				}
				.award{
				    margin-bottom: 37px;
				    width: 80%;
				    margin: 0 auto 37px;
				    position: relative;
				    &.withNumber{
				    	width: 100%;
				    }
				    img{
				    	position: relative;
				    	z-index: 2;
				    }
				     .offset-left{
				   	    position: absolute;
					    width: auto;
					    height: 120%;
					    z-index: 1;
					    right: 100%;
					    top: -10%;
				    }
				}
			}

		}
		footer{
			display: none;
			//display: block !important;
		}
		.video-container{
			position: relative;
		    box-shadow: 4px 7px 15px 2px rgba(0,0,0,0.4);
			.poster{
				position: absolute;
				top: 0;
				background-attachment: no-repeat;
				background-size: 100%;
				height: 100%;
				width: 100%;
				cursor: pointer;
				&.playing{
					pointer-events: none;
				}
			}
		}
		.quote{
			color: #fceebd;
			p{
				font-size: 1em;
			    line-height: 1.3em;
				font-weight: 400;
				margin-bottom: 0.1em;
		
			}
			> div:first-child{
				display: block;
			}
			.author{
				font-weight: bold;
				position: relative;
				display: inline-block;	
				margin-top: 10px;
				font-size: 0.7em;
				.auth-logo{
			        margin: 0;
				    position: relative;
				    display: inline-block;
				}
			}
		}
	}
	&#sw-page{
		.consider {
		    .logo{
		   		width:26vh;
		   		margin-bottom: 20px;
		    }
		    .content{
		    	
		    	top: 5vh;
				margin: 0 auto;
				left: 0;
		    	h3,p, .subline{
		    		color: #ffe14b;
		    	}
		    }
		}
		.synopsis{
			
			.content{
				width: 90%;
				margin: 0 auto;
				font-size: 13px;
			}
			br{
				display: none;

			}
		}
		.score{
			.quote{
				color:#fdeebe;
				width: 90%;
				margin: 0 auto;
				font-size: 14px;
				p{

					br{
						display: none;
					}
				}
				.auth-logo{
					width: 120px;
					display: inline;
				}
			}
			.track-list{
				padding-bottom: 20px;
			}
		}
		.production{
			.content{
				text-align: center;
				h2{
					font-weight: 500;
					&:first-of-type{
						margin-bottom: 0.3vh;
					}
				}
				.download{
					text-decoration: none;
					color: #FFDB8C;
					display: block;
					font-size: 11px;
					img{
						display: inline;
						width: 18px;
					    position: relative;
					    top: 3px;
					    margin-right: 3px;
					}
				}
				.quote{
					margin-top: 18vh;
					font-size: 14px;
					color: #fdeebe;
					p{
						font-size: 1em;
						margin: 0;
					}
					.author{
						font-size: 0.8em;
						margin: 0;
					}
					.auth-logo{
					    width: 80px;
    					top: 5px;
    					display: inline;
    					position: relative;
					}
				}
				.qa{
					margin-top: 12vh;
					h2{
						margin: 0;
					}
					h3{
						margin: 0;
						font-size: 1em;
						color: #fad47d;
					}
					.video-container{
						margin-top: 2vh;
					}
				}
			}
		}
		.accolades{
			.content{
				margin-top: 0%;
				.award{
					width: 90%;
					
					img{
						display: inline-block;
						&.small{
							width: 83.34%;
						}
					}
					img:nth-of-type(2){
						margin-top: 5vh;
					}
					&.medium{
						width: 90%;
					}
					&.middle{
						margin:5vh 4% 37px;
					}
					
				}
			}
		}
	}
	&#thor-page{
		.limiter{
		}
		.consider {
		    .content{
				margin: 0 auto;
		    	h3,p, .subline{
		    		color: #ffe14b;
		    	}
		    }
		}
		.screenings{
		    .content{
			    top: 41vh;
			    .scroll-ctrl{
			    	background-color:#ffe14b;
			    }
			    .cities-list{
			    	color: #ffe14b;
			    }
			    .city-holder{
			    	max-height: 31vh;
			    }
			    .screening{
			    	.btn{
			    		color: #ffe14b;
			    	}
			    }
		    }
		}
		.synopsis{
		    .content{
	    	    top: 21%;
			    left: 4vmin;
			    width: 45%;
			    max-width: 583px;
		    }
		}
		.score{
			.artist-pic{
				width: 100%;
			}
			h3{
				color: #e9e460;
			    margin: -20px auto 0;
			    text-align: center;
			    font-size: 24px;
			}
			h5{
				margin: 0;
				text-align: center;
			}
			.download-btn{
				margin: 2vh auto;
			}
			.content{
				.track-list{
					.track{
						.credits{
							display: none;
						}
					}
				}
				.featurette{
					text-align: center;
					h4{
						margin-bottom: 5px;
					}
					h6{
						color: #e9e460;
						margin-top: 0;
					}
					.video-container{
						position: relative;
						.poster{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: url(../img/thor/thor-score-video-poster.jpg) no-repeat;
							background-size: 100%;
							&.playing{
								pointer-events: none;
							}
						}

					}
					.quote{
						text-transform: uppercase;
						font-weight: 700;
						padding-bottom: 20px;
						p{
							color: #e9e460;
							line-height: 1.5em;

						}
						span{
							font-size: 12px;

						}
					}
				}
			}
		}
	}
	&#gotg-page{
		.limiter{
			max-width: 100%;
		}
		
		.consider {
		    
		    .content{
		    	text-shadow: 0px 1px 1px rgba(0,0,0,1);
				margin: 0 auto;
		    	h3,p, .subline{
		    		color: #ffdb92;
		    	}
		    }
		}
		.screenings{
			
		    .content{
		    	
				.name{
				    text-shadow: 0px 0px 1px rgba(0,0,0,1);
				}
		    }
		}
		
		.press{
			.content{
				
			}
		}
		.videos{
			.content{
				height: 100%;
				top:0;
				width: 100%;
				transform:none;
				.video-list{
					top:3vh;
					
					
					bottom: initial;
					.video-title{
						color:#fff;
						display: inline-block;
						
						transition:transform 0.3s;
						text-align: center;
						font-size: 1.5vw;
					    text-shadow: 2px 2px 6px rgba(0,0,0,1);
						span{
							font-size: 0.6em;
						    color: #ffeb9c;
						}
						&.selected{
							color:#fad47d;
							position: relative;
						}
						&:hover{
							transform:scale(1.1);
						}
					}
				}
				.video-container{
					display: none;
					background: #000;
					position: relative;
					z-index: 3;
					.close-btn{
						position: absolute;
						top: 3vh;
						right: 3vh;
					    text-align: center;
					    cursor: pointer;
					    height: 53px;
					    font-size: 52px;
					    font-weight: 400;
					    transform: rotate(45deg);
					    opacity: 0.4;
					    &:hover{
					    	opacity: 1;
					    }
					}
				}
			}
			
		}
	
	}
	&#coco-page{
		.limiter{
			max-width: 90vw;
		}

		.consider {
			
			.logo{
				width:18vh;
				margin-bottom: 2vh;
				
			}
			.content{
			    
			    top: 5vh;
			    width: 61vh;
			    right: 3vh;
				
			    .name{
				    text-shadow: 0px 0px 1px rgba(0,0,0,1);
				}
		    	h3,p, .subline{
		    		color: #f99e1b;
		    	}
		    	.right{
		    		h3:not(:first-child){
		    			margin-top: 0.6vh;
		    		}
		    	}
			}
		}
		.screenings{
			text-shadow:1px 1px rgba(0, 0, 0, 0.5);
			position: relative;
			left: 0;
			width: 99%;
			.content{
				
			    right: 4vw;
			    top: 10vh;
			    .city-holder{
			    	//background: rgba(0, 0, 0, 0.3);
			    	padding:20px 0;
			    }
			}
		}
		.synopsis{
			width: 100%;
			position: fixed;
			left: 0;
			.content{
				width: 27vw;
			    right: 3vw;
			   	top: 15vh;
		        line-height: 1.5em;
    			text-align: left;
			}
		}
		.videos{
			.content{
				.video-list{
					color: #6d6d70;
					.video-title{
						&.selected{
							color:#f6841f;
						}	
					}
				}
			}
		}
		.song{
			.content{
				top: 3vh;
				left: 0px;
				position: relative;
				.song{
					padding-bottom: 60px;
					padding-left: 0;
					h3{
						color: #fff;
					    font-size: 2.5vh;
    					font-weight: 500;
    					margin-bottom: 5vh;
					}
					.quote{
						color: #fceebd;
						p{
							font-size: 2vh;
							line-height: 1.6em;
						}
						.author{
							font-size: 0.9em;
						}
					}
					.artist{
						margin-left: 0;
					    width: 38vh;
    					margin-top: 5vh;
    					margin-bottom: 3vh;
    				}
    				.song-title{
    					margin-bottom: 1vh;
    					span{
    						font-size: 22px;
    						position: relative;
    						color: #fceebd;
    						left: -2vh;
    					}
    				}
    				.credits{
    					color: #fff;
    					font-size: 13px;
    					> div {

    						color: #fceebd;
    					}
    					.and{
    						font-size: 0.8em;
    					}
    				}
    				.play-btn{
				        width: 40px;
					    height: 40px;
					    margin-top: 10px;
					  
    				}
				}
			}
		}
		.score{
			.content{
				left: 0;
				width: 100%;
				h2{
					font-size: 20px;
					margin-bottom: 0;
				}
				.score-name{
					margin-top: 0;
					font-size: 16px;
				}
				.artist-pic{
					width: 90%;
    				margin: 2vh auto;
				}
				.track-list{
					width: 90%;
					.scroller{
						left: 80%;
					}
				}
				.quote{
					
					
					text-align: center;
					width: 90%;
					margin: 0 auto;
					padding-bottom: 20px;
					p{
						text-transform: uppercase;
						font-size: 1.8vh;
					}
					.author{
						font-size: 12px;
						img{
							display: inline;
						    width: 100px;
						    top: 3px;
						    position: relative;
						}
					}
				}
			}
		}
		.screenplay{
			.quote{
			    width: 58vh;
			    left: 3vw;
			    position: absolute;
			    top: 2vh;
				p{
					white-space: initial;
					text-transform: uppercase;
				}
				.author{
					font-size: 1.3vh;
					img{
						display: inline;
						width: 80px;
					}
				}
			}
			.content{
			    
				.download-button{
				    position: relative;
					
				    a{
				    	display: block;
				    }
				}
				.text{
				    font-size: 17px;
				    line-height: 1.2em;
					h2{
						font-size: 1.3em;
						margin: 0;
						display: inline-block;
						border-bottom-color: #ffe894;

					}
					.written{
						font-size: 0.8em;
						margin-top: 1vh;
						color: #ffe894;
					}
					.names{
						display: block;
						.and{
							font-size: 0.8em;
						}
						br{
							display: none;
						}
					}
				}
			}
		}
	}
	&#cars-page{
		
		.consider {
			color: #981911;

			
		    .content{
		    	
		   		.first{
		   			margin-top: 1vh;
		   		}
			   .left{
			   
			   		h3:not(:first-child){
			   			margin-top: 1.5vh;
			   		}
			   		
			   }
			   .right{
			   	
			   		h3:not(:first-child){
			   			margin-top: 8px;
			   		}
			   }
			   .name,.song{
			   		color: #3e4541;
			   }
			   .down5{
					margin-top:5px;
				}
			}
		}
		.screenings{
		
	    	.content{
	    		left: 5vw;
	    		top:20%;
	    	}
		}
		.synopsis{
	    	.content{
    		    
			    top: 3vh;
			    line-height: 1.5em;
			    
			    position: relative;
			    margin: 0 auto;
	    	}
		}

		.press{
			.content{
				
				
				.snippet{
					margin-bottom:6.8vh;
				}
				.title{
					font-size:1.9vh;
					
				}
			}
		}
		.photos{

			.photo{
				img{
					
				}
			}
		}

		@media @portrait {
			
			.consider{
				
				.content {

				    .first{
				    	.h3{
				    		font-size: 1.4em;
				    	}
				    	.subline{
				    		font-size: 1.1em;
				    	}
				    	p{
				    		font-size: 1em;
				    	}
				    	.name{
				    		font-size: 1.5em;
				    	}
				    }
				}
			}
		}
	}
	&#batb-page{
		.limiter{
			max-width: initial;
		}
		.quote,.bottom-quote{
			color: #fceebd;
			p{
				font-size: 14px;
			    line-height: 1.3em;
				font-weight: 400;
				margin-bottom: 0.1em;
				
			}
			> div:first-child{
				display: block;
			}
			.author{
				font-weight: bold;
				position: relative;
				display: inline-block;	
				margin-top: 10px;
				font-size: 0.7em;
				.auth-logo{
			        margin: 0;
				    position: relative;
				    display: inline-block;
				}
			}
		}
		.consider {
			.quote{
				position: fixed;
			    left: 2vw;
			    width: 21%;
			    top: 4vh;
			}
			.logo{
		       	height: 12vh;
    			margin-top: 1vh;
    			margin-bottom: 2vh;

    			img{
    				height: 100%;
    				width: auto;
    				margin: 0 auto;
    			}
			}
			.content{
			    right: 5vw;
			    width: 64vh;
			    top: 1vh;
			    transform:scale(0.99);
			    .left{			   		
			   		h3{
			   			margin-top:0.57vh;
			   			&:first-child{
			   				margin-top: 0.5vh;
			   			}
			   		}
			    }
			    .right {
			   		h3{
			   			margin-top: 0.85vh;
			   			&:first-child{
			   				margin-top: 0.5vh;
			   			}
			   		}
			    }
				h3,p,.subline{
			   		color: #fad47d;
				}
				.down5{
					margin-top: 0.56vh;
				}
			}
		}
		.screenings{
		    background: #1e1714;
		    width: 100%;
			.special-bg{
				background-image:url(../img/batb/batb-synopsis-bg2.jpg);
				z-index: 3;
				background-position-y: top;
				background-position-x:13%;
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				position: relative;
				.quote {
					display: none;
				}
			}
			
			.content{
			    right: 0%;
			    width: 31vw;
			    top: 0;
			    text-align: center;
			    height: 100%;
			    background: #1e1714;
			    overflow-y: auto;
			    position: relative;
				height: 57%;
			    .scrollable{
			    	
			    	padding-bottom: 20px;
			    }
			    img{
			    	max-width: 100%;
			    }

			    .quote{
			    	width: 95%;
			    	margin: 20px auto 0px;
			    	img{
			    		width: auto;
			    	}
			    }
			    h3{
			    	font-weight: 300;
			    	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			    	padding-bottom: 7px;
			    	display: inline-block;
		    	    position: relative;
		    	    font-size: 29px;
					left: 0;
					margin: 2vh auto;
		    	    
			    }
			    .synopsis{
			    	line-height: 1.4em;
    				font-size: 1.8vh;
    				width: 95%;
    				text-align: left;
    				margin: 2vh auto 0;
					p{
						max-height:170px;
						margin:0;
    					overflow: hidden;
    				}
    				
			    }
			    .read-more{
					color: @yellow;
					font-weight:bold;
					text-align: center;
					cursor: pointer;
				}
			    .screenings-holder{
			    	position: relative;
			    	
			    	.screening{
			    		width: 88%;
			    		font-size: 1.9vh;
			    		.date{
			    			text-transform: uppercase;
			    			font-size: 0.8em;
			    			font-size: 12px;
							white-space: wrap;
			    		}
			    		.theater{
			    			font-size: 0.8em;
			    		}
			    	}
			    }
			    .disclaimer{
			    	position: relative;
			    	top: 0;
				    width: 90%;
				    left: 0;
				    margin: 0 auto;
				    padding-bottom: 10px;
					font-size: 10px;
				}
			    .netflix{
			    	font-weight: 700;
			    	text-align: center;
					margin: 10px auto;
			    }
			}
		}
		.cast{

			.quote{
				top: 3vh;
				left: 3vw;
				img{
					max-width: 100%;
				}
			}
			.article{
				text-align: center;
				.title{
					
					margin-top: 5px;
					span{
						font-weight: bold;
					}
				}
				.read{
					color: #fad47d;
					margin-top: 5px;
					font-size: 12px;
				}
			}
		}
		.filmmakers{
			.content{
				
				top:0;
			    
			    min-width: 320px;
			    max-width: 612px;
				.quote{
					
					> div {
						display: none;
						
						p{
							text-transform: uppercase;
						   
						}
						&:first-child{
							display: block;
							p{
								font-size: 0.8em;
							}
						}
						.author{
						
							.auth-logo{
							    width: 165px;
							    top: 5px;
							}
						}
					}
				}
				.name-list{

					.name{
						span{
							color: #fff;
						}
					}
					.name.current{
						display: none;
					}
				}
				.bio{
					
					.text{
						
						p:first-child{
							margin-top: 0;
						}
					}

					&#condon-bio{
						display: block;
					}
				}
			}
			.featurette{
			    cursor: pointer;
			}
		}
		.music{
			.quote{
				
				p{

				}
				.auth-logo{
					width: 89px;
					top: 1px;
				}
			}
			.content{
				
				.play-btn{
					width: 5vh;
					height: 5vh;
					margin: 0 auto;
				}
				.song{
					text-align: center;
					font-weight: 700;
					display: inline-block;
					.song-title{
						color: #fad47d;
						font-size: 12px;
						margin-top: 2vh;
						line-height: 1.2em;
						border-top: 1px solid rgba(255, 255, 255, 0.3);
						border-bottom: 1px solid rgba(255, 255, 255, 0.3);
						height: 33px;
						span{
							display: block;
							position: relative;
							top: 50%;
							transform:translateY(-50%);
						}
					}
					.credits{
						color: #fff;
						font-size: 10px;
						
						> div{
							color: #fad47d;
							font-size: 0.6em;
							line-height: 1.2em;
							margin-top:1vh;
						}
					}
					.artist{
						margin-top: 4vh;
						width: 100%;
					}
				}
			}
		}
		.press{
			overflow-x: hidden;
			.quote{
				
				img{
					width: 150px;
					top:6px;
				}
			}
			.content{
				
				
				.article{
					width: 100%;
					margin-bottom: 4%;
					display: block;
					
				}
			}
		}
		.makingof{
			.content{
				width: 100%;
				position: relative;
				height: 100%;
				.quote{
					position: absolute;
					width: 60vh;
					left: 3vw;
					top: 3vh;
					> div{
						position: absolute;
						opacity: 0;
						&:first-child{
							opacity: 1;
						}
						p{
							text-transform: uppercase;
						}
						
					}
					
				}
				.articles{
					position: absolute;
					top: 30vh;
					left: 3vw;
					display: flex;
				}
				.articles2{
					bottom: 8vh;
					right: 3vw;
					position: absolute;
					display: flex;
				}
				.article{
					cursor: pointer;
					width:16vw;
					margin-right: 2vh;
					@media @portrait{
						width: 29vw;
					}
				}
			}	
		}
		.auth-logo{
			&.forbes{
			    width: 61px;
				top: 3px;
			}
			&.thr{
			    width: 95px;
				top: 9px;
			}
			&.newsweek{
				width: 86px;
				top: 3px;
			}
		}
		.screenplay{
			.quote{
				width: 100%;
				position: relative;
				p{
					text-transform: uppercase;
				}
			}
			.content{
				bottom: 1vh;
				transform:translateX(-50%);
				left: 50%;
				width: 63vh;
				text-align: left;
			    display: flex;
    			align-items: center;
				.download-button{
					
					position: relative;
					margin: 0 auto;
					left: 0;
					width:56%;
					height: auto;
					right: 0;
				    margin-right: -5vh;
				    display: inline-block;
				    img{
				    	width: 33vh;
					    max-width: 300px;
					    min-width: 100px;
					    height: auto;
					    position: relative;
					    top: -1.6vh;
				    }
				}
				.text{
					font-size: 1.7vh;
					line-height: 1.2em;
					display: inline-block;
					width: 51vh;
					h2{
						font-size: 1.3em;
						margin-bottom: 0;
						display: inline-block;
						border-bottom-color: #ffe894;
					}
					.written{
						font-size: 0.8em;
						margin-top: 1vh;
						color: #ffe894;
					}
					.names{
						display: block;
						.and{
							font-size: 0.8em;
						}
					}
				}
			}
		}
	}
	&#lou-page{
		
		
		.consider {
			
			left: 0;
			.nom{
				width: 50%;
				margin: 20px auto;
			}
		    .logo{
		    	
		    	margin-bottom: 1.5vh;
		    }
		    .content{
	    	   
				font-size: 16px;
				
				text-shadow: 0px 1px 1px rgba(0,0,0,1);
				.first{
					color: #ffdb92;
					margin-bottom: 1.3vh;
					.single{
					    font-size: 20px;
					    border: 1px solid rgba(255, 219, 146, 0.5);
					    border-left: 0;
					    border-right: 0;
					    display: inline-block;
					    padding: 11px 0 9px;
					}
					.subline{
						line-height: 14px;
					}
					p{
						font-size: 1.1em;
					    margin: 0 auto 10px;
					    color: #fff;
					    font-weight: 400;
					}
				}
				> div:nth-of-type(3){
					
					h3:nth-of-type(2){
						border-top:1px solid rgba(255, 219, 146, 0.5);;
						margin-top: 1vh;
						padding-top: 12px;

					}
				}
				.name{
				    font-size: 0.8em;
    				line-height: 1.5em;
    				color: #fff;

				}
				h3{
				    font-size: 1.0em;
    				line-height: 0.9em;
    				
    				display: inline-block;
				}
		    	h3,p, .subline{
		    		color: #f8d698;
		    	}
		    }
		}
		.synopsis{
			.content{
				
			    font-size: 15px;
			    font-weight: bold;
			}
		}
		
		.press{
			.scroll-down{
				left: 53%;
			}
			.content{
				
				.snippet{
					margin-bottom: 6.2vh;
				}
				.title{
					text-shadow:1px 1px 2px #000;
					margin-top: 8px;
					font-size: 12px;
				}
			}
		}
	}
}
@media @mobile-portrait{
	*::-webkit-media-controls-panel {
	  opacity: 0;
	}
	*::-webkit-media-controls-play-button {
	  opacity: 0;
	}
	*::-webkit-media-controls-start-playback-button {
	  opacity: 0;
	}
	body{
		position: fixed;
	}
	header{
		position: fixed;
		top: 0;
		#menu-btn{
			position: absolute;
		    width: 41px;
		    height: 41px;
		    left: 15px;
		    top: 15px;
			    transition: transform 0.55s cubic-bezier(0.4, 0.8, 0.6, 1);
			.line{
				position: absolute;
				background: #fff;
			    height: 4px;
			    border-radius: 4px;
			    transform-origin:50% 50%;
			    width: 100%;
				&.top-line{
					top: 8px;
					transition: transform 0.45s cubic-bezier(0.4, 0.8, 0.6, 1), top 0.4s cubic-bezier(0.4, 0.8, 0.6, 1);
				}
				&.middle-line{
					top: 19px;
					transition: opacity 0.2s cubic-bezier(0.4, 0.8, 0.6, 1);
				}
				&.bottom-line{
					top: 30px;
					transition: transform 0.45s cubic-bezier(0.4, 0.8, 0.6, 1), top 0.4s cubic-bezier(0.4, 0.8, 0.6, 1);
				}
			}
			&.active{
				transform: rotate(-180deg);
				.line{
					&.top-line{
						top: 19px;
						transform: rotate(-45deg);
					}
					&.middle-line{
						opacity: 0;
					}
					&.bottom-line{
						top: 19px;
						transform: rotate(45deg);
					}
				}
			}
		}
		.fyc-banner {
			display: flex;
			flex-direction:column;
			width: 100%;
			height: 91px;
			overflow: hidden;
			a{
				width: 100px;
				margin: 5px auto 2px;
		    	float: none;
		    	order:1;
			}
			.nowrap{
			    font-size: 13px;
			    background: #fff;
			    font-weight: 500;
			    box-sizing: border-box;
			    text-align: center;
			    letter-spacing: 2.7px;
			    padding: 5px 0 4px;
			    color: @darkBlue;
			    order:3;
			    margin-top: 2px;
			}
			.title{
		    	width: 100%;
			    font-size: 20px;
			    text-align: center;
			    float: none;
			    margin: 0;
			    order:2;
			}
		}
		nav{
		    text-align: left;
		    left: -100%;
		    position: fixed;
		    height: 100%;
		    top: 91px;
		    width: 88%;
		    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
			transition: left 0.45s cubic-bezier(0.4, 0.8, 0.6, 1);
			ul{
				display: block;
			    width: 100%;
			    background: #fff;
			    z-index: 2;
			    padding-top: 6px;
			    li{
			    	padding: 14px 0 0 14px;
					letter-spacing: 0.1em;
					font-size: 14px;
			    	
			    	.submenu-holder{
			    		display: none;
			    		position: relative;
			    		margin-top: 9px;
			    		.submenu{
							font-size: 13px;
							text-align: left;
							line-height: 2.2em;
						    color: #055f86;
							width: 100%;
							padding: 0 0 0 8px;
						    > div.selected{
						    	text-decoration: none;
						    }
			    		}
			    	}
			    	
			    }
			    li .submenu > div:hover {
			    	right: 0;
			    }
			    li.selected{
			    	.submenu-holder{
			    		
			    		.submenu{
			    			color:#e69441;
			    		}
			    	}
			    }
			}
		}
	}
	#wrapper{
		border: none;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		.fyc-banner,.title{
			display: none;
		}
		
	}
	#boxes{
		width: 100%;
		margin: 0;
		padding-top: 90px;
		position: relative;
	    transform: none;
		left: 0;
		top: 0;
		.box{
			width: 92%;
			margin: 3.5% auto;
		}
	}
	.arrow{
	    display: none;
	}
	.scroller{
		display: none;
	}
	.page{
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
		top: 0;
		transform-origin:center;
		transition: transform 0.5s;
		height: 100%;
   		overflow: auto;
   		-webkit-overflow-scrolling: touch;
   		box-sizing: border-box;
   		background-size: cover;
		background-position: left center !important;
		background-repeat: no-repeat;
		.bg-holder{
			display: none;
		}
		.limiter{
			width: 100%;
			min-height: 100%;
		    height: auto;
			overflow: auto;
			padding-bottom: 118px;
			> div {
				width: 95%;
				margin: 0 auto;
			    height: auto;
    			min-height: 100%;
			}
			.consider{
				height: auto;
				
				padding: 1px 0 20px;
				margin-top: -1px;
				.content{
					margin-top: 0px;
					font-size: 10px;
					display: block;
					margin-top: -1px;
					padding-top: 1px;
					.first{
						font-size: 10px;
					}
					.left,.right{
						text-align: center;
						width: 100%;
						left: 0;
					}
					.name{
						color: #fff;
					}
				}
				.logo{
					width: 100%;
					margin-top: 0;
				}
			}
			.synopsis{
				.content{
					margin: 0 auto;
					padding-top: 20px;
					left: 0;
					text-align: justify;
					font-size: 12px;
				}
			}
			.screenings{
				.guild-members-co{
			        font-weight: 500;
				    font-size: 1.8vh;
				    color: #fff;
				    text-align: center;
				    display: none;
				    cursor: pointer;
				    position: relative;
				    width: 90%;
				    margin: 10px auto 0;
					div{
						outline:1px solid #fad47d;
						margin-top: 10px;
						color:#fad47d;
						font-size: 0.8em;
						padding:10px 0;
						line-height: 1.3em;
					}
				}
				.pop-up{
			        position: fixed;
				    background: #112f61;
				    border-radius: 3px;
				    box-shadow: 0 0 5px 4px rgba(0,0,0,.2);
				    z-index: 6;
				    width: 89vh;
				    max-width: 90%;
				    top:0;
	    			left: 0;
	    			padding:5%;
	    			min-height: 100%;

				    .pop-up-close {
				    	background:url(../img/thor/close-btn.png) no-repeat;
				    	position: absolute;
				    	top:20px;
				    	right:20px;
			    	    width: 65px;
					    height: 0;
					    padding-top: 6%;
					    background-size: 100%;
					    cursor: pointer;
				    }
	    			.inside{
	    				background:rgba(7, 33, 77, 0.9);
	    				padding:15px 30px;
	    				min-height: 90%;
	    				border-radius: 5px;
		    			h3{
		    				text-align: center;
		    				font-size: 2.2vh;
		    				margin:20px auto;
		    				font-weight: 500;

		    			}
		    			p{
		    				text-align: left;
		    				padding-bottom: 20px;
		    				border-bottom: 1px solid rgba(255,255,255,0.9);
	    				    font-size: 1.9vh;
						    line-height: 1.5em;
						    font-weight: 400;
		    			}
		    			ul{
		    				list-style: none;
		    				padding:0;
		    				
		    				li{
	    					    font-size: 1.8vh;
							    font-weight: 300;
							    margin-bottom: 17px;
							    line-height: 1.3em;
							    position: relative;
							    span{
							    	position: absolute;
								    right: 102%;
								    width: 4px;
								    top: 50%;
								    height: 4px;
								    display: block;
								    border-radius: 10px;
								    background: #ffdb92;
							    }
		    				}
		    			}
		    		}
		    		
		    			
		    			
		    		
	    		}
				.content{
					.cities-list{
					  	display: block;
					    width: 95%;
					    margin: 30px auto 0;
						.city{
							font-size: 1em;
							width: 50%;
						    float: left;
						    margin-bottom: 11px;
						    padding:3px 5px;
						    box-sizing: border-box;
							&.selected{
								font-size: 1em;
								margin-top: 0;
								top:0;

							}
							&:first-of-type, &:nth-of-type(3){
								text-align: left;
							}
							&:nth-of-type(2), &:nth-of-type(4){
								text-align: right;
							}
						}
					}
					.cities-list:after{
						content: "";
						display: table;
						clear: both;
					}
					.city-holder{
						height: auto;
						
					}
					.screening{
						width: 100%;
					}
				
				}
			}
			.press{
				.content{
					width:95%;
					margin: 20px auto;
					height: auto;
				}
			}
			.score{
				.content{
					left: 0;
					margin: 0 auto;
					h2{
						width: 90%;
						margin: 1em auto;
						font-size: 24px;
					}
					.score-name{
						font-size: 18px;
						width: 90%;
						margin: 0 auto;
					}
					.score-bio{
						font-size: 15px;
						width: 90%;
						margin: 0 auto;
					}
					.track-list{
						height: auto;
						width: 90%;
						margin:0 auto;
						.track{
							width: 100%;
							.track-info{
								font-size: 12px;
								width: 85%;
							}
						}
					}
				}

			}
			.songs{
				width: 90%;
				margin: 0 auto;
			}
			.photos {
				position: relative;
				.photo {
				    width: 100%;
				    height: auto;
				    position: relative;
				    left: 0;
				    img{
				    	width: 100%;
				    	transform:none;
				    	top: 0;
				    }
				}
			}
			.videos{
				.content{
					margin: 20px auto 0;
					.video-list{
						margin-bottom: 20px;
						position: relative;
						.video-title{
							font-size: 12px;
						}
					}
					.video-container{
						.video-play-btn{
							height: 67.7%;
							top: 46px;
						}
					}
				}
			}
			.filmmakers{
				.content{
					position: relative;
					.name-list{
						margin-top: 12px;
						.name{
							font-size: 14px;
						}
					}
					.bio{
						.text{
							
						}
					}
				}
			}
			footer{
				
				position: absolute;
				
			}
		}
		&#sw-page{
			background-image: url(../img/sw/sw-mobile-bg.jpg);
		}
		&#batb-page{
			background-image: url(../img/batb/batb-mobile-bg.jpg);
			.quote{
				p{
					br{
						display: none;
					}
				}
			}
			.consider {
				.quote{
					display: none;
				}
				.content {
					width: 100%;
					transform: initial;
					right: initial;
					top: 0;

					.left h3:first-child {
						margin-top: 0.7em;
					}
					.left h3,.right h3,.right h3:first-child {
						margin-top: 1em;
					}
				}
				.logo {
					width: 100%;
					height: 160px;
					margin-top: 25px;
					margin-bottom: 25px;
					img {
						padding-right: 15px
					}
				}
			}
			.screenings {
				.special-bg{
					height: 0;
					padding-top: 43%;
				}
				.thumb{
					display: none;
				}
				.content {
					width: 100%;
					background: transparent;
				}
			}
			.cast {
				
				.quote{
					position:  static;
					margin-top: 20px;
					width: 100%;
				}
				.article{
					width: 100%;
					position: static;
					margin-top: 60px;
					.title{
						font-size: 3vw;
					}
				}
				.severed-heads {
					display: none;
				}
			}
			.filmmakers{
				.content {
					left: 0;
					width: 100%;
					position: relative;
					.quote{
						
						width: 95%;
						margin: 30px auto 0;
						> div {
							p{
								span{
									display: none;
								}
							}
						}
						
					}
					.name-list{
						width: 95%;
						margin: 10px auto 20px;
					}
					.bio{
						width: 95%;
						margin: 0 auto;
						.name{
							width: 100%;
						}
						.text{
							padding:0;
							height: auto;
							
							p{
								font-size: 14px;
							}
						}
					}
					.featurette{
						width: 95%;
						margin: 10px auto 30px;
					}

				}
				.bottom-quote{
					display: none;
				}
			}
			.music{
				.quote{
					width: 90%;
					position: relative;
					left: 0;
					top: 0;
					margin: 20px auto 0;
				}
				.content{
					top: 0;
					left: 0;
					margin: 20px auto 20px;
					width: 95%;
					.song{
						width: 48%;
						margin:0;
						&:first-child{
							margin-right: 2%;
						}
					}
				}
			}
			.press{
				width: 100%;
				overflow-x: hidden;
				.quote{
					position: relative;
					width: 90%; 
					margin: 20px auto 0;
					top: 0;
					left: 0;
					height: auto;
					
				}
				.content{
					position: relative;
					top: 0;
					left: 0;
					.article{
						width: 95%;
						max-width: initial;
					}
				}
			}
			.making-of{
				.content{
					.quote{
						position: relative;
						top: 0;
						left: 0;
						width: 100%;
						margin:20px auto 0;
					    height: 220px;
					    > div {
					    	position: absolute;
							opacity: 0;
							&:first-child{
								opacity: 1;
							}
					    }
						p {
							br{
								display: none;
							}
						}
					}
					.articles{
						flex-direction:column;
						position: relative;
						top: 0;
						left: 0;
						width: 100%;
					}
					.articles2{
						flex-direction:column;
						position: relative;
						top: 0;
						left: 0;
						width: 100%;
					}
					.article{
						width: 100%;
						margin: 0 auto 20px;
					}
				}
			}
			.screenplay{
				.content{
					display: block;
					width: 100%;
					transform:none;
					left: 0;
					.download-button{
						display: block;
						margin: 0 auto;
						a{
							display: block;
							img{
								width: 100%;
							}
						}
					}
					.text{
						width: 100%;
						text-align: center;
					}
				}
			}
		}
		&#cars-page{
			background-image: url(../img/cars/cars-mobile-bg.jpg);
			background-size: cover;
		    background-position: left center !important;
		    background-repeat: no-repeat;
			.bg-holder{
			   display: none;
			}
			.consider{
				.content{
					width: 100%;
					margin: 10px auto 0;
					font-size: 10px;
					display: block;
					
					h3,.subline,p {
						color: #faf0af;
					}
					.left,.right{
						text-align: center;
						width: 100%;
						left: 0;
					}
					.name{
						color: #fff;
					}
					.left h3:first-child,
					.right h3:first-child {
						margin-top: 1em;
					}
					.left > div:first-child h3:first-child {
						margin-top: 0.7em;
					}
				}
				.logo {
					width: 100%;
					margin: 25px auto;
					height: 144px;
				}
				.logo img {
					height: 100%;
					width: auto;
					margin: 0 auto;
				}
			}
			.screenings .content {
				width: 100%;
				left: 0;
				top: 0px;
			}
			.synopsis .content {
				width: 90%;
				
			}
			.score .content {
				width: 100%;
			}
			.songs .content {
				left: initial;
				width: 100%;
			}
			.press .content {
			
			}
			.photos {
				overflow: hidden;
			}
		}
		&#coco-page{
			background-image:url(../img/coco/coco-mobile-bg.jpg);
		   
			.bg-holder{
				
			}
			.consider {
				margin: 0 auto;
				.content {
					top: initial;
					width: 100%;
					left: initial;
					right: initial;
				}
			}
			.consider .logo {
				width: 100%;
				height: 100px;
				margin-top: 25px;
				margin-bottom: 25px;
			}
			.consider .logo img {
				height: 100%;
				width: auto;
				margin: 0 auto;
			}
			.consider .content .left h3:first-child {
				margin-top: 0.7em;
			}
			.consider .content .left h3,
			.consider .content .right h3,
			.consider .content .right h3:not(:first-child) {
				margin-top: 1em;
			}
			.screenings {
				.content {
					top: initial;
					width: 100%;
					left: initial;
					right: initial;
					 .disclaimer {
						width: 80%;
						left: initial;
						padding-bottom: 20px;
					}
				}
			}
			.synopsis {
				width: 90%;
				margin: 0 auto;
				position: relative;
				.content {
					width: 100%;
					right: initial;
					top: initial;
				}
			}
			.limiter {
				max-width: initial;
			}
			.videos {
				width: 100%;
				overflow: hidden;
			}
			.videos .content {
				width: 100%;
				height: initial;
				top: initial;
				transform: initial;
				
				.video-list{
					position: relative;
					bottom: 0;
				}
				.video-container{
					height: auto;
					video{
						width: 100%;
						height: auto;
					}
				}
			}
			.screenplay{
				.content{
				
					.download-button{
						position: relative;
						
						margin: 0 auto;
					}
				}
			}

		}
		&#lou-page{
			background-image: url(../img/lou/lou-mobile-bg.jpg);
			.consider {
				width: 100%
			}
			.consider .content {
				
			}
			.consider .logo {
				width: 100%;
				height: 150px;
				margin-top: 20px;
			}
			.consider .logo img {
				height: 100%;
				width: auto;
				margin: 0 auto;
			}
			.consider .content .first {
				p{
					font-size: 15px;
				}
				.single{
					font-size: 17px;
				}
			}
			.consider .content h3 {
				font-size: 14px;
			}
			.consider .content .name{
				font-size: 13px;
			}
			.synopsis .content {
				width: 100%;
			}
			.filmmakers .content {
				width: 100%;
				right: initial;
				top: initial;
				left: initial;
			}
			.press {
				.content{

				}
			}
		}
		&#gotg-page{
			background-image: url(../img/gotg/gotg-mobile-bg.jpg);
			&.loaded .consider {
				width: 100%;
			}
			.consider .content {
				
			}
			.consider .logo {
				width: 100%;
				height: 140px;
				margin-top: 8px;
				margin-bottom: 8px;
			}
			.consider .logo img {
				height: 100%;
				width: auto;
				margin: 0 auto;
			}
			.consider .content .left h3:first-child {
				margin-top: 0.7em;
			}
			.consider .content .left h3,
			.consider .content .right h3 {
				margin-top: 1em;
			}
			.bg-holder{
				
			}
			.screenings .content {
				
			}
			.screenings .content .disclaimer {
				width: 100%;
				
			}
			.synopsis .content {
				
			}
			.press .content {
				
			}
			.videos{
				width: 100%;
				padding-top: 1px;
				margin-top: -1px;
				.content{
					width: 100%;
					height: initial;
					top: initial;
					transform: initial;
					.video-list {
						flex-direction:column;
						.video-title{
							font-size: 22px;
							margin-bottom: 45px;
						}
					}
					.video-container video{
						width: 90%;
						height: auto;
					}
				}
			}
			.screenplay{
				.quote{
					position: relative;
					font-weight: 400;
					width: 90%;
					margin: 0 auto;
					p{
						text-transform: uppercase;
						font-size: 1.7vh;
						line-height: 1.5em;
						letter-spacing: .03em;
						br{
							display: none;
						}
					}
					.author{
						font-size: 1.9vh;
					}
					.auth-logo{
					    width:11vh;
						top: 1px;
						display: inline;
					}
				}
				.content{
					top: 1.5vh;
					left: 3vh;
					width: 100%;
					text-align: left;
					.download-button{
						left: 0;
					    display: block;
					    width: 28vh;
					    height: 0;
					    overflow: visible;
					    padding-top: 28vh;
					    position: relative;
					    margin: -3vh auto 0;
						a{
							display: block;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
						}
					}
					.text{
						font-size: 1.8vh;
						line-height: 1.2em;
						margin-top: -5vh;
						text-align: center;
						h2{
							font-size: 1.7em;
							line-height: 1.1em;
							margin-bottom: 0;
							display: inline-block;
							border-bottom-color: #ffe894;
							br{
								display: none;
							}
						}
						.written{
							font-size: 0.8em;
							margin-top: 1vh;
							color: #ffe894;
						}
						.names{
							display: block;
							font-size: 1.3em;
							text-transform: uppercase;
						}
					}
				}
			}
			.song{
			    padding-bottom: 22px;
				.content{
					right: 3vw;
					top: 3vh;
					left:initial;
					
					.song{
						text-align: center;
						font-weight: 500;
						.song-title{
							font-size: 22px;
						}
						.play-btn{
							position: relative;
							margin:20px auto;
						    width: 60px;
    						height: 60px;
							>div{
							    position: absolute;
							    top: 112%;
							    font-size: 10px;
							    font-weight: 400;
							    width: 62px;
							    left: 50%;
							    white-space: nowrap;
							    transform: translateX(-50%);
							}
						}
						.artist{
							width: 45%;
							display: inline-block;
							
						}
					}
					h3{
						color: #fff;
						
						font-size:24px;
					}

					.credits{
						color: #fff;
						font-size: 0.8em;
						margin-bottom: 20px;
						> div{
							color: #f9e491;
						    font-size: 1em;
						    margin-bottom: 0.3em;
						}
						.and{
							font-size: 0.6em;
						}
					}
				}
			}
		}
		&#thor-page{
			background-image: url(../img/thor/thor-mobile-bg.jpg);
			.consider{
				.content{
					top: initial;
					width: 100%;
					left: initial;
					.first{
						font-size: 10px;
					}
					h3,.subline,p {
						color: #faf0af;
					}
					.left,
					.right{
						text-align: center;
						width: 100%;
						left: 0;
					}
					.name{
						color: #fff;
					}
					.left h3:first-child {
						margin-top: 1em;
					}
					.left h3,
					.right h3 {
						margin-top: 0.7em;
					}
				}
				.logo {
					width: 100%;
					margin-top: 6px;
					margin-bottom: 0;
					height: 120px;
					left: 6px;
				}
				.logo img {
					height: 100%;
					width: auto;
					margin: 0 auto;
					
				}
			}
			.screenings .content {
				top: initial;
				width: 100%;
				left: initial;
				right: initial;
				transform: none;
				.city-holder{
					max-height: initial;
				}
			}
			.screenings .content .disclaimer {
				width: 100%;
				left: initial;
			}
			.synopsis .content{
				top: 0;
				left: initial;
				width: 100%;
			}
			.score{
				.content{
					.track-list{
						.track{
							.track-info{
								padding-top:2vh;
							}
						}
					}
				}
			}
			.screenplay{
				.quote{
				    width: 100%;
				    left: 0;
				    position: relative;
				    top: 2vh;
				    line-height: 1.5em;
					p{
						white-space: initial;
						text-transform: uppercase;
						font-size: 12px;
					}
					.author{
						font-size: 12px;
						img{
							display: inline;
							width: 60px;
						}
					}
				}
				.content{
				   position: relative;
					.download-button{
					    position: relative;
					    left: 0;
					    display: block;
					        margin: 0 auto;
					    a{
					    	display: block;
					    }
					    img{
					    	
					    }
					}
					.text{
					    font-size: 17px;
					    line-height: 1.2em;
					    display: block;
					    width: 340px;
					    text-align: center;
					    position: relative;
					        margin: 0 auto;
						h2{
							font-size: 1.3em;
							margin: 0;
							display: inline-block;
							border-bottom-color: #ffe894;

						}
						.written{
							font-size: 0.8em;
							margin-top: 1vh;
							color: #ffe894;
						}
						.names{
							display: block;
							.and{
								font-size: 0.8em;
							}
						}
					}
				}
			}
		}

	}
	#batb-overlay{
		.overlay-content{
			> div{
				overflow-y: auto;
				-webkit-overflow-scrolling:touch;
			}
			.photo{
				position: relative;
				left: 0;
				height: auto;
				width: 90%;
				margin: 10px auto;
				img{
					width: 100%;
					transform:none;
					top: 0;
				}
			}
			.women-of{
				width: 90%;
				top: 0;
				transform:none;
				position: relative;
				left: 0;
				margin: 20px auto 0;
				
				overflow: auto;
				.scrollable{
					width: 100%;
					h3{
						font-size: 1.3em;
					}
				}
			}
			.dressing-the-part{
				h3{
					text-align: center;
				}
				.video-play-btn{
					height: 73.7%;
					top: 58px;
				}
			}
		}
	}
	footer{
		position: relative;
		bottom: 0;
		left: 0;
		color: @darkBlue !important;
		text-align: center !important;
		width: 100%;
	    display: flex;
		flex-wrap: wrap;
		margin-top: 24px;
		padding:0;
		a{
			background: #fff;
			display: block;
			flex: 1 0 50%;
		    padding: 10px 0;
		    outline: 1px solid;
		    margin-left: 0;
		    border-right: initial;
		}
		a:hover{
		    color: inherit;
		}
		div{
			background: #fff;
		    flex: 1 1 100%;
		    padding: 10px 0 10px;
		    outline: 1px solid;
		}
	}
	#rsvp-form{
		width: 100%;
		top: 93px;
		height: calc(~'100% - 93px');
		box-sizing: border-box;
		padding:15px;
		left: 0;
		transform:none;
		position: fixed;
		.close-btn{
			z-index: 4;
			text-align: right;
			padding:10px 20px;
			width: 50px;
			.x{
				font-size: 37px;
				right: 4px;
				top: 3px;
			}
		}
		h2{
			border: 0;
			text-align: center;
			float: none;
			padding:0;
		}
		.screening-info{
			float: none;
			margin-left: 0;
			text-align: center;
			font-size: 18px;
		    width: 100%;
			span{
				display: block;
			}
		}
		form{
			.input{
				font-size: 15px;
			}
			.submit-btn{
				display: block;
				text-align: center;
			}
			.dropdown{
				.value:hover{
					background: #eee;
					color: inherit;
				}
			}
		}
	}
	.scroll-down{
		display: none !important;
	}
}
@media screen and (max-device-width:700px) and (orientation:landscape){
	.rotate{
		background: url(../img/ui/rotate-screen.png) center center / 50% auto no-repeat;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	    background-color: rgba(0,0,0,0.9);
	    z-index: 100;
	    display: block;
	}
}
@media @mobile-landscape {
	#wrapper{
		display: none;
	}
}

