@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-device-width:1024px) and (max-device-height:1024px) and (orientation:landscape)";

@1920: ~"only screen and (max-width:1920px)";
@landscape: ~"screen and (orientation:landscape)";
@160asr:~"screen and (min-aspect-ratio:160/100) and (min-device-width:1024px)";
@portrait: ~"screen and (orientation:portrait)";
@yellow:#f9e491;
@darkBlue: #153f7b;
@import "common";
header{
	position: relative;
	top:-100%;
}
@media @160asr {
	#wrapper{
		.title{
			font-size: 7vmin;
		}
	}
	#boxes{
		width:133vh;
		transform:translateY(-45%) translateX(-47%);
	}
	.page{
		&#thor-page{
			.limiter{
				.press{
					max-width: 850px;
					@media (min-width:1500px){
						left: 0;
					}
					
					.content{
						
						
						
					}
				}
			}
		}
	}
}

@import "portrait";


