@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-device-width:1024px) and (max-device-height:1024px) and (orientation:landscape)";

@yellow:#f9e491;
@darkBlue: #153f7b;
@import "common";
@import "portrait";
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header{
	position: relative;
	top: -100%;
}
@media @ipadWide {
	.video-play-btn{
		opacity: 0 !important;
	}
	html{
		overflow:hidden;
		position: fixed;
		width: 100%;
	}
	#wrapper .title{
		width: 92vh;
	    font-size: 7vh;
	}
	#boxes{
		width:85vw;
		transform:translateY(-48%) translateX(-48%);
	}
	header{
		nav{
			ul{
				li{
					.submenu{
						font-size: 1.54vw;
						line-height: 1.6em;
					}
				}
			}
		}
	}
	.page{
		
		.limiter{
			overflow-y: auto;
			.screenings{
				.content{
					.city-holder{
						font-size: 14px;
					}
					.disclaimer{
						font-size: 10px;
					}
				}
			}
			.press{
				.content{
					overflow-y: auto;
				}
			}
			footer{
				font-size: 9px;
			}
		}
		&#batb-page{
			.consider{
				.content{
					.name{
						font-size: 1.3em;
					}
					h3{
						font-size: 1.2em;
					}
				}
			}
			.screenings{
				.content{
					.scrollable{
						width: 100%;
					}
					.synopsis{
						padding:0 5%;
					}
					.screenings-holder{
						.screening {
							.date{
								font-size: 0.8em;
							}
						}
					}
				}
			}
			.press{
				.content{
					.article{
						width: 25%;
					}
				}
			}
			.music{
				padding-top: 1px;
				margin-top: -1px;
				.quote{
					position: relative;
					top: 1vh;
				}
				.content{
					position: relative;
					top: 5vh;
				}
			}
			.filmmakers{
				.bottom-quote{
					position: fixed;
				}
				.content{
					top: 4vh;
					.quote{
						font-size: 10px;
					}
				}
				.featurette{
					margin-bottom: 2vh;
				}
			}
		}
		&#gotg-page{
			
			.consider{
				.content{
					top: 2vh;
				}
			}
			.synopsis{
				.content{
					width: 460px;
					right: 3vw;
				}
			}
		}
		&#thor-page{
			.bg-holder{
				.bg.fyc{
			       background-position-x: -27.76px!important;
				}
				.bg.screenings{
					background-size: auto 127%;
				}
			}
			.score .content .track-list{
				overflow:auto !important;
			}
		}
		&#cars-page{
			.bg-holder{
				.bg.fyc{
					background-position-y:top;
				}
			}
			.screenings{
				.content{
					top: 15vh;
				}
			}
			.songs{
				.song{
					display: inline-block;
					&:first-of-type{
						margin-right: 7vw;
					}
					.song-title{
						margin-top: 0;
					}
				}
			}
			.press{
				.content{
					top: 2vh;
					.snippet{
						&:last-of-type{
							margin-bottom: 0;
						}
					}
				}
			}
		}
		&#coco-page{
			.limiter{
				overflow-y: initial;
			}
		}
	}
}
@media @ipadTall{

	.video-play-btn{
		opacity: 0 !important;
	}
	body{
		position: fixed;
	}
	footer{
		text-align: center;
	}
	header {
		nav{
			width: 100%;
			ul{
				width: 100%;
				li{
					font-size: 12px;
					.submenu-holder{
					    left: 0;
					    .submenu{
							text-align: left;
					    	width: 100%;
				    	    justify-content: space-between;
    						box-sizing: border-box;
    						padding: 1px 28px;
						    line-height: 2.1em;
						    font-size: 12px;
    						> div {

    						}
					    }
					}
					&:hover{
						.submenu-holder{
							.submenu {
								margin-top: -200%;
							}
						}
					}
				}
				li.open{
					.submenu-holder {
						display: block;
						.submenu{
							margin-top: 0;
						}
					}
				}
			}
		}
	}
	#boxes{

	}

	.page{
		
		.limiter{
			
			margin:-1px auto 0;
			padding-top: 1px;
		    max-width: 100% !important;
		    overflow:hidden;
		    overflow-y: auto;
		    > div{
				.logo, .content {
					position: relative;
				}
			}
			footer{
				position: relative;
			}
		    .consider{
			   	height: auto;
			   	min-height: 100%;
			   	.logo{
			   		width: 30%;
					margin: 40px auto 0;
					left: 0;
					top: 0;
			   	}
			   	.content{
			   		 margin: 30px auto 0;
			    	justify-content: space-around;
			    	.first{
				    	.h3{
				    		font-size: 1.4em;
				    	}
				    	.subline{
				    		font-size: 1.1em;
				    	}
				    	p{
				    		font-size: 1em;
				    	}
				    	.name{
				    		font-size: 1.5em;
				    	}
				    }
			   	}
		    }
		    .screenings{
		    	.content{
		    		left: 0;
					width: 90%;
					margin: 0 auto;
		    		.disclaimer{
					    width: 573px;
					    left: 0;
					    margin: 0 auto;
					    position: relative;
					    top: 0;
					}
		    	}
		    }
		    .photos{
		    	overflow-x:hidden;
		    }
		    .press{
				.content{
					overflow-y: auto;
				}
			}
		}
		&#sw-page{
			.screenings{
				.disclaimer{
					text-align: left;
					margin:0;
					width: 50%;
				}
				.guild-members-co{
					bottom: 2vh;
					font-size: 1.7vh;
				}
			}
		}
		&#batb-page{
			.bg-holder{
				.bg.one{
					background-position-x: -450px !important;
					background-size: auto 120%;
					background-position-y: -130px;
				}
				.bg.filmmakers{
					.condon{
						background-position-x: 70% !important;
					}
				}
				.bg.cast{
				    background-position-x: -587.51px !important;
				}
				
			}
			.consider{
				.quote{
					display: none;
				}
				.logo{
					height: 17vh;
					margin-top: 1vh;
					left: -3%;
					margin-bottom: 2vh
				}
				.content{
					right: 0vw;
					width: 490px;
					top: 1vh;
					transform: scale(.99);
					position: absolute;
					left: initial;
					margin-top: 0;
					font-size: 8px;
				}
			}
			.screenings{
				.special-bg{
					width: 100%;
					position: relative;
					height: 43%;
					.quote{
					    position: absolute;
					    bottom: 3vh;
					    width: 35%;
					    left: 2vw;
					    display: block;
					}
				}
				.thumb.three.active{
					left: 4%;
				}
				.thumb{
					z-index: 4;
					width: 29vh;
					height: 16vh;
					left: 2vw !important;
					transform-origin:bottom left;
					&.one{
						bottom:36vh;
						&.active{
							bottom:36vh;
						}
					}
					&.two{
						bottom:18.6vh;
						&.active{
							bottom:18.6vh;
						}
					}
					&.three{
						bottom: 1vh;
						&.active{
							bottom:1vh;
						}
					}
					
				}
				.content{
					position: relative;
					width: 100%;
					height: 57%;
					margin: 0;
					right: 0;
					left: initial;
				    overflow-y: auto !important;
				   
				    .quote{
				    	display: none;
				    }
				    .scrollable{
				    	width: 60%;
				    	margin-left: 40%;
				    }
					.synopsis{
						width: 80%;
						margin: 2vh auto 0;
						p{
							max-height:170px;
							margin:0;
						}
					}
					h3{
						font-size: 29px;
						left: 0;
						margin: 2vh auto;
					}
					.disclaimer{
						font-size: 10px;
					}
					.screenings-holder{
						.screening{
							.date{
								font-size: 12px;
								white-space: wrap;
							}
						}
					}
					.netflix{
						margin: 10px auto;
					}
				}
			}
			.cast{
				padding-top: 1px;
				margin-top: -1px;
				height: auto;
				.quote,.article{
					right: 3vw;
				    left: initial;
				    width: 40%;
				}
				.quote{
				    background: rgba(0,0,0,0.6);
				    padding: 1.5%;
				    border-radius: 20px;
			        box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.6);
			        display: none;
				}
				.article{
					top:0vh;
					position: relative;
					width: 35%;
					bottom: 0;
					right: 0;
					margin: 489px auto 0;
					.title{
						font-size: 10px;
						width: 120%;
						left: -10%;
						position: relative;
					}
				}
				.severed-heads{
					bottom: 0vh;
					position: relative;
					margin-bottom: 4vh;
					flex-wrap:wrap;
					justify-content:center;
					.head{
						width: 18%;
						margin-bottom:-2%;
					}
				}
			}
			.filmmakers{
				overflow-x: hidden;
				.bottom-quote{
				    bottom: -33px;
					
					p{
						font-size: 12px;
					}
				}
				.content{
					.quote{
						left: -1vw;
    					position: relative;
    					width:55vw;
    					> div p {
    						white-space: initial;
    						font-size: 11px;
    						br{
    							display: none;
    						}
    						span{
    							display: none;
    						}
    					}
					}
					.name-list{
						width: initial;
						line-height: 1.4em;
					}
					.bio{
						width: 68vw;
						.text{
							overflow-y: auto !important;
							-webkit-overflow-scrolling:touch;
						}
					}
				}
			}
			.press{
				.quote{
				    left: 3vw;
    				height: 17vh;
				}
				.content{
					left: 3vw;
					top: 22vh;
					width: 93vw;
					display: block;
					.article{
						width:42%;
						min-width:36%;
						margin-right: 12%;
					}
				}
			}
			.making-of{
				.content{
					.article{
						width: 28vw;
					}
					.articles2{
						right: 5vw;
						bottom:10vh;
					}
				}
			}
			.screenplay{

				.content{
				    bottom: 0;
    				position: absolute;
					.download-button{
						
						top: 100%;

					}
				}
			}
		}
		&#cars-page{
			.limiter{
				background: rgba(0, 0, 0, 0.3);
			}
			.bg-holder{
				.bg.score{
					background-position-x:-485px !important;
				}
			}
			.consider{
				color:#c31f14;
				text-shadow:1px 1px 1px #000;
				.logo{
					margin-top: 0;
				}
				.content{
					.name{
						color: #fff;
					}
				}
			}
			.screenings{
				.content{
					left: 0;
					
				}
			}
			.press{
				.content{
					left: 0;
					margin: 0 auto;
					width: 100%;
				}
			}
			.score{
				.content{
					.track-list{
						overflow-y:auto !important;
						-webkit-overflow-scrolling:touch;
					}
				}
			}
		}
		&#coco-page{
			.limiter{
				background: rgba(0, 0, 0, 0.3);

			}
			.bg-holder{
				.bg.fyc{
				    background-position-x: 33%!important
				}
				.bg.synopsis{
					background-size: auto;
					    background-position-x: -416.939px !important;
				}
			}
			.screenings,.photos{
				position: relative;
			}
			.synopsis{
				position: relative;
				.content{
					width: 80%;
				    left: 3%;
				    right: 0;
				    top: 1%;
				}
			}
			.videos{
				.content{
					width: 90%;
					height: auto;
					.video-container{
						video{
							width: 100%;
							height: auto;
						}
					}
				}
			}
			.screenplay{
				.content{
					width: 50%;
					top: 10%;
					bottom: initial;
					margin: 0 auto;
					right: initial;
					.download-button{
						position: relative;
						top: 0;
						right: 0;
						margin: 0 auto;
					}
				}
			}
			.score{
				.content{
					left: 5%;
					width: 95%;
				}
			}
			.accolades{
				width: 100%;
				margin:0;
				position: relative;
			}
		}
		&#lou-page{
			.limiter{
				background: rgba(0, 0, 0, 0.3);
			}
			.bg-holder{
				.bg.synopsis{
				    background-position-x: 96% !important;
				}
			}
			
			.consider{
				.content{
					margin: 0 auto;
					display: block;
					top: 0;
					.logo{
						margin:20px auto 10px;
						padding-top: 0;
					}
				}
			}
			.consider,.photos{
				position: relative;
				overflow-x:hidden;
			}
			.synopsis{
				.content{
				    left: 40%;
   			 		top: 7%;
				}
			}
			.filmmakers{
				overflow-y: auto;
				overflow-x: hidden;
				height: 94%;
				.content{
				    width: 60%;
				    left: 42%;
				    padding-bottom: 30px;
				}
			}
		}
		&#gotg-page{
			.limiter{
				background: rgba(0, 0, 0, 0.3);
			}
			.bg-holder{
				.bg.fyc{
					background-position-x:-366.802px !important;
				}
				.bg.screenings{
					background-position-x:-591.912px !important;
				}
				.bg.synopsis{
					background-position-x:-400.735px !important;
				}
			}
			.consider{
				.content{
					top: 1vh;
					margin: 0 auto;
				}
			}
			.screenings{
				.content{
					left: 0;

				}
			}
			.synopsis{
				.content{
					right: 0;
					left: 40%;
					width: 440px;
				}
			}
			.press{
				height: 100%;
				.content{
					overflow-y: auto !important;
					-webkit-overflow-scrolling:touch;
				}
			}
			.photos{
				position: relative;
			}
			.videos{
				.content{
					width: 90%;
					height: auto;
					.video-list{
						.video-title{
							font-size: 2.3vw;
						}
					}
					.video-container{
						video{
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
		&#thor-page{
			.limiter{
				background: rgba(0, 0, 0, 0.3);
			}
			.consider{
				.content{
					top: 5vh;
					margin: 0 auto;
					left: 0;
				}
			}
			.screenings{
				.content{
					left: 0;
					transform:none;
					top: 10vh;
					.city-holder{
					    max-height: initial;
    					height: auto;
					}
				}
			}
			.score{
				.content{
					.track-list{
						overflow:auto !important;
					}
				}
			}
		}
		footer{
			position: relative;
			margin-top: 20px;
			text-align: center !important;
			
			top:-3px;
			padding:0 3px;
		}
	}
	footer{
		font-size: 9px;
		left: 0;
		z-index: 1;
	}
	.scroller{
		display: none;
	}
	#batb-overlay{
		.overlay-content{
			.photo{
				img{
					width: 80%;
					height: auto;
				}
			}
		}
	}
}
