@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-width:1024px) and (orientation:landscape)";
@mobile-portrait: ~"only screen and (max-width:600px) and (orientation:portrait)";
@mobile-landscape:~"screen and (max-width:667px) and (orientation:landscape)";
@1920: ~"only screen and (max-width:1920px)";
@landscape: ~"screen and (orientation:landscape)";
@portrait: ~"screen and (max-aspect-ratio:110/100)";
@160asr:~"screen and (min-aspect-ratio:160/100) and (min-device-width:1024px)";
@yellow:#f9e491;
@blue: #104493;
@grey: #737373;
@gold: #c19941;
@darkgrey: #4c4c4c;
html{
	height: 100%;
	overflow: hidden;
	overflow-y:scroll;
}
@media screen and (min-device-width:668px){
	::-webkit-scrollbar {
  width: 14px;
  position: fixed;
  right: 0
   }

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box; }

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0); }
 
::-webkit-scrollbar-thumb {
  background-color: #d8d8d84d;
  border-radius: 14px;
  opacity: 0.77; }
}
em {
    font-style:italic;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Thin.eot');
	src: url('../fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Thin.woff') format('woff'),
		url('../fonts/ProximaNova-Thin.ttf') format('truetype'),
		url('../fonts/ProximaNova-Thin.svg#ProximaNova-Thin') format('svg');
	font-weight: 300;
	font-style: normal;
}
body{
	margin:0;
	-webkit-font-smoothing: antialiased;
	font-family: 'ProximaNova';
	font-weight: 500;
	height: auto;
	min-height: 100vh;
	color: @blue;
	background: #fff;

}
.mobile{
	display: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
ul {
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}

#wrapper{
    height: auto;
    width: 100%;
    min-height: 89vh;
    position: relative;

	.fyc-banner{
		display: block;
	    font-weight: 500;
        width: calc(~'100% - 3.1vw');
	    margin-left: 10%;
	   
	    font-size: 1.2vw;
	    padding-left: 7vw;
	    padding-right: 2vw;
	    position: relative;
	    margin:0 auto;
	    a{
	 	    width: 7.5vw;
		    position: relative;
	        left: 0;
		    display: block;
		    float: left;
            top: 1.1vw;
            opacity: 1;
            transition: opacity 1s;
            &.start{
            	opacity: 0;
            }
	    }

		.nowrap{
			display: flex;
			justify-content:space-between;
			float: left;
		    width: 83.8vw;
    		margin-left: 3.2vw;
			line-height: 3.9vw;
			t{
				transform: rotateY(0deg);
				transition: transform 1s;
			}
			&.start{
				t{
					transform: rotateY(90deg);
				}
			}
		}
		
	}
	.title{
	    position: fixed;
        height: 34.9vw;
	    top: 1.4vw;
	    left: 1.7vw;
	    width: 5.1vw;
	    background-image:url(../img/AWARDS_2018.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    text-align: right;
	    opacity: 1;
	    transition: opacity 1s;
	    &.start{
	    	opacity: 0;
	    }
		@media @160asr{
			font-size: 7vmin;

		}
	}
	.limiter{
		
	    padding-top: 1px;
	    margin: 40px auto 0;	
	}
}

.limiter{
	height: auto;
	margin:0 auto;
	position: relative;
	text-align: center;
}
.inline-clear:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
#rsvp-form{
	background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 12;
    padding:30px;
    display: none;
    width: 520px;
    max-height: 90%;
    outline: 2px solid;
    box-shadow: 15px 15px 27px rgba(0,0,0,0.3);
    h2{
    	font-weight: 500;
    	margin: 0;
    	font-size: 46px;
    	float: left;
    	border-right: 2px solid @blue;
    	padding-right: 20px;
    }
    .screening-info{
    	float: left;
    	margin-left: 10px;
    	position: relative;
    	top: 0px;
    	margin-bottom: 20px;
    	width: 65%;
    	.movie{
    		font-weight: 700;
    		text-transform: uppercase;
    	}
    	.date{
    		text-transform: capitalize;
    	}
    	.theater{

    	}
    	.time{

    	}
    }
    form{
    	clear: left;
    	
    	display: block;
    	.input{
    		height: 30px;
    		font-weight: 500;
    		text-transform: uppercase;
    		font-size: 18px;
    		width: calc(~'50% - 17px');
    		display: inline-block;
    		font:inherit;
		    line-height: 50px;
    		height: 50px;
    		margin-bottom: 30px;
    		position: relative;
    		> div {
	    		
	    		cursor: pointer;
	    		span{
	    			margin-left: 10px;
	    		}
	    		position: relative;
	    	}
    		> div.error:not(.hasDropdown){
    			font-size: 12px;
    			color: #ff0000;
    			position: absolute;
    			left: 0;
    			top: 100%;
    			white-space: nowrap;
    			line-height: 1.6em;
    		}
    		.hasDropdown.error{
    			color: #ff0000;
    		}
    		&.pushRight{
    			margin-right: 24px;
    		}
    		&.fullWidth{
    			width: 100%;
    		}
    		&.reception{
                height: 90px;
                line-height:30px;
                display: none;
                label{
                    
                }
                .hasDropdown{
                    line-height: 50px;
                }
            }
    	}
    	
    	input{
    		width: 100%;
    		height: 100%;
    		border: 0;
    		background: none;
    		font:inherit;
    		color:inherit;
    		text-transform: uppercase;
    		padding:0 10px;
    		box-sizing: border-box;

    		&.error{
    			color: #ff0000;
    		}
    		&::-webkit-input-placeholder{
    			color: inherit;
    			font: inherit;
    		}
    	}
    	input,.hasDropdown{
    		
    		border: 2px solid;
    	}
    	
    	.hasDropdown{
			background:url(../img/ui/dropdown-arrow.jpg) no-repeat;
			background-position: 95% center;
    	}
    	.dropdown{
    		position: absolute;
    		max-height: 130px;
    		overflow-y: auto;
    		background: #fff;
		    width:100%;
    		right: -1px;
    		top: 100%;
    		border: 1px solid;
    		display: none;
    		z-index: 1;

    		.value{
    			padding:0 20px 0 0;
    			box-sizing: border-box;
    			height: 30px;
    			border-bottom: 1px solid;
    			line-height: 30px;
    			background: #EEE;
    			text-align: right;
    			&:last-child{
    				border-bottom:none;
    			}
    			&:hover{
    				background: #153f7b;
    				color: #fff;
    			}
    		}
    	}
    	
    }
    .submit-btn{
    	background: @gold;
    	color: #fff;
    	clear: left;
	    line-height: 43px;
	    padding: 5px 0px;
	    font-weight: 700;
	    cursor: pointer;
	    display: block;
	    text-align: center;
	    &:hover{
    	    background: #deb24f;
	    }
    }
    #rsvp-message{
	 
	    font-size: 14px;
	    line-height: 1.2em;
	    display: none;
	    text-align: center;
	    font-weight: 500;
	    h3{
	    	font-weight: 300;
	    	border-bottom: 1px solid rgba(21, 63, 123, 0.3);
	    	padding-bottom: 12px;
	    	font-size: 35px;
	    	display: inline-block;
	    	margin: 0 auto;
	    	line-height: 1em;
	    }
	    h4{
	    	font-weight: 300;
	    	font-size: 20px;
    	    line-height: 1.6em;
	    }
	    div:first-of-type{
	    	font-weight: bold;
	    	font-size: 18px;
	    	text-transform: uppercase;
	    }
	    #cancelBtn{

	    }
    }
    .rsvp-close-btn{
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	font-size: 10px;
    	padding-right: 20px;
    	cursor: pointer;
    	font-weight: 700;
    	.x{
    		color: @gold;
		    position: absolute;
		    right: 0;
	        top: -9px;
    		font-size: 24px;
		    width: 20px;
		    height: 20px;
		    font-weight: 700;
		    transform: rotate(-45deg);
    	}
    }
}
#add-to-calendar{
	background: @gold;
	color: #fff;
	clear: left;
    line-height: 43px;
    padding: 6px 0  4px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    text-align: center;
    margin:29px auto 0;
    font-size: 18px;
    width: 212px;
    position: relative;
    
   > a{
    	display: block;
    	height: 100%;
    	&:focus{
    		outline: none;
    	}
    }
    &:hover{
    	background: @gold;
    	ul{
    		display: block;
    	}
    }
    ul{
    	position: absolute;
    	top: 100%;
    	padding:0 0 0 15px;
    	width: 100%;
    	box-sizing: border-box;
    	margin: 0;
    	display: none;
    	background: #fff;
	    box-shadow: inset 0px 8px 10px -5px #ccc;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    outline: 1px solid @gold;
    	li{
    		text-align: left;
    		line-height: 1.4em;
    		a{
    			text-decoration: none;
    			font-weight: 500;
    			color: @gold;
    			&:hover{
    				color:@gold;
    			}
    		}
    	}
    }
}
footer {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    color: @blue;
    left: 0;
    margin-top: 15px;
    a {
    	color: inherit;
    }
}
#footer{
	position: relative;
	bottom: 0px;
	width: 90%;
	margin:10px auto 0;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.3em;
}
.loader{
    width: 50px;
    margin: 0 auto;
}

.clear:after{
	display:table;
	content:"";
	clear: both;
}
.nowrap {
	white-space: nowrap;

}
@media (min-width: 1695px){
	
}
@media @portrait{
	#wrapper{
		.fyc-banner{
		  
    		position: relative;
    		.no-wrap {
			    
    		}
		}
	}
}

