@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-width:1024px) and (orientation:landscape)";
@media @ipadTall{
	html{
		overflow-x: hidden;
	}
	#wrapper{
		min-height: 89vh;
		.fyc-banner{
		    //margin-left: ~'calc(6.1vh + 13px)';
    		//width: ~'calc(100% - 6.1vh - 13px)';
			a{
				width: 10%;
				margin-top: 12px;
				top: 0;
			}
			.nowrap{
				width: 82%;
				line-height: 1em;
				margin-top: 26px;
			}
		}
		.title{

			//width: 3.1vh;
		}
		.limiter{
			.film{
				width: 100%;
				//max-width: 400px;
				//padding-top: 400px;
				padding-top:100%;
				margin:0 auto 30px !important;
				&:hover{
					transform:none;
					.light{
						display: none;
					}
				}
			}
		}
	}
	.limiter{
		
	}
	.page{
		.page-header{
			.nav{
				.nav-link{
					font-size:14px;
				}
			}
		}
		.subpages{
			.limiter{
				width: 90%;
				max-width:initial;
				.prime-quote{
					.press-logo{

					}
					.quote{
						font-size:13px;
					}
					.name{
						font-size:10px;
					}
				}
				.consider{
					font-size:10px;
					.content{

						.left, .right{
							margin:0;
							width: 100%;
							text-align:center;
						}
					}
				}
				.synopsis{
					font-size:16px;
					.content{
						width: 100%;
					}
				}
				.press{
					.content{
						.quote{
							font-size:14px;
							.name{
								font-size: 12px;
							}
						}

					}
				}
			}
		}
		&#ralph-page{
			.subpages{
				.limiter{
					.consider{
						.inline-clear{
							display: block;
						}
						.content{
							.left,.right{
								width: 100%;
							}
						}
					}
				}
			}
		}
		&#mp-page{
			.subpages{
				.limiter{
					.consider{
						width: 100%;
						left: 0;
						.content{
							h3{
								left: 0%;
							}
							.left,.right{
								width: 100%;
							}
						}
					}
				}
			}
		}
		&#incredibles-page{
			.subpages{
				.consider{
					.content{
						.left, .right{
							width: 100%;
							text-align:center;
						}
					}
				}
			}
		}
	}
}