@mobile-portrait: ~"only screen and (max-width:600px) and (orientation:portrait)";
@mobile-landscape:~"screen and (max-width:667px) and (orientation:landscape)";
@mobile: ~'screen and (max-width:751px)';
@gold: #c19941;
@darkgrey: #4c4c4c;
@media @mobile {
	html{
		height: initial;
		overflow-x: hidden;

	}
	body{
	    height: initial;
	    -webkit-overflow-scrolling:touch;
	    width: auto;
	}
	header{
		display: none;
	}
	.mobile{
		display: block;
	}
	#wrapper{
		
		
	    min-height: 87vh;
		//width: 98%;
		//margin: 0 auto;
		position: relative;
		.fyc-banner{
			position: relative;
			text-align: center;
			padding:0;
			margin-top: 14px;
			width: 100%;
			a{
				width: 32%;
				top: 0;
    			transform: none;
    			float: none;
    			margin: 0 auto;
				img{
					width: 100%;
				}
			}
			img{
				width: 38%;	
				top: 0;
				margin-top: 8px;
    			transform: none;
			}
			.nowrap{
			    font-size:17px;
			    width: 100%;
			    margin: 0 auto;
			    display: block;
			    line-height: 1.1em;
			   
			    margin-top: 13px; 
			}
		}
		.title{
		    position: relative;
		 	background: url(../img/AWARDS-2018_m.png) no-repeat;
		    margin: 5px auto 0;
		    width: 100%;
		    background-position: 50% 0%;
		    background-size: auto 100%;
		    height: 22px;
		    left: 0;
		    top: 0;
		}
		.limiter{
			.film{
				width:90%;
				padding-top:90%;
				
				&:hover{
					transform:none;
					.light{
						display: none;
					}
				}
			}
		}
	}
	 .scrollable{
    	width: 100% !important;
    }
	.limiter{
		margin-top: 20px;
		width: 100%;
	}
	#page-holder{
		width: 100%;
		.back-btn{
			color: @gold;
			text-align:center;
		}
	}
	.page{
		left: 0;
		.page-header{
			.nav{
				font-size: 14px;
				display: flex;
				flex-wrap: wrap;

				justify-content: space-around;
				.nav-link{
				    margin: 0 5px 0 10px;
				}
				&.hamburger{
				
				}
			}
			.logo{
				min-width:150px;
			}
		}
		.film-strip{
		    height: 46vw;
			width: 100%;
			.slider{
				width: 600%;
				position: relative;
				img{
					margin: 0;
					width: 100vw;
					height: auto;
					display: block;
					float: left;
				}
			}
			.slider:after{
				content:'';
				display: table;
				clear: both;
			}
		}
		.subpages{
			.limiter{
				width: 90%;
				max-width: initial;
				.prime-quote{
					.press-logo{
						min-width:110px;
					}
					.quote{
						font-size:11px;
						white-space: initial;
						br{
							display: none;
						}
					}
					.name{
						font-size:10px;
					}
				}
				.consider{
					font-size: 12px;
					.content{
						h3{
							font-size:1.6em;
						}
						.left,.right{
							text-align: center;
							margin:0;
						}
					}
				}
				.screenings{
					.guild-members-co{
						position:relative;
					}
					.pop-up{
						.pu-wrapper{
							top:0;
							left: 0;
							transform: none;
							width: 100%;
							max-width: 100%;
							max-height: 100%;
							overflow: auto;
						}
					}
				}
				.synopsis{
					font-size: 16px;
					line-height: 1.3em;
					.content{
						width: 100%;
					}
				}
				.press{
					.content{
						.quote{
							font-size: 13px;
							br{
								display: none;
							}
							.name{
								font-size: 1em;
							}
						}
					}
				}
				.music,.score{
					.content{
						.track-list{
							.col{
								width: 100%;
							}
							.play-all{
								text-align:center;
								padding:0;

							}
						}
					}
				}
				.songs,.song{
					.content{

						.song-div{
							display: block;

							> div{
								display: block;
								width: 100%;

							}
							.cover{
								display: block;
								margin:0 auto 10px;
								width: 100%;
								img{
									position:relative;
									margin: 0 auto;
									width: 100%;
									height: auto;
								}
							}
						}
					}
				}
				.accolades{
					.content{
						display: block;
						.award{
							width: 90% !important;
							margin: 0 auto 20px;
						}
						.column{
							display: block;
							width: 90% !important;
							margin:0 auto 30px !important;
							&.left{

							}
							&.center{

							}
							&.right{

							}
						}
					}
				}
			}
		}
		&#mp-page{
			.subpages{
				.limiter{
					.consider{
						width: 100%;
						left: 0;
						.content{
							h3{
								left: 0;
							}
							.left, .right{
								width: 100%;
							}
						}
					}
				}
			}
		}
		&#incredibles-page{
			.subpages{
				.consider{
					.content{
						.left, .right{
							width: 100%;
							text-align:center;
						}
					}
				}
			}
		}

	}
	#rsvp-form{
		width: 100%;
		left: 0;
		transform:none;
		top: 0;
		height: 100%;
		position: fixed;
		box-sizing: border-box;
		padding:5vh 2vh;
		h2{
			font-size: 40px;
			padding-right: 10px;
		}
		.screening-info{
			width: 62%;
		}
		#rsvp-message{
			h4{
				font-size: 16px;
			}
		}
	}
	
    .close-btn{
    	position: absolute;
    	top: 10px;
    	right: 15px;
    	font-size: 12px;
    	transform:rotate(45deg);
	    font-size: 45px;
   	 	font-weight: 300;
    }
   
    
	#footer{
		position: relative;
		width: 100%;
		margin: 0 auto;

	}
	footer{
		bottom: 0px;
		margin-top: 15px;
    	font-size: 11px;
    	line-height: 1.5em;
    	margin-top: 5px;
    	position: relative;
    	top: 0px;
    	padding-bottom: 5px;
   	 	margin: 20px auto 0;
   	 	background:#104493;
    	text-align: center;
    	color: #fff;
    	padding-top: 30px;
    	line-height: 2em;
   	 	a {
   	 		display: block;
   	 	}
   	 	.copyright{
   	 		margin: 15px auto;
   	 		display: block;
   	 	}
	}
	.desktop {
		display: none;
	}
}
// @media @mobile-landscape {
// 	html{
// 		overflow: hidden;

// 	}
// 	body{
// 	    height: 100vh;
//     	overflow-y: auto;
// 	    -webkit-overflow-scrolling:touch;
// 	}
// 	#wrapper{
		
		
// 	    min-height: 87vh;
// 		//width: 98%;
// 		//margin: 0 auto;
// 		position: relative;
// 		.fyc-banner{
// 			position: relative;
// 			a{
// 				width: 38%;
// 				top: 0;
//     			transform: none;
// 				img{
// 					width: 100%;
// 				}
// 			}
// 			img{
// 				width: 38%;	
// 				top: 0;
// 				margin-top: 8px;
//     			transform: none;
// 			}
// 			.nowrap{
// 			    font-size: 5.7vw;
// 			    width: 56%;
// 			    margin: 0;
// 			    display: block;
// 			    line-height: 1.1em;
// 			    white-space: initial;
// 			    border-left: 1px solid;
// 			    padding-left: 2%;
// 			    margin-left: 3%;
// 			    margin-top: 13px; 
// 			}
// 		}
// 		.title{
// 			display: none;
// 		}
// 	}
// 	 .scrollable{
//     	width: 100% !important;
//     }
// 	.limiter{
// 		margin-top: 20px;
// 		width: 100%;
// 	}
// 	.box{
// 	    position: relative;
//         top: 0 !important;
//     	height: auto !important;
// 	    left: 0px !important;
// 	    width: 100% !important;
// 	    margin-bottom: 40px;
// 	    background-repeat: no-repeat;
// 	    -webkit-overflow-scrolling:touch;
	    
// 		.logo{
// 			position: relative;
// 			width: 100%;
// 			height: auto !important;
// 			margin-top: 10px !important;
// 		    display: flex;
// 			flex-direction: column;
// 			float: none;

// 			img{
// 				width: 80%;
// 				margin: 0 auto;
// 			}
// 			.nav{
// 				top:-4.5%;
// 			    font-size: 16px;
//     			line-height: 27px;
    			
// 				width: 100%;
// 				justify-content: space-around; 
// 		    	height:26px;
// 		    	margin:25px auto 0;
// 			    position: relative;
// 			    left: 0;
// 			    transform: none;
// 			    order:2;
// 			    > div {
// 		    		height: 100%;
// 		    		cursor: pointer;
		    		
// 		    	}
// 		    	.screenings-nav{
// 		    		margin-top: 20px;
// 					.cities-list{
// 						order: 2;
// 					    margin-top: 20px;
// 					    position: relative;
// 					    font-size: 17px;
// 						.current{
// 							border: none;
// 						}
// 					}
// 					.disclaimer{
// 						order: 1;
// 						position: relative;
// 						margin-top: 0px;
// 						white-space: initial;
// 						font-size: 12px;
// 						br {
// 							display: none;
// 						}
// 					}
// 				}
// 			}

// 			.guild-members-co{
// 				left: 0;
// 			    position: relative;
// 			    width: 90%;
// 			    top: 0;
// 			    transform: none;
// 			    min-width: initial;
// 			    margin: 0 auto;
// 			}
// 		}
// 		.content{
// 			.screenings{
// 				.pop-up{
// 					top:0;
// 	    			transform:none;
// 	    			left: 0;
// 	    			padding:5%;
// 	    			min-height: 100%;
// 	    			.pop-up-close{
// 	    				padding-top: 6%;
// 	    			}
// 	    			.inside{
// 	    				padding:15px 30px;
// 	    				min-height: 90%;
// 	    			}
// 				}
// 			}
// 		}
// 		&.active{
// 	    	width: 100%;
// 	    	margin:0;
// 	    	.logo{
// 	    		margin: 0 auto;
// 	    		.nav{
// 		    		display: flex;
// 		    		width: 100%;
// 		    	}
// 	    	}
	    	
// 	    }
// 		&:hover{

// 			.logo{
// 				width: 100%;
// 				height: inherit;
// 				left: 0;
// 				top: 0;
// 			}
// 		}
		
// 	    .content {
	    	
// 	    	width:100%;
	    	
// 	    	position: relative;
//    		 	display: block;
//    		 	left: 0;
//    		 	top: 0;
//    		 	float: none;
// 	 	    margin: 20px 0 0;
// 	    	> div {
// 	    		width: 90%;
// 	    		padding: 0 5%;
// 	    		//padding: 0 1.5%;
//     		    display: none;
//     			margin-right: 0;
// 	    	} 
// 	    	.consider{
// 	    		text-align: center;
// 	    		font-size: 12px;
// 	    		color: #4c4c4c;
// 	    		text-transform: uppercase;
// 	    		padding-bottom: 20px;
// 	    		font-size: 12px;
// 	    		white-space:inherit;
// 	    		height: auto !important;
// 	    		position: relative;
// 	    		width: 90%;
// 	    		-webkit-overflow-scrolling:touch;
// 	    		.first{
// 	    			padding-left: 0;
// 	    			h3{
// 	    				font-size: 1.3em;
// 	    			}
// 	    			.subline{
// 	    				font-size: 1em;
// 	    			}
// 	    			.name{
// 	    				font-size: 1.4em;
// 	    			}
// 	    			p{
// 	    				font-size:1em;
// 	    				line-height: 1em;
// 	    			}
// 	    		}
// 	    		h3{
// 	    			margin:15px 0 25px;
// 	    			font-size: 1.4em;
// 	    		}
// 	    		.subline{
// 	    			font-size: 11px;
// 	    			margin: 3px 0;
// 	    		}
// 	    		.name, .song{
	    			
// 	    			font-size: 1.2em;
// 	    			line-height: 1.2em;

// 	    		}
// 	    		.left, .right{
// 	    			float: none;
// 	    			text-align: center;
// 	    			margin: 0;
//     			    position: relative;
// 				    width: 100%;
// 				    left: 0;
// 				    right: 0;
// 				    flex:1 100%;
// 	    		}
// 	    	}
// 	    	.synopsis{
// 		        line-height: 28px;
// 			    margin-top: 32px !important;
// 			    font-size: 16px;
// 			    position: relative;
// 		      	width:90%;
// 		      	margin-top: 2vh;
// 	    	}
// 	    	.screenings{
// 	    		margin-top: 2vh;
// 	    		margin: 0 auto;
// 	    		padding:0;
// 	    		position: relative;
// 	    		.cities-list{
// 	    			font-size: 11px;
// 	    			justify-content:space-between;
// 	    			width: 100%;
// 	    			left: 0;
// 	    			.city{
// 	    				padding:4px 2px;
// 	    				top: 0px;
// 	    			}
// 	    		}
// 	    		.city-holder{
// 	    			font-size: 12px;
// 	    			margin-top: 20px;
// 	    			max-height: initial;
// 	    			left: 0;
// 	    		}
// 	    		.screening{
// 	    			width: 100%;
// 	    			padding:0 5%;
// 	    			box-sizing: border-box;
// 	    		}
// 	    		.disclaimer{
// 	    			width: 90%;
// 	    			left: 5%;
// 	    		}
// 	    	}
// 	    }
// 	    &#bp-box{
// 	    	&.active{
//     		    margin: 3vh auto 0;
// 	    		.logo{
// 	    			float: none;
// 	    			width: 100%;
// 	    			left: 0;
// 	    			margin: 10px auto 0;
// 	    			.guild-members-co{
// 	    				left: 0;
// 		    			top: 1vh;
// 	    			}
// 	    		}
// 	    	}
// 	    }

// 	}
// 	.box:hover{
// 		.logo{
// 			transform:scale(1);
// 		}
// 	}
// 	#rsvp-form{
// 		width: 100%;
// 		left: 0;
// 		transform:none;
// 		top: 0;
// 		height: 100%;
// 		position: fixed;
// 		box-sizing: border-box;
// 		padding:5vh 2vh;
// 		h2{
// 			font-size: 40px;
// 			padding-right: 10px;
// 		}
// 		.screening-info{
// 			width: 62%;
// 		}
// 		#rsvp-message{
// 			h4{
// 				font-size: 16px;
// 			}
// 		}
// 	}
	
//     .close-btn{
//     	position: absolute;
//     	top: 10px;
//     	right: 15px;
//     	font-size: 12px;
//     	transform:rotate(45deg);
// 	    font-size: 45px;
//    	 	font-weight: 300;
//     }
//     .box{
    	
	    
//     }
    
// 	#footer{
// 		position: relative;
// 		width: 90%;
// 		margin: 0 auto;
// 	}
// 	footer{
// 		bottom: 0px;
// 		margin-top: 15px;
//     	font-size: 12px;
//     	line-height: 1.5em;
//     	margin-top: 5px;
//     	position: relative;
//     	top: 0px;
//     	padding-bottom: 5px;
//    	 	margin: 20px auto 0;
//    	 	background: #104493;
//     	text-align: justify;
//    	 	a {

//    	 	}
// 	}
// }

var {
	display: none;
}
@media screen and (max-width:685px){
	.consider{

		position: relative;
		.scrollable{
			> div {
				flex:1 100% !important;
				display: block !important;
				left: 0 !important;
				text-align: center !important;
			}

		}
		.scroller{
			left: 80% !important;
		}
	}
}