@portrait: ~"screen and (orientation:portrait)";
@media @portrait{
	header{
		nav{
			ul{
				width: 100%;
				li{
					font-size: 9px;
					.submenu-holder{
						min-width: 160px;
					}
					.submenu{
					    font-size: 9px;
    					line-height: 1.5em;
    					min-width: 130px;
					}
				}
				li.batb-btn{
					.submenu-holder{
						left: 0;
					}
					.submenu{
						text-align: left;
					}
				}
			}
		}
	}
	#wrapper{
		overflow-y:auto;
		.fyc-banner{
		    padding-left: 0;
    		width: 96%;
    		.no-wrap {
			    width: 87%;
			    margin-right: 0;
			    margin-left: 3%;
    		}
		}
		.title{
    	    transform: none;
		    left: 0;
		    position: relative;
		    width: 98%;
		    top: 0;
		}
	}
	#boxes{
		position: relative;
		width: 95%; 
		margin:5% auto 2%;
	    transform: none;
		left: 0;
		top: 0;
		.box{
			width: 49% !important;
			margin-left: 0% !important;
			clear: none !important;
			margin-bottom: 2%;
			&#cars{
				margin: 1% 2% 0;
			}
			&#coco-box{
				margin:0 0%;
			}
			&:nth-of-type(odd){
				margin-right: 2%;
			}
		}
		
	}
	.page{
		.limiter{
			> div{
				position: relative;
				.logo, .content {
					position: relative;
				}
			}
			
			.consider{
				.logo{
					width: 30%;
					margin: 40px auto 0;
					left: 0;
					top: 0;
				}
				.content {
					width: 90%;
				    left: 0;
				    top: 0;
				    margin: 30px auto 0;
				    display: flex;
				    flex-wrap: wrap;
				    justify-content: space-around;
				   
				    .first{
				    	.h3{
				    		font-size: 1.4em;
				    	}
				    	.subline{
				    		font-size: 1.1em;
				    	}
				    	p{
				    		font-size: 1em;
				    	}
				    	.name{
				    		font-size: 1.5em;
				    	}
				    }
				}
			}
			.screenings{
				.content{
					margin: 0 auto;
				}
			}
		}
		&#coco-page{
			.limiter{
				background:rgba(0, 0, 0, 0.5);
				width: 100%;
				max-width: 100%;
			}
			.synopsis{
				.content{
					width: 47vw;
					top: 1vh;
					position: absolute;
				}
			}
			.screenplay{
				.content{
				    position: absolute;
				    bottom: 6vh;
				    left: 62%;
				    transform: translateX(-50%);
				    right: initial;
				}
			}
			.song{
				padding-left: 3vw;
				width: 47vw;
				.content{
					left: 0vw;
				}
			}
			.score{
				.content{
					margin-top: -1px;
					padding: 1px 3vw 0;
					width: 94vw;
					.quote{
						right: 3vw;
					}
				}
			}
			.screenplay{
				.content{
					left: 58%;
				}
			}
		}
		&#sw-page{
			.bg-holder{
				.bg.fyc{
					    background-position-x: center !important;
				}
			}
			.consider{
				.content{
					top: 0;
					left: 0;
				    text-shadow: 1px 1px 1px #000;
				}
			}
			.screenings{
				.content{
					min-width: initial;
					width: 90%;
					transform:none;
					left: 0%;
					.screening{
						width: 45%;
						margin-right: 2.5%;
					}

				}
			}
			.synopsis{
				.content{
					right: 6vw;
					position: absolute;
				}
			}
		}
		&#gotg-page{
			.consider{
				.content{
					top: 1vh;
					margin: 0 auto;
				}
			}
			.screenplay .content{
				position: absolute;
			}
		}
		&#thor-page{
			.consider{
				.content{
					top: 5vh;
					margin: 0 auto;
					left: 0;
				}
			}
			.screenings{
				.guild-members-co{
					bottom:8vh;
				}
				.content{
					left: initial;
					transform:none;
					top: 5vh;
				}
			}
			.score{
				.content{
					.featurette{
						.quote{
							margin-top: 4vh;
							span{
								font-size: 12px;
							}
						}
					}
				}
			}
			// .score{
			// 	.content{
			// 		.featurette{
			// 			width: 37vh;
			// 			h4{
			// 				font-size: 1.7vh;
			// 			}
			// 			h6{
			// 				font-size: 1.4vh;
			// 			}
			// 			.quote{
			// 				width: 29vh;
			// 				margin-top: 4vh;
			// 				p{
			// 				    font-size: 1vh;
			// 				}
			// 				span{
			// 					font-size:0.8vh;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
		&#batb-page{
			.bg-holder{
				.bg.synopsis{
					width: 100%;
				}
			}
			.quote p, .bottom-quote p{
				font-size: 13px;
			}
			.consider{
				.quote{
					display: none;
				}
				.content{
					top: 1vh;
					margin-top:0;
				}
			}
			.screenings{
				.special-bg{
					width: 100%;
					position: relative;
					height: 43%;
					.quote{
					    position: absolute;
					    bottom: 3vh;
					    width: 35%;
					    left: 2vw;
					    display: block;
					}
				}
				.thumb.three.active{
					left: 4%;
				}
				.thumb{
					z-index: 4;
					width: 29vh;
					height: 16vh;
					left: 2vw !important;
					transform-origin:bottom left;
					&.one{
						bottom:36vh;
						&.active{
							bottom:36vh;
						}
					}
					&.two{
						bottom:18.6vh;
						&.active{
							bottom:18.6vh;
						}
					}
					&.three{
						bottom: 1vh;
						&.active{
							bottom:1vh;
						}
					}
					
				}
				.content{
					position: relative;
					width: 100%;
					height: 57%;
					margin: 0;
					right: 0;
					left: initial;
				   
				   
				    .quote{
				    	display: none;
				    }
				    &.scrollerActive .scrollable{
				    	width: 60%;
				    	margin-left: 40%;
				    }
				    .scroller{
				    	left: 92%;
				    	top: 2.2vh;
				    	height: 91%;
				    }
					.synopsis{
						width: 80%;
						margin: 2vh auto 0;
						font-size: 13px;
						p{
							max-height:initial;
							margin:0;
						}
					}
					h3{
						font-size: 29px;
						left: 0;
						margin: 2vh auto;
					}
					.disclaimer{
						font-size: 10px;
					}
					.screenings-holder{
						width: 80%;
						margin:0 auto;
						.screening{
							.date{
								font-size: 12px;
								white-space: wrap;
							}
						}
					}
					.netflix{
						margin: 10px auto;
					}
				}
			}
			.cast{
				.quote{
					display: none;
				}
				
				.article{
				    right: 3vw;
    				left: initial;
					width: 30vh;
					bottom: 20vh;
				}
				
			}
			.filmmakers{
				.content{
					.quote{
						> div:first-child{
							p{
							    font-size: 11px;
    							line-height: 1.5em;
							}
						}
					}
					.name-list{
						.name{
							font-size: 13px;
						}
					}
				}
				.bottom-quote{
					right: 1vw;
					width: 50%;
					.author{
					    margin-right: 11px;
    					font-size: 12px;
					}
				}
			}
			.press{
				.content{
					.article{
						min-width: 38%;
						margin-right: 12%;
					}
				}
			}
			.screenplay{
				.quote{
					top: 3vh;
					p{
						margin-top: 0;
					}
				}
				.content{
					position: absolute;
				}
			}
		}
		&#lou-page{
			.limiter{
				background-color: rgba(0, 0, 0,0.4);
			}
			.consider{
				.content{
					width: 100%;
					.nom{
						position: relative;
						top: initial;
						right: initial;
						margin: 0 auto;
					}
				}
			}
			.synopsis{
				.content{
					top: 4%;
					width: 80%;
				}
			}
			.filmmakers{
				.content{
					position: absolute;
				}
			}
			.press{
				.scroll-down{
					left: 0;
					bottom: 6vh;
				}
				.content{
					left: 50%;
					
				}
			}
		}
		&#cars-page{
			.limiter{
				background: rgba(0, 0, 0, 0.5);
			}
			.consider{
				.content{
					left: 0;
					color: #ffda9e;
					.name{
						color: #fff;
					}
				}
			}
			.screenings{
				.content{
					left: 0;
				}
			}
			.synopsis{
				.content{
					padding-top: 1px;
					margin-top: -1px;
				}
			}
			.score{
				.content{
					overflow: hidden;
				}
			}
			.songs{
				.content{
					overflow: hidden;
				}
			}
		}
	}
	#batb-overlay{
		.overlay-content{
			.photo{
				img{
					width: 80%;
					height: auto;
				}
			}
		}
	}
}