@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-device-width:1024px) and (max-device-height:1024px) and (orientation:landscape)";

@1920: ~"only screen and (max-width:1920px)";
@landscape: ~"screen and (orientation:landscape)";
@160asr:~"screen and (min-aspect-ratio:160/100) and (min-device-width:1024px)";
@180asr:~"screen and (min-aspect-ratio:180/100) and (min-device-width:1024px)";
@portrait: ~"screen and (orientation:portrait)";
@yellow:#f9e491;
@darkBlue: #153f7b;
@grey: #737373;
@gold: #c19941;
@darkgrey: #4c4c4c;
@blue: #104493;
@import "common";
.overlay-img {
	width: 100vw;
	height: auto;
	position: fixed;
	top: 0;
    opacity: 0.5;
    pointer-events: none;
}
body{
	width: 100vw;
}
header{
	width: 100vw;
	background: #104493;
	z-index: 11;
	position: fixed;
	top: -100%;
	.fyc-banner {
		a{
		    width: 6vw;
		    margin-left: 0.4vw;
		    margin-top: 8.5px;
		    position: relative;
		    display: block;
		    float: left;
		    margin-bottom: 5px;
		   
		}
		.nowrap{
			margin-left: 3vw;
		    width: 66.3vw;
		    display: inline-flex;
			justify-content:space-between;
			font-weight: 300;
			margin-right: 3vw;
			position: relative;
			margin-top: 1.3vw;
			float: left;
			color: #fff;
			font-size:1vw;
			text-shadow: 0px 0px #fff;
		}
		.title{
		    display: inline-block;
		    text-align: right;
		    width: 26.7vw;
		    letter-spacing: 0.2em;
		    color: #b4bdd5;
		    font-weight: 300;
		    text-transform: uppercase;
		    font-size: 3.09vw;
		    line-height: 1em;
		    float: left;
		    margin-top: 0.4vw;
		    
		}
	}
	#menu{
		width: 90%;
		padding: 0.5% 5% 0.5%;
		background: #fff;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-around;

			li{
				//display: inline-block;
				text-transform:uppercase;
				color: @grey;
				cursor: pointer;
				font-size:1vw;
				@media (max-width: 1024px){
					font-size:1.3vw;
				}

				&.selected{
					color: @gold;
					font-weight:bold;
				}
				&.inactive{
					opacity: 0.5;
					cursor: no-drop;
				}
			}
		}
	}
}
#wrapper{
	.limiter{
		
	   width: 80.1%;
		.film{
			width: 25%;
			height: 0;
			padding-top: 25%;
			background-size: 100% auto;
			background-repeat: no-repeat;
			display: inline-block;
			transition: transform 1s;
			cursor: pointer;
			transform:scale(1);
			overflow: hidden;
			.light{
				width: 100%;
				height: 100%;
			    top: 0;
			    opacity: 0.2;
			    left: -106%;
			    transition: left 0.4s;
			    position: absolute;
			    pointer-events: none;
			    transform:scale(1);
			    img {
			    	height: 100%;
			    	width: 100%;
			    }
			}
			&.start{
				transform:scale(0);
			}
			&#bp-box{
				background-image: url(../img/bp-box.jpg);
			}
			&#incredibles-box{
				background-image: url(../img/incredibles-box.png);
				margin: 0 1%;
			}
			&#ralph-box{
				background-image: url(../img/ralph-box.png);
			}
			&#mp-box{
				background-image: url(../img/mp-box.png);
				margin: 1% 1% 0;
			}
			&#avengers-box{
				background-image: url(../img/avengers-box.jpg);
			}
			&#bao-box{
				background-image: url(../img/bao-box.png);
			    
			}
			&:hover{
				transform:scale(1.05);
				.light{
					animation: light 1s;
				}
			}
		}
	}
}
#page-holder{
	position: relative;
	display: none;
	padding-top: 4.6vw;	
	width: 100vw;
	margin-bottom: 4vw;
	min-height: 86vh;
	overflow-x: hidden;
}
.inactive{
	opacity: 0.4;
	cursor: no-drop !important;
	&:hover{
		transform:none !important;
		.light{
			display: none;
		}
	}
}
.page{
	display: none;
	position:relative;
	left:-7px;
	.limiter{
		width: 80%;
	}
	.page-header{
		width: 100vw;
	    margin-top: 2.6vw;

		.logo{
			max-width: 321px;
			width: 20%;
		}
		.nav{
			margin-top: 20px;
			text-align: center;
			font-size: 1.1vw;
			letter-spacing: 1px;
			@media (max-width: 1024px){
					font-size:1.6vw;
				}
			.nav-link{
				display: inline-block;
				margin-right: 20px;
				color: @darkgrey;
				cursor: pointer;
				&.selected{
					color: @gold;
				}
				&:last-child{
					margin-right:0;
				}
			}
		}
	}
	.film-strip{
		width: 56.7vw;
		margin: 2vw auto 35px;
		height: 26vw;
		position: relative;
		overflow:visible;
		&:hover{
			.arrow{
				opacity: 1;
			}
		}
		.arrow{
			position: absolute;
		
			top: 50%;
			transform:translateY(-50%);
			left: -50%;
		    width: 50%;
    		height: 100%;
			z-index: 2;
			cursor: pointer;
			opacity: 0.5;
			&#right-arrow{
				left: initial;
				right: -50%;
			  
			}

		}
		.slider{
			width: ~'calc(500% + 5vw)';
			height: 100%;
			position: absolute;
			top: 0;
			left: 0%;
			width: 100%;
			z-index: 1;
			// transition: left 1s;
			// transition-timing-function: ease-in-out;

			img, > div{
				height: 100%;
				width: auto;
				display: block;
				position: absolute;
				top: 0;
				cursor: pointer;
				// float: left;
				// &:nth-child(even){
				// 	margin: 0 1vw;
				// }
				
				// &:last-child{
				// 	margin-right: 0;
				// }
			}
			video{
				height: 100%;
				width: auto;
			}
			.video-play-btn{
				background-image:url(../img/ui/video-play-btn.png);
				background-size:100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
				width: 80px;
				height: 80px;
			}
		}
		.slider:after{
			content:'';
			display: table;
			clear: both;
		}
	}
	.subpages{
		width: 100vw;
		.limiter{
			max-width: ~'calc(33vw * 2.167979277322798 )';
			//padding: 0 10px;
			//left: 1vw;
			@media (max-width: 1024px){
				max-width:initial;
				width: 100%;
				.prime-quote{
					width: 90%;
					margin:0 auto 20px;
				}
			}
			> div{
				display: none;
			}
			.prime-quote{
				margin-bottom:30px;
				font-size:1vw;
				@media screen and (min-width: 1600px){
					font-size: 16px;
				}
				@media screen and (max-width: 1200px){
					font-size: 12px;
				}
				.press-logo{
					width: 14%;
					margin: 0 auto 7px;
					
					
					&.rolling-stone{
						width: 14%;
					}
					&.time{
						width: 10%;
					}
					&.la-times{
						width: 16%;
					}
					&.ny-times{
						width: 17%;
					}
				}
				.quote{
					color: #000;
				    font-size: 1.0em;
    				letter-spacing: 0.1vw;
    				text-align:center;
    				text-transform:uppercase;
    				line-height: 1.4em;
    				white-space: nowrap;
					span{
						font-weight:bold;
						font-size:1.3em;
						line-height: 1.2em;
					}
					
					
				}
				.name{
					
					color:@grey;
					
					text-align:center;
					text-transform:uppercase;
					font-size: 1em;
					margin-bottom: 10px;
				    font-weight: 700;
				    line-height:1em;
				    letter-spacing: 0.9px;
				}
			}
			.consider{
				text-align: center;
				width: 100%;
			    font-size: 0.7vw;	
				padding-bottom: 3vh;
				font-weight: 500;
				position: relative;		
				text-transform: uppercase;
				@media (max-width: 1024px){
					font-size:1.1vw;
				}
				.content{
					.category{
			    		color:@gold;
			    		font-size: 1.4em;
			    		margin-top: 14px;
			    		&:first-child{
			    			margin:0;
			    		}
			    	}
			    	.subline{
			    		font-size: 1.24em;
			    		
			    		
		    		    line-height: 1.3em;
		    		    color:@gold;
			    	}
			    	.name, .song{
			    		font-size:1.8em;
			    		line-height: 1.1em;
			    		color: @grey;
			    		
		    		    letter-spacing: 0.8px;
			    	}
			    	
			    	
			    	.and{
			    		font-size: 0.7em;
			    	}
			    	.left,.right{
			    		text-align: left;
			    		display: inline-block;
			    		vertical-align: top;
			    	}
					.left{
						margin-right: 3.7%;
					}
					.right{
						//margin-left: 9%;
					}
				}
				.inline-clear{
					
				}
				.reset{
					width: 100%;
				}
				
				.guild{
				    font-variant: all-petite-caps;
				}
				.lowercase {
					text-transform: lowercase;
				}
		    	h3{
	    		    margin: 0px 0 27px;
			        font-size: 1.9em;
	    			line-height: 1em;
				   	width: 100%;
				    letter-spacing: 0.45em;
	    		    color: @gold;

		    	}
		    	
		    }
		    .synopsis{
		    	
		    	text-align: justify;
		    	color: @grey;
		    	font-size: 1.4vw;
    			line-height: 1.3em;
    			@media (max-width: 1024px){
					font-size:1.8vw;
				}
    			.content{
    				width: 72%;
    				margin: 0 auto;
    			}
		    }
		    .screenings{
		    	.guild-members-co{
		            font-weight: 500;
				    font-size: 1.8vh;
				   	
				    position: fixed;
				    bottom:20px;
				    left: 10px;
				    text-align: center;
				    width: 26vh;
				    margin: 0 auto;
				    cursor: pointer;
				   
					div{
						outline:1px solid @gold;
						margin-top: 10px;
						color:@gold;
						font-size: 0.8em;
						padding:10px 0;
						line-height: 1.3em;
					}
					
				}
				.callout{
					color: @darkgrey;
					width: 70%;
					margin:0 auto 20px;
					outline: 1px solid @gold;
					padding:20px;
					font-weight: bold;
					span{
						font-size:1.4em;
						color: @gold
					}
					a {
						display: inline-block;
						background:@gold;
						color: #fff;
						margin:0 auto;
						padding:10px 20px;
						font-weight: bold;
						margin-top: 10px;
						&:hover{
							background:@darkgrey;

						}
					}
				}
				.content{
			    	.cities-list{
			    		color: @darkgrey;
			    		text-transform: uppercase;
			    		font-size: 0.8em;
			    		width: 100%;
			    		display: flex;
			    		justify-content: space-evenly;
			    		flex-wrap: wrap;
			    		font-size: 16px;
		    		    margin-top: 23px;
			    		.city{
			    			position: relative;
			    			cursor: pointer;
			    			&:first-child{
			    				
			    			}
			    		}
			    		.current{
			    		
			    			color: @gold;
			    		}
			    	}
			    	.city-holder{
			    		margin-top: 20px;
			    		display: none;
		    		    max-width: 1052px;
	    				margin: 20px auto 0;
			    		&:nth-child(1){
			    			display: block;
			    		}
			    		.scrollable{
		    			    display: block;
						   
			    		}
			    	}
			    	.screening{
			    		
			    		text-align: center;
			    		color: @grey;
			    		font-size: 15px;
			    		margin:0 2%;
			    		//border-bottom: 1px solid rgba(250,250,250,0.3);
			    		h4{
		    			    margin: 0 0 5px;
						    font-size: 14px;
						    font-weight: 400;

			    		}
			    		&:last-of-type{
			    			margin-bottom: 0;
			    			border-bottom: 0;
			    		}
			    		.date{
			    			font-weight: 700;
			    			font-size: 1.3em;

			    		}
			    		.theater{
			    			font-size: 1.2em;
			    			
			    			line-height: 1.3em;

			    		}
			    		.qa{
			    			font-size: 0.7em;
			    			margin-top: 8px;
			    			line-height: 1em;
			    		}
			    		.address{
			    			width:102%;
			    			a{
			    				display: inline-block;
						        width: 39px;
		    					height: 16px;
							    position: relative;
							    background: url(../img/map-icon-gold.png) no-repeat;
							    background-size: 100%;
							    left: 8px;
							    top: 2px;
			    			}
			    		}
			    		.btn{
			    			color: @gold;
			    			font-size: 1.4em;
			    			margin-top: 4px;
			    			margin-bottom: 1em;
			    			cursor: pointer;
			    		}
			    	}
			    }
		    	.disclaimer{
	    		    
				    text-align: center;
				    font-size: 13px;
				    
				    margin-top: 1em;
				    line-height: 1.3em;
				  
	    		}
	    		.pop-up{
			       	top: 0;
			       	left: 0;
			       	width: 100%;
			       	height: 100%;
			       	background:rgba(0,0,0,0.5);
			       	position:fixed;
			       	z-index: 1200;
				    display: none;
				    .pu-wrapper{
				    	 position: fixed;
					    background: #fff;
					    border-radius: 3px;
					    box-shadow: 0 0 5px 4px rgba(0,0,0,.2);
					    padding: 10px;
					    z-index: 6;
					    width: 89vh;
					    top: 50%;
					    left: 50%;
					    transform: translateX(-50%) translateY(-50%);
					    max-width: 90%;
				    }
				    .pop-up-close {
				    	
				    	position: absolute;
			    	    top: 0;
					    right: -23px;
					    width: 65px;
					    font-size: 56px;
					    font-family: san-serif;
					    font-weight: 500;
					    transform: rotate(45deg);
					    height: 0;
					    cursor: pointer;
				    }
	    			.inside{
	    				text-align: left;
	    				padding:15px 70px;
	    				border-radius: 5px;
		    			h3{
		    				text-align: center;
		    				font-size: 2.2vh;
		    				margin:20px auto;
		    				font-weight: bold;

		    			}
		    			p{
		    				text-align: left;
		    				padding-bottom: 20px;
		    				border-bottom: 1px solid rgba(255,255,255,0.9);
	    				    font-size: 1.9vh;
						    line-height: 1.5em;
						    font-weight: 600;
		    			}
		    			ul{
		    				list-style: none;
		    				padding:0;
		    				
		    				li{
	    					    font-size: 1.8vh;
							    font-weight: 300;
							    margin-bottom: 17px;
							    line-height: 1.3em;
							    position: relative;
							    font-weight:500;
							   
							    span{
							    	position: absolute;
								    right: 99%;
								    width: 4px;
								    top: 50%;
							        transform: translateY(-50%);
								    height: 4px;
								    display: block;
								    border-radius: 10px;
								    background: @blue;
							    }
		    				}
		    			}
		    			.restrictions{
		    				h5{
		    					text-decoration: underline;
		    					margin-bottom: 0.4em;
		    					color: #000;
		    					font-size:2.2vh;
		    				}
		    				ul{
		    					margin-top: 0;
		    					list-style: disc;
		    					li{
		    						padding-left:0;
		    						color: #000;
									font-size:1.8vh;
									margin-bottom: 0;
		    					}
		    				}
		    			}
		    		}
	    		}
			}
			.press{
				.content{
					
					img{
						width: auto;
						height: 100%;
						margin: 0 auto;
					}
					.quote{
						color: @grey;
						width: 100%;
						margin: 0 auto 40px;
						font-size: 1.2vw;
						@media screen and (max-width: 1100px){
							font-size:16px;
						}
						.press-image{
							height: 31px;
							margin-top: 10px;
							&.thr{
								height: 42px;
							}
							&.playlist{
								height: 40px;
							}
							&.rolling-stone{
								height:36px;
							}
						}
						.name{
							text-transform: uppercase;
							color: @grey;
							font-weight: 700;
							font-size: 0.8em;
							margin-top: 7px;
						}
						&.special{
							color: #000;
							.press-image{
								margin-top: 0;
								height: 23px;

							}
							.banner{
								color: @gold;
								font-size: 1.7em;
								line-height: 0.8em;
								margin:10px;
								span{
									font-size: 0.8em;
									letter-spacing: 0.2px;
								}
							}
							.quote-text{
								color: #000;
								font-size: 0.9em;
								span{
									font-weight: bold;
									font-size: 1.3em;
								}
								a{
									text-decoration: underline;
									color: @grey;
									font-weight: bold;
									font-size: 0.7em;
								}
							}
						}
					}
				}
			}

			.music,.score,.songs, .song{
				width:95%;
				margin: 0 auto;
				color:@grey;
				.prime-quote{
					.quote{
						
						span{
							//font-size: 1em;
						}
					}
				}
				.overture{
				    font-size: 1.3em;
				    margin-bottom: 1vw;
				    display: block;
				    text-transform: uppercase;
				    text-decoration: underline;
				    color: @blue;
				}
				.content{
					text-align: center;
					max-width: 900px;
					margin: 0 auto;
					font-size: 1vw;
					@media screen and (max-width:1200px){
						font-size: 16px;
					}
					&:after{
						display: table;
						content:"";
						clear:both;
					}
					.audio-player{
						.song-title{
							font-weight: bold;
							font-size: 1.4em;
							margin-bottom: 15px;

						}
						.song-credit{
							margin-bottom: 10px;
						}
						audio{
							width: 80%;
						    //background: #f1f3f4;
						}
					}
					.track-list{
						margin: 20px auto 0;
						text-align: left;
						width: 80%;
						padding-bottom:30px;
						&:after{
							display: table;
							content:"";
							clear:both;
						}
						.col{
							
							width: 45%;
							&.left{
								float: left;
							
							}
							&.right{
								float: right;
							}
						}
						.play,.play-all{
							font-weight: bold;
							text-align: center;
							margin-top: 10px;
						
							cursor: pointer;
							img{
								display: inline;
							    width: 1vw;
							    margin-right: 8px;
							    top: 2px;
							    position: relative;
							}
							
						}
						.track{
							position:relative;
							padding:8px 0;
							margin-top: -1px;
							border-bottom:1px solid #ccc;
							cursor: pointer;
							
							&:first-child{
								border-top:1px solid #ccc;
							}
							&:after{
								display: table;
								content:"";
								clear:both;
							}
							.switcher{
								position:absolute;
								width:38px;
								height: 100%;
								left: 0;
								top: 0;
								overflow: hidden;
								.number{
									text-align: center;
									height: 33px;
									padding-top:8px;
									position:absolute;
									width:100%;
									top:0;

								}
								.play-btn{
									top: 100%;
									
									width:28px;
									height: 28px;
									background:url(../img/ui/PLAY_ICON.png) no-repeat;
									background-size: contain;
								    position: absolute;
								}
							}
							.track-info{
								padding-left:15%;
								
							}

							&:hover{
								.switcher{
									.number{
										top: 100%;
									}
									.play-btn{
										top: 50%;
										transform:translateY(-50%);
									}
								}
							}
							&.playing{
								.switcher{
									.number{
										top: 100%;
									}
									.play-btn{
										top: 50%;
										transform:translateY(-50%);
										background:url(../img/ui/STOP_ICON.png) no-repeat;
										background-size: 100%;
									}
								}
							}
						}
						.play-all{
							clear: both;
							text-align: left;
							
							font-size: 0.9em;
							padding-left:15%;
							img{
								width: 0.9em;
								height:1em;
							}						
						}
					}
					
					.category{
						color:@gold;
						font-size:1.1em;
						line-height: 0.8em;
					}
					.name{
						font-size: 1.55em;
						margin-bottom:30px;
					}
				}
			}
			.songs,.song{
				.content{
					.audio-player{
						margin-bottom: 20px;
						.song-title{
							margin-bottom: 0;
							
						}
					}
					.song-div{
						text-align: center;
						width:100%;
						margin-bottom: 40px;
						white-space: nowrap;
						display: flex;
						> div{
							display: inline-block;
							vertical-align: top;
							text-align: left;
							width: 48%;
							padding-left:2%;
							font-size:1.1em;
							white-space: initial;
						}
						.name{
							margin-bottom:0;
							font-size: 1.1em;
							margin-top: 4px;
							line-height: 1em;
						}
						.subline{
							color: @gold;
							margin-top: 10px;
						}
						.sub-name{
							
						}
						&.left{
							float: left;
						}
						&.right{
							float: right;
						}
						.play{
							font-weight: bold;
							margin-top: 10px;
							background:url(../img/ui/small-blue-play-btn.png) no-repeat;
							background-position:1px 0px;
							background-size: 14px;
							padding-left:23px;
							color:@blue;
							font-size: 1.1em;
							cursor: pointer;
						    margin-bottom: 26px;
						    &:last-child{
						    	margin-bottom: 0;
						    }
							&.playing{
								background:url(../img/ui/small-blue-stop-btn.png) no-repeat;
							}
						}
						.cover{
							width: 50%;
							margin: 0;
							padding:0;
							position: relative;
							
							img{
								width: 11vw;
								min-width:100px;
							
								position:absolute;
								right: 0;
							}
						}
					}
					.song-div.video{
						display: block;
						margin-top: 2%;
						width: 100%;
						> div{
							display: block;
							text-align: center;
							width: 100%;
							padding:0;
						}
						.category{
							font-size: 1.3em;
						}
						.name{
							font-size: 1.4em;
						}
					}
					.video-player{
						position:relative;
						margin-top: 1%;
						
						video{
							width: 100%;
							height: auto;
							display: block;
						}
						.poster{
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
							text-align: center;
							overflow: hidden;
							img{
								height: 100%;
								width: auto;
							    left: 50%;
							    position: relative;
							    transform: translateX(-50%);
								position:relative;
							}
							.play-btn{
								background:url(../img/ui/video-play-btn.png) no-repeat;
								background-position:50%;
								background-size:cover;
								width: 100px;
								height: 100px;
								position:absolute;
								top:50%;
								left: 50%;
								transform:translate(-50%,-50%);
							}
						}
						
					}
				}
			}
			.videos{
				.content{
					.video-player{
						position:relative;
						video{
							width: 100%;
							height: auto;
							display: block;
						}
						.poster{
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
							text-align: center;
							overflow: hidden;
							img{
								height: 100%;
								width: auto;
							    left: 50%;
							    position: relative;
							    transform: translateX(-50%);
								position:relative;
							}
						}
					}
				}
			}
			.accolades{
				.content{
					text-align: center;
					.award{
						width: 40%;
						margin:0 auto 3vw;
						position:relative;

					}
					.column{
						position:relative;
						display: inline-block;
						vertical-align: top;
						
						&.left{
							width:19.276633840644584vw;
							margin-left: 3vw;
						}
						&.center{
							width: 17.278424350940018vw;
							margin: 0 3vw 2.5vw;
						}
						&.right{
							width:22.090420769919427vw;
						}
					}
				}
			}
		}
	}
	&#bp-page{
		.page-header{
			padding-top: 3.4vw;
			.logo{
				max-width: 321px;
				min-width: 200px;
			}
		}
		.subpages{
			.limiter{
				.consider{
					@media (min-width:852px) and (max-width: 1024px){
						font-size:1vw;
					}
				}
				.song{

					.prime-quote{
						.press-logo{
							width: 11%;
						}
						.quote{
						
						}
					}
				}
				.accolades{
					.content{
						.award.nbr{

							width: 30.662488809310654vw;
						
						}
					}
				}
			}
		}
	}
	&#avengers-page{
		.page-header{
		    padding-top: 5.6vw;
		}
	}
	&#ralph-page{
		.page-header{
			padding-top: 2.48vw;
			.logo{
				width: 11%;
			}
		}
		.subpages{
			.limiter{
				.consider{
					.content{
						.left, .right{
							margin: 0;
							width: 25%;    
							//display: flex;
						    // flex-wrap: wrap;
						    // align-content: space-between;
						    > div{
						    	margin-bottom:20px;
						    }
						}
					}
					.inline-clear{
						display: flex;
						justify-content:space-between;
					}
				}
				.song .content .song-div .cover img{
					height: 100%;
					width: auto;
				}
				.accolades{
					.content{
						
						.award{
							&.gg{

							}
							&.annie{
								margin-top: 8px;
							}
							&.detroit{
								width:34%;
							}
						}
					}
				}
			}
		}
	}
	&#incredibles-page{
		.page-header{
			padding-top:3.32vw;
			.logo{
				width: 12%;
			}
		}
		.subpages{
			.limiter{
				.accolades{
					.content{
					
						.award{
							display: inline-block;
							&.gg{
							
							}
							&.nbr{
								
							}
						}
					}
				}
			}
		}
	}
	&#bao-page{
		.subpages {
			.limiter{
				.consider{
					.content{
						.oscar{
							width: 55%;
							margin:0 auto 40px;
						}
						h3{
							margin-bottom: 15px;
						}
						.category{
							font-weight:700;
							font-size:1.8em;
						}
						.subline{
							margin-top:10px;
						}
					}
				}
			}
		}
	}
	&#mp-page{
		.page-header{
			padding-top:1.85vw;
			.logo{
				width:11%;
			}
		}
		.subpages{
			.limiter{
				.consider{
					width: 110%;
					left: 1%;
					.content{
						h3{
							left: -5%;
							position: relative;
						}
						.left,.right{
							margin:0;
							width: 24.7%;
						}
					}
				}
				.songs{
					.content{
						.song-div{
							.cover{
								img{
									height: 100%;
									width: auto;

								}
							}
						}
					}
				}
				.accolades{
					.content{
						.award{
							display: inline-block;
						}
					}
				}
			}
		}
	}
}
@media @180asr{
	#wrapper{
		.limiter{
			max-width: 1200px;
			.film{
				
			}
		}
	}
}
@keyframes light{
	from {left:-106%}
	to {left:110%}
}
@import 'ipad.less';

@import 'mobile.less';
