@media screen and (max-width:736px) {
  html {
    height: initial;
    overflow-x: hidden;
  }
  body {
    height: initial;
    -webkit-overflow-scrolling: touch;
  }
  header {
    display: none;
  }
  .mobile {
    display: block;
  }
  #wrapper {
    min-height: 87vh;
    position: relative;
  }
  #wrapper .fyc-banner {
    position: relative;
    text-align: center;
    padding: 0;
    margin-top: 14px;
    width: 100%;
  }
  #wrapper .fyc-banner a {
    width: 32%;
    top: 0;
    transform: none;
    float: none;
    margin: 0 auto;
  }
  #wrapper .fyc-banner a img {
    width: 100%;
  }
  #wrapper .fyc-banner img {
    width: 38%;
    top: 0;
    margin-top: 8px;
    transform: none;
  }
  #wrapper .fyc-banner .nowrap {
    font-size: 17px;
    width: 100%;
    margin: 0 auto;
    display: block;
    line-height: 1.1em;
    margin-top: 13px;
  }
  #wrapper .title {
    position: relative;
    background: url(../img/AWARDS-2018_m.png) no-repeat;
    margin: 5px auto 0;
    width: 100%;
    background-position: 50% 0%;
    background-size: auto 100%;
    height: 22px;
    left: 0;
    top: 0;
  }
  #wrapper .limiter .film {
    width: 90%;
    padding-top: 90%;
  }
  #wrapper .limiter .film:hover {
    transform: none;
  }
  #wrapper .limiter .film:hover .light {
    display: none;
  }
  .scrollable {
    width: 100% !important;
  }
  .limiter {
    margin-top: 20px;
    width: 100%;
  }
  #page-holder .back-btn {
    color: #c19941;
    text-align: center;
  }
  .page .page-header .nav {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .page .page-header .nav .nav-link {
    margin-right: 0;
  }
  .page .page-header .logo {
    min-width: 150px;
  }
  .page .film-strip {
    height: 46vw;
    width: 100vw;
  }
  .page .film-strip .slider {
    width: 600%;
    position: relative;
  }
  .page .film-strip .slider img {
    margin: 0;
    width: 100vw;
    height: auto;
    display: block;
    float: left;
  }
  .page .film-strip .slider:after {
    content: '';
    display: table;
    clear: both;
  }
  .page .subpages .limiter {
    width: 90%;
    max-width: initial;
  }
  .page .subpages .limiter .prime-quote .press-logo {
    min-width: 110px;
  }
  .page .subpages .limiter .prime-quote .quote {
    font-size: 11px;
  }
  .page .subpages .limiter .prime-quote .name {
    font-size: 10px;
  }
  .page .subpages .limiter .consider {
    font-size: 12px;
  }
  .page .subpages .limiter .consider .content h3 {
    font-size: 1.6em;
  }
  .page .subpages .limiter .consider .content .left,
  .page .subpages .limiter .consider .content .right {
    text-align: center;
    margin: 0;
  }
  .page .subpages .limiter .synopsis {
    font-size: 16px;
    line-height: 1.3em;
  }
  .page .subpages .limiter .synopsis .content {
    width: 100%;
  }
  .page .subpages .limiter .press .content .quote {
    font-size: 13px;
  }
  .page .subpages .limiter .press .content .quote br {
    display: none;
  }
  .page .subpages .limiter .press .content .quote .name {
    font-size: 1em;
  }
  .page .subpages .limiter .music .content .left,
  .page .subpages .limiter .music .content .right {
    float: none;
    width: 100%;
  }
  .page .subpages .limiter .music .content .left {
    margin-bottom: 20px;
  }
  .page#mp-page .subpages .limiter .consider {
    width: 100%;
    left: 0;
  }
  .page#mp-page .subpages .limiter .consider .content h3 {
    left: 0;
  }
  .page#mp-page .subpages .limiter .consider .content .left,
  .page#mp-page .subpages .limiter .consider .content .right {
    width: 100%;
  }
  .page#incredibles-page .subpages .consider .content .left,
  .page#incredibles-page .subpages .consider .content .right {
    width: 100%;
    text-align: center;
  }
  #rsvp-form {
    width: 100%;
    left: 0;
    transform: none;
    top: 0;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 5vh 2vh;
  }
  #rsvp-form h2 {
    font-size: 40px;
    padding-right: 10px;
  }
  #rsvp-form .screening-info {
    width: 62%;
  }
  #rsvp-form #rsvp-message h4 {
    font-size: 16px;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 12px;
    transform: rotate(45deg);
    font-size: 45px;
    font-weight: 300;
  }
  #footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  footer {
    bottom: 0px;
    margin-top: 15px;
    font-size: 11px;
    line-height: 1.5em;
    margin-top: 5px;
    position: relative;
    top: 0px;
    padding-bottom: 5px;
    margin: 20px auto 0;
    background: #104493;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    line-height: 2em;
  }
  footer a {
    display: block;
  }
  footer .copyright {
    margin: 15px auto;
    display: block;
  }
  .desktop {
    display: none;
  }
}
var {
  display: none;
}
@media screen and (max-width: 685px) {
  .consider {
    position: relative;
  }
  .consider .scrollable > div {
    flex: 1 100% !important;
    display: block !important;
    left: 0 !important;
    text-align: center !important;
  }
  .consider .scroller {
    left: 80% !important;
  }
}
